<mat-card>
  <div *ngFor="let category of beasts">
    <h2>{{category[0].name.substring(0,1) | uppercase}}</h2>
    <mat-divider></mat-divider>
    <div class="beastDiv">
      <button [routerLink]="['/main/beast', beast.id, 'gm']" *ngFor="let beast of category" class="beastButton"
        mat-button>
        <i *ngIf="beast.patreon !== 0" matTooltip="Advanced"
          class="fab fa-patreon icon-blue"></i>
        <i *ngIf="beast.patreon >= 20" matTooltip="Early Access" class="fas fa-plus icon-blue"></i>
        {{beast.name}}
      </button>
    </div>
  </div>
</mat-card>