<mat-card>
  <div *ngFor="let category of beasts">
    <h2>{{category[0].name.substring(0,1) | uppercase}}</h2>
    <mat-divider></mat-divider>
    <div class="beastDiv">
      <div *ngFor="let beast of category">
        <button *ngIf="beastService.loggedIn > 2 && beast.patreon < 19 || beastService.loggedIn > 19 || beastService.loggedIn === 'owner'"
          [routerLink]="['/main/beast', beast.id, 'gm']" class="beastButton" mat-button>
          <i *ngIf="beast.patreon >= 20" matTooltip="Early Access" class="fas fa-dice-d20 icon-blue"></i>
          <i *ngIf="beast.patreon >= 2 && beast.patreon < 20" matTooltip="Advanced" class="fas fa-plus icon-blue"></i>
          {{beast.name}}
        </button>
        <button *ngIf="beastService.loggedIn < 3 && beastService.loggedIn !== 'owner' || beastService.loggedIn < 20 && beast.patreon > 19" disabled
          class="beastButton" mat-button>
          <i *ngIf="beast.patreon >= 20" matTooltip="Early Access" class="fas fa-dice-d20 icon-blue"></i>
          <i *ngIf="beast.patreon >= 2 && beast.patreon < 20" matTooltip="Advanced" class="fas fa-plus icon-blue"></i>
          {{beast.name}}
        </button>
      </div>
    </div>
  </div>
</mat-card>