.img-shell {
  height: 100px;
  width: 100px;
  overflow: hidden;
  margin: 0 auto;
}

img {
  width: 100px;
  margin-top: 15px;
}

.beastDiv {
    display: flex;
    overflow-y: auto;    
    align-content: flex-start;
    margin-top: 1px;
}

.mat-button {
  vertical-align: bottom;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: grey; 
  }