.img-shell {
  height: 100px;
  width: 100px;
  overflow: hidden;
}

img {
  width: 100px
}

.beastDiv {
    display: flex;
    flex-wrap: wrap;
    max-height: 320px;
    overflow-y: auto;    
    align-content: flex-start;
    margin-top: 15px;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: grey; 
  }