button {
    margin-right: 15px
}

.marginBottom {
    margin-bottom: 15px;
}

.square-shell {
    background: whitesmoke;
}

.input-with-tooltip-shell {
    width: 220px;
    display: inline-block;
}

.p-subtitle {
    color: gray
}

.damage-skill-shell {
    display: flex;
    align-items: center;
}

.damage-skill-shell .p-subtitle {
    margin-right: 5px;
}