<h3>
  <mat-form-field>
    <input placeholder="Weapon Name" matInput [value]="square.weapon"
      (change)="captureInput($event, 'weapon')">
  </mat-form-field>
</h3>
<div class="edit-combat-squares-shell">
  <div>
    Modified Square
    <div class="square-shell">
      <img class="combat-image" src="../../../../assets/square.png" alt="combat square">
      <p class="spd">{{selectedRole.spd + square.spd}}</p>
      <p class="atk">{{selectedRole.atk + square.atk}}</p>
      <p class="init">{{selectedRole.init + square.init}}</p>
      <p class="def">{{evaluate(selectedRole.def, square.def)}}</p>
      <p class="fatigue">{{ square.fatigue }}</p>
      <div class="dr">
        <p>{{displayedDR}}</p>
        <p class="shield_dr" *ngIf='square.shield_dr && square.shield_dr !== " "'>{{displayedShieldDR}}</p>
      </div>
      <div class="measure">
        <p *ngIf="square.weapontype !== 'r'">{{selectedRole.measure + square.measure}}</p>
        <p *ngIf="square.weapontype === 'r'">{{selectedRole.ranges.increment + square.ranges.increment}}ri <i
            class="fas fa-info-circle icon-small blue" matTooltip="Stands for Range Increment. 
            Between 5 ft and {{selectedRole.ranges.increment + square.ranges.increment}} ft, -0 atk penalty. 
            Between {{selectedRole.ranges.increment + square.ranges.increment + 1}} ft and {{(selectedRole.ranges.increment + square.ranges.increment) * 2}} ft, -2 atk penalty.
            Between {{((selectedRole.ranges.increment + square.ranges.increment) * 2) + 1}} ft and {{(selectedRole.ranges.increment + square.ranges.increment) * 3}} ft, -4 atk penalty.
            and so on." matTooltipClass="my-tooltip"></i></p>
      </div>
      <p class="damage">{{displayedDamage}}</p>
      <p class="parry">{{selectedRole.parry + square.parry}}</p>
    </div>

    <mat-form-field>
      <mat-label>Weapon Type</mat-label>
      <mat-select [value]="square.weapontype" (selectionChange)="captureSelect($event, 'combat', i, 'weapontype')">
        <mat-option value="m">
          m
        </mat-option>
        <mat-option value="r">
          r
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="edit-combat-squares-shell-right">
    <div class="square-combat-shell">
      <mat-form-field>
        <input
          id="{{selectedRole.strengths.includes('Recovery') ? 'green' : selectedRole.weaknesses.includes('Recovery') ? 'red' : ''}}"
          placeholder="Recovery" matInput [value]="square.spd" (change)="captureInputNumber($event, 'spd')">
      </mat-form-field>
      <mat-form-field>
        <input
          id="{{selectedRole.strengths.includes('Melee Attack') ? 'green' : selectedRole.weaknesses.includes('Melee Attack') ? 'red' : ''}}"
          placeholder="Attack" matInput [value]="square.atk" (change)="captureInputNumber($event, 'atk')">
      </mat-form-field>
      <mat-form-field>
        <input placeholder="Initiative" matInput [value]="square.init"
          (change)="captureInputNumber($event, 'init')">
      </mat-form-field>
      <mat-form-field>
        <input
          id="{{selectedRole.strengths.includes('Defense') ? 'green' : selectedRole.weaknesses.includes('Defense') ? 'red' : ''}}"
          placeholder="Defense" matInput [value]="square.def" (change)="captureInputNumber($event, 'def')">
      </mat-form-field>
      <mat-form-field>
        <input
          id="{{selectedRole.strengths.includes('Fatigue') ? 'green' : selectedRole.weaknesses.includes('Fatigue') ? 'red' : ''}}"
          placeholder="Fatigue" matInput [value]="square.fatigue"
          (change)="captureInput($event, 'fatigue')">
      </mat-form-field>
      <mat-form-field>
        <input
          id="{{selectedRole.strengths.includes('Measure') ? 'green' : selectedRole.weaknesses.includes('Measure') ? 'red' : ''}}"
          placeholder="Measure" matInput [value]="square.measure"
          (change)="captureInputNumber($event, 'measure')">
      </mat-form-field>
    </div>
    <div>
      Armor
      <div>
        <mat-form-field>
          <input
            id="{{selectedRole.strengths.includes('/DR') ? 'green' : selectedRole.weaknesses.includes('/DR') ? 'red' : ''}}"
            placeholder="/DR" matInput [value]="square.newDR.slash" (change)="captureInputNumber($event, 'newDR', 'slash')">
        </mat-form-field>
        <mat-form-field>
          <input
            id="{{selectedRole.strengths.includes('DR') ? 'green' : selectedRole.weaknesses.includes('DR') ? 'red' : ''}}"
            placeholder="DR" matInput [value]="square.newDR.flat" (change)="captureInputNumber($event, 'newDR', 'flat')">
        </mat-form-field>
      </div>
    </div>
    <div>
      Parry/Shield
      <div>
        <mat-form-field>
          <input
            id="{{selectedRole.strengths.includes('Parry') ? 'green' : selectedRole.weaknesses.includes('Parry') ? 'red' : ''}}"
            placeholder="Parry" matInput [value]="square.parry" (change)="captureInputNumber($event, 'parry')">
        </mat-form-field>
        <mat-form-field>
          <input
            id="{{selectedRole.strengths.includes('Parry DR') ? 'green' : selectedRole.weaknesses.includes('Parry DR') ? 'red' : ''}}"
            placeholder="Shield /DR" matInput [value]="square.newShieldDr.slash"
            (change)="captureInputNumber($event, 'newShieldDr', 'slash')">
        </mat-form-field>
        <mat-form-field>
          <input
            id="{{selectedRole.strengths.includes('Parry /DR') ? 'green' : selectedRole.weaknesses.includes('Parry /DR') ? 'red' : ''}}"
            placeholder="Shield DR" matInput [value]="square.newShieldDr.flat"
            (change)="captureInputNumber($event, 'newShieldDr', 'flat')">
        </mat-form-field>
      </div>
    </div>
    <div>
      Damage
      <div>
        <div *ngIf="squareDamageArray.length > 0">
          Click to remove 1 dice
          <mat-chip-list>
            <div *ngFor="let dice of squareDamageArray; let i = index">
              <mat-chip (click)="removeChip(dice.type)" color="warn" selected>
                {{dice.number}}d{{dice.type}}!
              </mat-chip>
            </div>
          </mat-chip-list>
        </div>
        <div>
          Click to add 1 dice
          <div>
            <button mat-raised-button color="accent" (click)="addChip('3')">d3!</button>
            <button mat-raised-button color="accent" (click)="addChip('4')">d4!</button>
            <button mat-raised-button color="accent" (click)="addChip('6')">d6!</button>
            <button mat-raised-button color="accent" (click)="addChip('8')">d8!</button>
            <button mat-raised-button color="accent" (click)="addChip('10')">d10!</button>
            <button mat-raised-button color="accent" (click)="addChip('12')">d12!</button>
            <button mat-raised-button color="accent" (click)="addChip('20')">d20!</button>
          </div>
        </div>
        <mat-form-field>
          <input
            id="{{selectedRole.strengths.includes('Melee Damage') ? 'green' : selectedRole.weaknesses.includes('Melee Damage') ? 'red' : ''}}"
            placeholder="Flat Damage Modifier" matInput [value]="square.newDamage.flat"
            (change)="captureInputNumber($event, 'newDamage', 'flat')">
        </mat-form-field>
      </div>
    </div>
  </div>

  <div *ngIf="square.weapontype == 'r'" class="ranged-shell">
    <h3>Range</h3>
    <div class="ranged-title">
      <h4>Penalty</h4>
      <h4>Range (ft)</h4>
    </div>
    <div>
      <h4>0</h4>
      <h4>5 - {{(+square.ranges.increment)}}</h4>
    </div>
    <div class="ranged-odd">
      <h4>-2</h4>
      <h4>{{(+square.ranges.increment) + 1}} -
        {{+square.ranges.increment * 2}}</h4>
    </div>
    <div>
      <h4>-4</h4>
      <h4>{{(+square.ranges.increment * 2) + 1}} -
        {{+square.ranges.increment * 3}}</h4>
    </div>
    <div class="ranged-odd">
      <h4>-8</h4>
      <h4>{{(+square.ranges.increment * 3) + 1}} -
        {{+square.ranges.increment * 4}}</h4>
    </div>
    <div>
      <h4>-16</h4>
      <h4>{{(+square.ranges.increment * 4) + 1}} -
        {{+square.ranges.increment * 5}}</h4>
    </div>
    <div class="ranged-odd">
      <h4>-32</h4>
      <h4>{{(+square.ranges.increment * 5) + 1}} -
        {{square.ranges.increment * 6}}</h4>
    </div>
    <mat-form-field>
      <input placeholder="Range Increment" matInput [value]="square.ranges.increment"
        (change)="captureInput($event, 'combat', i, 'ranges', 'increment')">
    </mat-form-field>
  </div>
</div>

<button mat-raised-button (click)="removeNewSecondaryItem('combat', i)" color="warn">REMOVE
  WEAPON</button>