mat-card {
    margin-top: 15px;
    width: 400px;
    height: 100%;
}

.results-shell {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
}

.back-to-catalog {
    background: #ff5722;
    color: white;
    position: absolute;
    left: 0;
    top: -41px;
    height: 50px;
    width: 50px;
    font-size: 40px;
    padding: 5px 0 0 7px;
    border-radius: 100%;
    transition: .6s;
}

.back-to-catalog:hover {
    color: #ff5722;
    background: white;
}

.header-shell {
    margin: -16px -16px 0 !important;
    width: unset;
    display: flex;
    justify-content: center;
    position: relative;
    background: #607d8b;
    color: white;
    min-height: 61px;
    align-items: center;
    overflow: hidden;
}

h1 {
    font-family: 'umbria';
    text-align: center;
    max-width: 315px;
}

p {
    white-space: pre-wrap;
    line-height: 1.4;
}

.icon {
    position: absolute;
    left: -36px;
    font-size: 82px;
}

.pair-shell {
    padding: 5px 3px;
    display: flex;
    align-items: center;
}

.notes-strong {
    padding: 5px 3px;
}

.pop-up .striped-background:nth-child(2) {
    margin-top: 15px;
}

.pop-up .striped-background:nth-child(odd) {
    background: lightgray
}

strong {
    font-family: 'know';
    font-weight: bold;
    min-width: 125px;
}