.main-app-shell {
    margin: 0 15px 0 15px;
}

.bottomMenu {
    margin-top: 15px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.title {
    font-family: 'Hamletornot';
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 35px;
    cursor: pointer;
}

.right-most-buttom {
    margin-left: 15px;
}

img {
    width: 50px;
    height: 50px;
}

.mat-toolbar-row {
    justify-content: space-between;
}

.mat-toolbar-row div {
    display: flex;
    align-items: center;
}

.subtitle-mobile {
    display: none;
}

.subtitle-desktop {
    margin-left: 10px;
    cursor: pointer;
}

@media (max-width: 699px) { 
    .subtitle-desktop {
        display: none;
    }

    .subtitle-mobile {
        display: inherit;
        margin-top: -15px;
        cursor: pointer;
    }

    .main-app-shell {
        margin: 0;
    }

    img {
        width: 35px;
        height: 35px;
    }

    .title {
        font-size: 25px;
    }

    button {
        margin-bottom: 5px;
    }

    .mat-toolbar-row {
        flex-direction: column;
        height: 100%
    }
}