<div id="top"></div>

<app-quick-view-drawer></app-quick-view-drawer>

<div class="main-app-shell">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div>
        <img src="../../../assets/TWRealFire.png" alt="Bonfire RPG Logo">
        <h1 routerLink="/catalog" class="title">Bonfire Bestiary</h1>
        <p class="subtitle-desktop">(& Obstacle Index)</p>
      </div>
        <p class="subtitle-mobile">(& Obstacle Index)</p>

      <div>
        <button mat-flat-button color="accent" [routerLink]="['/obstacle']">Obstacle Index <i
            class="fas fa-arrow-right"></i></button>
        <button class="new-button right-most-buttom" *ngIf="loggedIn === 'owner'" mat-raised-button color="accent"
          [routerLink]="['/beast', 0, 'edit']">New</button>
        <div *ngIf="!loggedIn" class="right-most-buttom">
          <a href={{loginEndpoint}}>
            <button mat-raised-button>Log In</button>
          </a>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <app-search-bar></app-search-bar>

  <router-outlet></router-outlet>

  <mat-toolbar class="bottomMenu" color="primary">
    <mat-toolbar-row>
      <a href="https://discordapp.com/invite/G8GVTME" target="_blank">Discord</a>
      <a href="https://bonfire.dragon-slayer.net/" target="_blank">Bonfire SRD</a>
      <a href="https://dragon-slayer.net/" target="_blank">Dragon Slayer Site</a>
    </mat-toolbar-row>
  </mat-toolbar>
</div>