thead {
    background: #607d8b;
    color: whitesmoke;
    text-align: center;
    font-family: 'know'; letter-spacing: 1px;
}

thead tr td {
    background: #4b4b4b
}

tbody tr th {
    background: gray;
    color: whitesmoke;
    font-family: 'know'; letter-spacing: 1px;
    text-align: center;
}

tbody tr:nth-child(odd) {
    background: lightgray
}

tbody tr td {
    text-align: center;
}

tbody tr td:first-child {
    text-align: left !important;
}

th, td {
    min-width: 80px;
    padding: 2px 5px;
}

.justify-right {
    padding-left: 25px;
}

.checkmark-role-background ::ng-deep .mat-checkbox-background {
    background-color: #a9a9a9 !important;
}

.max-width-input {
    max-width: 80px;
}
