.open-quick-view-button {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 50px;
    width: 50px;
    z-index: 98;
    background-color: #607d8b;
    border-top-left-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.open-quick-view-button i {
    font-size: 30px;
    color: whitesmoke
}

.open-quick-view-button:hover {
    cursor: pointer;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100vw; /* Full width (cover the whole page) */
    height: 100vh; /* Full height (cover the whole page) */
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 96; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    transition: .6s;
}

.overlay-closed {
    right: -100vw;
}

.quick-view-drawer {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 66vw;
    background: rgba(211, 211, 211);
    z-index: 97;
    transition: .6s;
    padding: 15px 30px;
}

.drawer-closed {
    right: -66vw;
}

.quick-view-no-monsters-shell, .quick-view-with-monsters-shell {
    padding: 10px 0px
}
.quick-view-no-monsters-shell i {
    font-size: 15px;
}

.divider {
    width: 100%;
    height: 1px;
    background: lightgray;
    margin-top: 15px
}

.combat-image {
    width: 150px;
    z-index: 0;
    border-radius: 0;
}

.combat-shell {
    display: flex;
    flex-wrap: wrap;
}

.combat-square {
    margin-top: 10px;
    padding-right: 15px
}

.conflict-inner-shell {
    display: flex;
    flex-wrap: wrap;
}

.combat-shell h2 {
    width: 100%;
}

.conflict-inner-shell div {
    width: 100%;
}

.square-shell {
    height: 143px;
    width: 150px;
    position: relative;
}

.spd {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 13px;
    font-size: 17px;
}

.atk {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 70px;
    font-size: 17px;
}

.init {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 13px;
    font-size: 17px;
}

.def {
    position: absolute;
    z-index: 1;
    left: 30px;
    top: 65px;
    font-size: 17px;
}

.encumb {
    position: absolute;
    z-index: 1;    
    left: 63px;
    top: 65px;
    font-size: 15px;
    width: 30px;
    text-align: center;
}

.dr {
    position: absolute;
    z-index: 1;
    right: 13px;
    top: 48px;
    width: 44px;
    height: 45px;
    text-align: center;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}

.shield_dr {
    border-top: 2px solid grey;
}

.measure {
    position: absolute;
    z-index: 1;
    font-size: 17px;
    bottom: 18px;
    left: 13px;
}

.damage {
    position: absolute;
    z-index: 1;font-size: 12px;
    text-align: center;
    width: 60px;
    left: 45px;
    top: 97px;
}

.parry {
    position: absolute;
    z-index: 1;
    font-size: 17px;
    bottom: 18px;
    right: 13px;
}

.vitals-shell {
    background: rgba(211, 211, 211, 0.5);
    padding: 15px;
    border-radius: 4px;
    margin: 10px 0;
}

.vitals-shell h3 {
    color: #795548;
}

.flex-row-opposite {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.white {
    background: white;
    margin: 7px 0;
}

.blue {
    color: #607d8b !important;
}

h2 {
    font-family: 'know';
}

.quick-view-title {
    color: #607d8b !important;
    font-family: 'umbria';
}

.accordian-shell {
    overflow: auto;
    height: 90vh;
}

.locationVitality div:first-child .flex-row-opposite {
    border-top: 1px solid white;
    margin-top: 10px;
}
.locationVitality div:last-child .checkboxShell {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.locationVitality h3 {
    color: #607d8b;
    font-size: 17px;
    padding-top: 10px;
}

.checkboxShell {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px 0;
    justify-content: flex-start;
}

.checkboxShell p {
    width: 16px;
    text-align: center;
}

.add-button-shell {
    width: 100%;
    position: relative;
    height: 19px;
  }

  .add-button-shell div {
      position: absolute;
      right: 0;
      margin: 0;
      background: #607d8b;
      color: white;
      border-radius: 25px;
      padding: 2px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      cursor: pointer;
  }

  .remove-button-shell {
      background: #ff5722;
      color: white;
      border-radius: 25px;
      padding: 2px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      cursor: pointer;
  }

  .remove-button-shell .fa-minus, .add-button-shell .fa-plus {
      font-size: 15px;
  }

  mat-form-field {
      width: 90%;
  }

  mat-form-field h2 {
      margin: 0
  }

  .panicked {
      color: #ff5722
  }

  .panicked ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #ff5722!important;
  }

.panicked ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #ff5722;
  }