<div (click)="toggleQuickViewList()" class="open-quick-view-button">
  <i class="fas fa-address-card"></i>
</div>

<div (click)="toggleQuickViewList()" [ngClass]="quickViewListIsOpen ? 'overlay' : 'overlay-closed overlay'"></div>

<div [ngClass]="quickViewListIsOpen ? 'quick-view-drawer' : 'drawer-closed quick-view-drawer'">
  <h2>Quick View</h2>
  <div class="divider"></div>

  <div *ngIf="quickViewService.quickViewArray.length === 0" class="quick-view-no-monsters-shell">
    <p>You current have no monsters in your quick view.</p>
    <p>Right click on a monster's icon in the catelog and select "add to quick view"</p>
    <p>or hit the <i class="fas fa-plus"></i><i class="fas fa-address-card"></i> at the top of a monster's entry</p>
    <p>to add them.</p>
  </div>


  <!-- {
    "id": 244,
    "name": "Animated Corpse, Large",
    "sp_atk": "<p>None.</p>",
    "sp_def": "<p>Animated corpses are unable to go faster than a Jog.</p>",
    "vitality": "d8! + 30",
    "panic": 7,
    "hash": "1Ka6urEMgT",
    "stress": 0,
    "patreon": 0,
    "movement": [
        {
            "id": 279,
            "beastid": 244,
            "stroll": "5 ft / sec",
            "walk": "7.5 ft / sec",
            "jog": "15 ft / sec",
            "run": "0",
            "sprint": "0",
            "type": "Land"
        }
    ],
    "combat": [
        {
            "id": 320,
            "beastid": 244,
            "spd": 16,
            "atk": 0,
            "init": 10,
            "def": "-7",
            "shield_dr": null,
            "measure": 5.5,
            "damage": "2d12!+6",
            "parry": 0,
            "encumb": 0,
            "dr": "4",
            "weapon": "Maul",
            "weapontype": "m"
        },
        {
            "id": 321,
            "beastid": 244,
            "spd": 10,
            "atk": 0,
            "init": 10,
            "def": "-1",
            "shield_dr": null,
            "measure": 0,
            "damage": "d6!+6",
            "parry": 0,
            "encumb": 0,
            "dr": "4",
            "weapon": "Unarmed",
            "weapontype": "m"
        }
    ]
} -->

  <div *ngIf="quickViewService.quickViewArray.length > 0" class="quick-view-with-monsters-shelll">
    <div *ngFor="let beast of quickViewService.quickViewArray">
      <p>{{beast}}</p>
    </div>
  </div>

</div>