<mat-card>
    <i class="fas fa-search"></i>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Search by Name" (change)="enterSearchName($event)">
    </mat-form-field>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Advanced Seach
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="searchBody">
            <mat-form-field class="example-half-width">
                <input matInput placeholder="Search by Body" (change)="enterSearchBody($event)">
            </mat-form-field>

            <div>
                <p>HR</p>
                <mat-form-field class="example-quarter-width">
                    <input matInput placeholder="Min HR" (change)="enterSearchMinHr($event)">
                </mat-form-field>
                <p>-</p>
                <mat-form-field class="example-quarter-width">
                    <input matInput placeholder="Max HR" (change)="enterSearchMaxHr($event)">
                </mat-form-field>
            </div>

            <div>
                <p>Number Appearing</p>
                <mat-form-field class="example-quarter-width">
                    <input matInput placeholder="Min Appearing #" (change)="enterSearchMinAppearing($event)">
                </mat-form-field>
                <p>-</p>
                <mat-form-field class="example-quarter-width">
                    <input matInput placeholder="Max Appearing #" (change)="enterSearchMaxAppearing($event)">
                </mat-form-field>
            </div>

            <div>
                <p>Intelligence</p>
                <mat-form-field class="example-quarter-width">
                    <input matInput placeholder="Min Int" (change)="enterSearchMinInt($event)">
                </mat-form-field>
                <p>-</p>
                <mat-form-field class="example-quarter-width">
                    <input matInput placeholder="Max Int" (change)="enterSearchMaxInt($event)">
                </mat-form-field>
            </div>

            <mat-form-field>
                <mat-label>Size</mat-label>
                <mat-select (selectionChange)="enterSearchSize($event)">
                    <mat-option value="S">
                        Small
                    </mat-option>
                    <mat-option value="M">
                        Medium
                    </mat-option>
                    <mat-option value="L">
                        Large
                    </mat-option>
                    <mat-option>
                        I Don't Care
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Access</mat-label>
                <mat-select (selectionChange)="enterSearchAccess($event)">
                    <mat-option value="0">
                        Basic
                    </mat-option>
                    <mat-option value="3">
                        Advanced
                    </mat-option>
                    <mat-option value="20">
                        Early Access
                    </mat-option>
                    <mat-option>
                        I Don't Care
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Subsystem Focus</mat-label>
                <mat-select (selectionChange)="enterSearchSubsystem($event)">
                    <mat-option value="1">
                        Combat
                    </mat-option>
                    <mat-option value="3">
                        Conflict
                    </mat-option>
                    <mat-option value="2">
                        Skill
                    </mat-option>
                    <mat-option>
                        I Don't Care
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- <div class="searchCheckboxes">
                <mat-checkbox color='primary' (change)="enterSearchPersonalNotes($event)">Personal Notes</mat-checkbox>
            </div> -->

        </div>

        <mat-expansion-panel class="environPanel">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Types
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="searchCheckboxes environShell">
                <mat-checkbox color='primary' (change)="enterSearchTypes(1, $event)">Demon</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchTypes(2, $event)">Undead, Corporeal</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchTypes(3, $event)">Undead, Spirit</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchTypes(4, $event)">Elemental</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchTypes(5, $event)">Natural Creature</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchTypes(6, $event)">Magical Creature</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchTypes(7, $event)">Humanoid</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchTypes(8, $event)">Intelligent Evil</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchTypes(9, $event)">Goblinoid</mat-checkbox>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="environPanel">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Environments
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="searchCheckboxes environShell">
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(1, $event)">Dungeon/Ruins</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(2, $event)">Wilderness</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(3, $event)">Forest</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(4, $event)">Castle</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(5, $event)">Cave/Underground</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(6, $event)">Mountain</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(7, $event)">Plains</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(8, $event)">Swamp</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(9, $event)">Urban</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(10, $event)">Ship</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(11, $event)">Coastal</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(12, $event)">Aquatic</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(13, $event)">Other</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(14, $event)">Desert</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(15, $event)">Island</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(16, $event)">Jungle</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(17, $event)">Sewer</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(18, $event)">House</mat-checkbox>
            </div>
        </mat-expansion-panel>

    </mat-expansion-panel>
</mat-card>