<div class="combat-square-shell {{combatSquare.info ? '' : 'min-width-on-square'}}">
  <h4 class="weaponName">{{combatSquare.weaponname ? combatSquare.weaponname :
    combatSquare.defaultweaponname}}
    <i *ngIf="(combatSquare.weapon || combatSquare.armor || combatSquare.shield) && !showEquipmentSelection"
      (click)="toggleEquipmentSelection()" class="fa-solid fa-pen-to-square swap-equipment"
      matTooltip="Click to swap out gear." matTooltipClass="my-tooltip"></i>
    <i *ngIf="isASwarmBonus(combatSquare.weaponname ? combatSquare.weaponname : combatSquare.defaultweaponname)" class="fas fa-info-circle icon-small blue icon-small" matTooltip="For more information on what 'Swarm Bonus' means, see 'Swarm' in the Types section."></i>
  </h4>
  <app-combat-table [combatSquare]="combatSquare" [editing]="false"></app-combat-table>

  <div *ngIf="showEquipmentSelection">
    <mat-form-field>
      <input placeholder="Weapon" matInput [value]="combatSquare.weapon" [matAutocomplete]="weaponGroup"
        [formControl]="weaponControl">

      <mat-autocomplete #weaponGroup="matAutocomplete" (optionSelected)="captureSelected($event, 'weapon')"
        [displayWith]="getDisplayTextWeapon">
        <mat-optgroup *ngFor="let group of weaponGroupOptions | async" [label]="group.label">
          <mat-option *ngFor="let item of group.items" [value]="item">
            {{item}}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <input placeholder="Armor" matInput [value]="combatSquare.armor" [matAutocomplete]="armorGroup"
        [formControl]="armorControl">

      <mat-autocomplete #armorGroup="matAutocomplete" (optionSelected)="captureSelected($event, 'armor')"
        [displayWith]="getDisplayTextArmor">
        <mat-optgroup *ngFor="let group of armorGroupOptions | async" [label]="group.label">
          <mat-option *ngFor="let item of group.items" [value]="item">
            {{item}}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <input placeholder="Shield" matInput [value]="combatSquare.shield" [matAutocomplete]="shieldGroup"
        [formControl]="shieldControl">

      <mat-autocomplete #shieldGroup="matAutocomplete" (optionSelected)="captureSelected($event, 'shield')"
        [displayWith]="getDisplayTextShield">
        <mat-optgroup *ngFor="let group of shieldGroupOptions | async" [label]="group.label">
          <mat-option *ngFor="let item of group.items" [value]="item">
            {{item}}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>

    <mat-checkbox (change)="checkComponentVariable('showAllEquipment', $event)" [checked]="showAllEquipment">Show Me
      All
      Equipment</mat-checkbox>

    <div class="save-and-exit-shell">
      <i class="fa-solid fa-floppy-disk" (click)="saveEquipmentChange()"></i>
      <i class="fa-solid fa-circle-xmark orange" (click)="backOutofSwap()"></i>
    </div>
  </div>
</div>