strong {
    font-weight: bold;
}

.muted-explaination { 
    margin: 5px 0;
    color: grey;
}

.secondary-role-margin {
    margin-left: 15px;
    margin-top: -10px;
}

.flaw-severity-buttons {
    display: flex;
    flex-wrap: wrap;
}

.flaw-severity-buttons button {
    margin: 0 5px 5px 0;
}

.flaw-severity-range {
    margin: 5px 0;
}

.belief-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.belief-display:nth-child(even) {
    background: lightgray;
}

.belief-display mat-form-field {
    width: 47%;
    margin-right: 0;
}

.fa-trash {
    transition: .6s;
}

.fa-trash:hover {
    color: #ab6f00
}

.top-margin {
    margin-top: 5px;
}

.flex-opposite {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.warning {
    margin: 5px 0;
    color: #ab6f00;
}

::ng-deep .mat-tooltip {
    white-space: pre-line !important;
}

.unset-width {
    width: unset !important;
}

.select-width {
    width: 50%;
}

.tab-wrapper {
    margin: 15px 0;
    width: 99%;
}

button {
    margin-top: 15px;
}

img {
    width: 100%;
    border-radius: 5px;
}

h1 {
    font-family: 'umbria';
}

.add-to-quick-view {
    position: relative;
}

.add-to-quick-view .fa-square-plus {
    position: absolute;
    left: -13px;
}

.add-to-quick-view i {
    font-size: 20px;
    transition: .6s;
}

.add-to-quick-view:hover i {
    cursor: pointer;
    color: #ffd740;
}

.combat-image {
    width: 150px;
    z-index: 0;
    border-radius: 0;
}

mat-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

mat-toolbar {
    display: flex;
    justify-content: space-between;
    width: unset;
    margin: 15px 0px
}

.top-toolbar {
    margin: -16px -16px 0 !important;
}

.content-shell {
    display: flex;
    justify-content: space-evenly;
}

.rolled-stats-shell mat-form-field {
    width: 60%;
    text-align: right;
}

.new-roll-shell {
    display: flex;
    flex-direction: column;
}

.point-shell {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 106px;
    width: 86px;
    background-color: #607d8b;
    z-index: 99;
    border-top-right-radius: 25px;
    display: flex;
    flex-direction: column;
}

.point-shell h5:first-child {
    margin-top: 19px;
}

.point-shell h5 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-align: center;
    color: whitesmoke;
    border-bottom: 1px solid whitesmoke;
}

.specialDamage { 
    top: 90px !important;
}

.point-shell h4 {
    color: whitesmoke;
    margin: 2px;
}

.point-shell p {
    text-align: center;
    color: whitesmoke;
}

.characteristic-edit-shell {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.carried-loot-shell {
    width: 33%;
}

.edit-shell-box {
    display: flex;
    flex-direction: column;
    position: relative;
}

.explaination-shell {
    position: fixed;
    bottom: 0;
    left: 84px;
    height: 46px;
    background-color: rgba(211, 211, 211, 1);
    border-right: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
    z-index: 98;
    border-top-right-radius: 25px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    justify-content: flex-end;
}

.edit-content {
    flex-direction: column;
}

.edit-combat-squares-shell {
    display: flex;
    justify-content: space-between;
}

.divider {
    width: 100%;
    height: 1px;
    background: lightgray;
    margin: 10px 0
}

.mat-expansion-panel {
    box-shadow: none;
    background: rgba(211, 211, 211, 0.5);
}

.box-padding {
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
}

.padding-without-flex {
    padding: 10px 5px;
}

.flex-row-opposite {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-row-opposite span {
    display: flex
}

.flex-row-opposite span p:last-child {
    margin-left: 5px
}

.flex-row-opposite button {
    margin: 0;
}

.flex-row-together {
    justify-content: flex-start;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.left {
    padding: 15px;
    min-height: 500px;
    width: 40%;
}

.combat-shell {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.combat-square {
    margin-top: 10px;
    padding-right: 15px
}

.conflict-inner-shell {
    display: flex;
    flex-wrap: wrap;
}

.combat-shell h2 {
    width: 100%;
}

.conflict-inner-shell div {
    width: 100%;
}

.square-shell {
    height: 143px;
    width: 150px;
    position: relative;
}

.challenge-header {
    margin-top: 15px;
}

.spd {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 5px;
    font-size: 17px;
}

.atk {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 70px;
    font-size: 17px;
}

.init {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 5px;
    font-size: 17px;
}

.def {
    position: absolute;
    z-index: 1;
    left: 15px;
    top: 48px;
    font-size: 17px;
    width: 44px;
    height: 45px;
    text-align: center;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}

.fatigue {
    position: absolute;
    z-index: 1;
    left: 62px;
    top: 67px;
    font-size: 15px;
    width: 30px;
    text-align: center;
}

.dr {
    position: absolute;
    z-index: 1;
    right: 13px;
    top: 48px;
    width: 44px;
    height: 45px;
    text-align: center;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}

.shield_dr, .shield_cover {
    border-top: 2px solid grey;
}

.measure {
    position: absolute;
    z-index: 1;
    bottom: 18px;
    left: 5px;
}

.measure p {
    font-size: 17px;
}

.damage {
    position: absolute;
    z-index: 1;
    font-size: 12px;
    text-align: center;
    width: 60px;
    left: 45px;
    top: 91px;
    height: 37px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.parry {
    position: absolute;
    z-index: 1;
    font-size: 17px;
    bottom: 18px;
    right: 5px;
}

.eua-parry {
    font-size: 13px;
}

.characteristics-appearing ::ng-deep .mat-form-field-infix {
    width: 100%;
}

.conflict-shell {
    background: rgba(211, 211, 211, 0.5);
    padding: 15px;
    border-radius: 4px;
    margin: 10px 0;
    width: 300px;
}

.vitals-shell {
    background: rgba(211, 211, 211, 0.5);
    padding: 15px;
    border-radius: 4px;
    margin: 5px 0 0;
}

.vitals-shell h3 {
    color: #795548;
}

.locational-shell {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.locational-id-shell {
    max-width: 25%;
    min-width: 215px;
    margin-bottom: 15px;
    padding: 15px;
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
}

.chip-shell {
    margin: 15px 0;
}

.right {
    padding: 15px;
    min-height: 500px;
    width: 60%;
}

.hr-input {
    width: 60px;
}

.white {
    background: white;
    margin: 7px 0;
}

.blue {
    color: #607d8b !important;
}

.orange {
    color: #ff5722 !important
}

.margin-left-small {
    margin-left: 5px;
    font-size: 10px
}

.player-image {
    float: left;
    min-width: 45%;
    max-width: 45%;
    height: 100%;
    margin: 15px 15px 15px 0;
}

.player-notes-shell {
    width: 50%;
    height: 100%;
}

.gm-notes-shell {
    width: 50%;
    height: 100%;
    margin: 15px 0
}

.variant-header {
    margin-top: 0;
}

.flaw-dice-shell {
    display: flex;
    justify-content: space-between;
    max-width: 269px;
    flex-wrap: wrap;
}

.selected-flaw-value {
    background: #607d8b;
    color: whitesmoke;
}

.square-range-shell {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.ranged-shell {
    min-width: 150px;
}

.ranged-shell  {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 2px;
}

.ranged-title {
    background: #607d8b;
    color: whitesmoke;
    padding: 4px
}

.ranged-odd {
    background: lightgray
}

.loot-shell {
    display: flex;
    flex-wrap: wrap;
}

.loot-item {
    padding: 0 5px
}

.loot-item h3 {
    padding: 0 5px;
}

.loot-notes-subtitle {
    margin-top: 10px
}

.reagent-divider {
    margin-top: 0;
}

.reagent h3 {
    min-width: 30%;
    text-align: left;
}

.reagents-shell .mat-accordion {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.reagents-shell .mat-expansion-panel {
    width: calc(700px - 100%);
    min-width: 48%;
    margin-bottom: 5px;
    height: max-content;
    border-radius: 5px;
}

.reagents-shell .mat-expansion-panel-spacing {
    margin: 0 0 5px 0
}

.reagents-shell .mat-expansion-panel-header-title {
    min-width: 30%;
    align-items: center;
}

.reagents-shell .mat-expansion-panel-header-description {
    text-align: center;
}

.inner-reagents-shell h3 {
    font-size: 14px;
    color: black;
    font-weight: 600;
}

.introduction {
    display: none;
}

.noDisplay {
    display: none;
}

.role-shell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.role-shell mat-form-field {
    margin-right: 0;
    width: 75%;
}

.checkboxShell {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px 0;
    justify-content: flex-start;
}

.checkboxShell p {
    width: 16px;
    text-align: center;
}

.fa-star {
    margin-left: 10px;
    color: #ffd740
}

.temperamentList {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.encounterShell {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.encounterShell .flex-row-opposite {
    width: 49%
}

.playerShell {
    display: flex;
    flex-direction: column;
    width: 100%
}

.playerShell .flex-row-opposite {
    width: 100%
}

.spinner>div {
    background-color: #607d8b;
}

.deleteButton {
    margin-top: 150px
}

ul {
    list-style-type: disc;
    display: flex;
    flex-wrap: wrap;
    max-width: 75%;
}

li {
    font-size: 13px;
    padding: 3px 0;
    margin-left: 30px;
}

a {
    font-size: 16px
}

.regenerateButtonShell {
    width: 100%;
    position: relative;
    height: 45px;
}

.regenerateButtonShell button {
    position: absolute;
    right: 0;
    margin: 0
}

.group-type-shell {
    position: absolute;
    right: 57px;
    bottom: -18px;
}

.loot-regenerate-shell {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.loot-regenerate-shell button {
    margin: 0
}

.complicationsShell {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.complicationCard {
    width: 49%;
    background: rgba(211, 211, 211, 0.5);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: right;
    height: 100%;
}

.complicationCard div {
    display: flex;
    justify-content: space-between;
}

.preview {
    border-radius: 5px;
    height: 90px;
    width: 100px;
    margin: 0 auto;
    object-fit: cover;
    object-position: top;
    border: 1px solid grey;
}

.thumbnailShell {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.locationVitality {
    margin-bottom: 15px;
}

.locationVitality div:last-child .checkboxShell {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.locationVitality h3 {
    color: #607d8b;
    font-size: 16px;
    padding-top: 10px;
}

.lairLoot {
    flex-wrap: wrap;
    flex-direction: unset;
    max-width: 100%;
    justify-content: space-between;
}

.lairLoot li {
    width: 30%;
    padding: 5px 0px;
}

.lair-loot-shell {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lair-loot-category-shell {
    background: rgba(211, 211, 211, 0.5);
    padding: 15px;
    border-radius: 4px;
    margin: 10px 0;
    width: 49%;
    height: 100%;
}

.lair-loot-category-shell button {
    margin: 0
}

.lair-loot-category-shell .divider {
    margin: 15px 0;
}

.lair-loot-category-shell table {
    width: 50%
}

.lair-loot-category-shell .loot-inner-shell {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    cursor: pointer;
    background-color: #607d8b;
    color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    font-family: 'know';
    font-size: 17px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.reagent-single-shell {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.reagent-single-shell mat-form-field {
    width: 25%;
}

.role-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.extra-padding {
    padding: 0px 15px;
}

.mutation-shell {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.mutation-shell table {
    margin-bottom: 15px;
}

table {
    text-align: left;
    font-size: 13px;
}

table tbody tr td:first-child {
    text-align: center;
}

.random-encounters .random-container table tbody tr td:last-child {
    text-align: center;
}

.first-column-left tbody tr td:first-child {
    text-align: left;
}

tbody tr:nth-child(odd) {
    background-color: lightgrey;
}

th, td {
    padding: 4px 7px;
}


table tr th {
    background: #4b4b4b;
    color: white;
    font-size: 12px;
}

thead th {
    background: #607d8b !important;
    color: white;
    position: sticky;
    font-family: "ancient";
    letter-spacing: 2px;
    font-size: 14px;
}

.first-left tr td:first-child, .first-left tr th:first-child {
    text-align: left;
}

.fourth-left tr td:nth-child(4) {
    text-align: left;
}

.random-encounters {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.random-container {
    width: 33%;
    margin-bottom: 15px;
}

.double-wide-container {
    width: 60%;
}

.random-container .add-new-random {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.random-encounters table {
    width: 100%;
}

.add-from-list {
    margin-top: 15px;
}

.random-container tr i:hover {
  color: red
}

.random-container mat-form-field {
    font-size: 14px;
    width: 49%;
    margin-right: 0px;
}

.double-wide-container mat-form-field {
    width: 30%;
}

.random-container button {
    margin: 0
}

.rolled-stats-shell {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: -15px 0px;
}

.rolled-stats-shell p {
    margin-left: 5px
}

.conflict-inner-shell h2 {
    margin: 0;
}

h3 mat-form-field {
    width: 100%;
}

mat-form-field {
    margin-right: 15px;

}

.long-field mat-form-field, mat-form-field.long-field {
    width: 265px;
}

mat-form-field.fatigue-field {
    width: 322px;
}

.edit-combat-squares-shell-right {
    margin-left: 15px;
}

#green {
    background: lightgreen
}

#red {
    background: rgb(248, 134, 134)
}

#gray-blue {
    background: #607d8b;
    color: whitesmoke;
}

.attack-and-defense-shell {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.attack-and-defense-inner-shell {
    width: 49%;
}

.table-input, .table-input-clearable {
    border: none;
    border-bottom: transparent;
    transition: .6s;
    width: 100%;
    background-color: transparent;
    color: black;
}

.table-input:hover, .table-input-clearable:hover {
    border-bottom: 1px solid black;
}

.table-subsection tr:first-child {
    background-color: #8b8b8b;
    color: white;
}

.table-subsection tr:first-child input {
    color: white;
}

.table-subsection tr:first-child input:hover {
    border-bottom: 1px solid white;
}

.table-subsection tr:first-child input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(245, 245, 245, 0.85);
}
 
.table-subsection tr:first-child input :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(245, 245, 245, 0.85);
}
  
.table-subsection tr:first-child input ::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(245, 245, 245, 0.85);
}

.fa-square-plus:hover {
    color: #00a100 !important;
}

.subheader-icon:hover {
    color: #00fd00 !important;
}

.disabled, .disabled:hover {
    color: transparent !important
}


thead {
    background: #607d8b;
    color: whitesmoke;
    text-align: center;
    font-family: 'know';
}

thead tr td {
    background: #4b4b4b
}

tbody tr th {
    background: gray;
    color: whitesmoke;
    font-family: 'know';
    text-align: center;
}

tbody tr:nth-child(odd) {
    background: lightgray
}

tbody tr td {
    text-align: center;
}

tbody tr td:first-child {
    text-align: left !important;
}

th, td {
    min-width: 100px;
    padding: 2px 5px;
}

.justify-right {
    padding-left: 25px;
}

.checkmark-role-background ::ng-deep .mat-checkbox-background {
    background-color: #a9a9a9 !important;
}

@media (max-width: 1295px) {
    .lairLoot li {
        width: 45%;
    }
}

@media (max-width: 963px) {
    .combat-shell {
        justify-content: start;
        margin-right: 10px;
        margin-bottom: 25px;
    }

    .lairLoot li {
        width: 100%;
    }

    .reagents-shell .mat-expansion-panel {
        min-width: 100%;
    }
}

@media (max-width: 699px) {
    .attack-and-defense-inner-shell {
        width: 100%;
    }

    .right, .left {
        width: 100%;
        padding: 0;
    }

    .content-shell {
        flex-direction: column;
    }

    .introduction {
        display: inherit;
    }

    .beastImg {
        margin-top: 15px;
    }

    .encounterShell {
        flex-direction: column;
    }

    .encounterShell .flex-row-opposite {
        width: 100%
    }

    ul {
        justify-content: space-around;
        flex-direction: column;
    }

    .lairLoot li {
        width: 45%;
    }
}

@media (max-width: 699px) {
    .lairLoot li {
        width: 100%;
    }

    .random-container, .double-wide-container {
        width: 100%;
    }
}