::ng-deep .mat-tooltip {
    white-space: pre-line !important;
}

button {
    margin-top: 15px;
}

img {
    width: 100%;
    border-radius: 5px;
}

h1 {
    font-family: 'umbria';
}

.add-to-quick-view i {
    font-size: 20px;
    transition: .6s;
}

.add-to-quick-view:hover i {
    cursor: pointer;
    color: #ffd740;
}

.combat-image {
    width: 150px;
    z-index: 0;
    border-radius: 0;
}

mat-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

mat-toolbar {
    display: flex;
    justify-content: space-between;
    width: unset;
    margin: 15px 0px
}

.top-toolbar {
    margin: -16px -16px 0 !important;
}

.content-shell {
    display: flex;
    justify-content: space-evenly;
}

.new-roll-shell {
    display: flex;
    flex-direction: column;
}

.point-shell {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 56px;
    width: 50px;
    background-color: #607d8b;
    z-index: 99;
    border-top-right-radius: 25px;
    display: flex;
    flex-direction: column;
}

.point-shell h5:first-child {
    margin-top: 19px;
}

.point-shell h5 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-align: center;
    color: whitesmoke;
    border-bottom: 1px solid whitesmoke;
}

.specialDamage { 
    top: 90px !important;
}

.point-shell h4 {
    color: whitesmoke;
    margin: 2px;
}

.point-shell p {
    text-align: center;
    color: whitesmoke;
}

.characteristic-edit-shell {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.edit-shell-box {
    display: flex;
    flex-direction: column;
}

.explaination-shell {
    position: fixed;
    bottom: 0;
    left: 49px;
    height: 39px;
    background-color: rgba(211, 211, 211, 1);
    border-right: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
    z-index: 98;
    border-top-right-radius: 25px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    justify-content: flex-end;
}

.edit-content {
    flex-direction: column;
}

.edit-combat-squares-shell {
    display: flex;
    justify-content: space-between;
}

.divider {
    width: 100%;
    height: 1px;
    background: lightgray;
    margin-top: 15px
}

.mat-expansion-panel {
    box-shadow: none;
    background: rgba(211, 211, 211, 0.5);
}

.box-padding {
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
}

.flex-row-opposite {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-row-opposite span {
    display: flex
}

.flex-row-opposite span p:last-child {
    margin-left: 5px
}

.left {
    padding: 15px;
    min-height: 500px;
    width: 40%;
}

.combat-shell {
    display: flex;
    flex-wrap: wrap;
}

.combat-square {
    margin-top: 10px;
    padding-right: 15px
}

.conflict-inner-shell {
    display: flex;
    flex-wrap: wrap;
}

.combat-shell h2 {
    width: 100%;
}

.conflict-inner-shell div {
    width: 100%;
}

.square-shell {
    height: 143px;
    width: 150px;
    position: relative;
}

.challenge-header {
    margin-top: 15px;
}

.spd {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 13px;
    font-size: 17px;
}

.atk {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 70px;
    font-size: 17px;
}

.init {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 13px;
    font-size: 17px;
}

.def {
    position: absolute;
    z-index: 1;
    left: 30px;
    top: 65px;
    font-size: 17px;
}

.fatigue {
    position: absolute;
    z-index: 1;
    left: 63px;
    top: 65px;
    font-size: 15px;
    width: 30px;
    text-align: center;
}

.dr {
    position: absolute;
    z-index: 1;
    right: 13px;
    top: 48px;
    width: 44px;
    height: 45px;
    text-align: center;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}

.shield_dr {
    border-top: 2px solid grey;
}

.measure {
    position: absolute;
    z-index: 1;
    font-size: 17px;
    bottom: 18px;
    left: 13px;
}

.damage {
    position: absolute;
    z-index: 1;
    font-size: 12px;
    text-align: center;
    width: 60px;
    left: 45px;
    top: 97px;
}

.parry {
    position: absolute;
    z-index: 1;
    font-size: 17px;
    bottom: 18px;
    right: 13px;
}

.conflict-shell {
    background: rgba(211, 211, 211, 0.5);
    padding: 15px;
    border-radius: 4px;
    margin: 10px 0;
}

.vitals-shell {
    background: rgba(211, 211, 211, 0.5);
    padding: 15px;
    border-radius: 4px;
    margin: 10px 0;
}

.vitals-shell h3 {
    color: #795548;
}

.chip-shell {
    margin: 15px 0;
}

.right {
    padding: 15px;
    min-height: 500px;
    width: 60%;
}

.hr-input {
    width: 60px;
}

.white {
    background: white;
    margin: 7px 0;
}

.blue {
    color: #607d8b !important;
}

.margin-left-small {
    margin-left: 5px;
    font-size: 10px
}

.player-image {
    float: left;
    min-width: 45%;
    max-width: 45%;
    height: 100%;
    margin: 15px 15px 15px 0;
}

.player-notes-shell {
    width: 50%;
    height: 100%;
}

.gm-notes-shell {
    width: 50%;
    height: 100%;
    margin: 15px 0
}

.variant-header {
    margin-top: 0;
}

.square-range-shell {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.ranged-shell {
    min-width: 150px;
}

.ranged-shell div {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 2px;
}

.ranged-title {
    background: #607d8b;
    color: whitesmoke;
    padding: 4px
}

.ranged-odd {
    background: lightgray
}

.loot-shell {
    display: flex;
    flex-wrap: wrap;
}

.loot-item {
    padding: 0 5px
}

.loot-item h3 {
    padding: 0 5px;
}

.loot-notes-subtitle {
    margin-top: 10px
}

.reagent-divider {
    margin-top: 0;
}

.reagent h3 {
    min-width: 30%;
    text-align: left;
}

.reagents-shell .mat-accordion {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.reagents-shell .mat-expansion-panel {
    width: calc(700px - 100%);
    min-width: 48%;
    margin-bottom: 5px;
    height: max-content;
    border-radius: 5px;
}

.reagents-shell .mat-expansion-panel-spacing {
    margin: 0 0 5px 0
}

.reagents-shell .mat-expansion-panel-header-title {
    min-width: 30%;
    align-items: center;
}

.reagents-shell .mat-expansion-panel-header-description {
    text-align: center;
}

.inner-reagents-shell h3 {
    font-size: 14px;
    color: black;
    font-weight: 600;
}

.introduction {
    display: none;
}

.checkboxShell {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px 0;
    justify-content: flex-start;
}

.checkboxShell p {
    width: 16px;
    text-align: center;
}

.fa-star {
    margin-left: 10px;
    color: #ffd740
}

.temperamentList {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.encounterShell {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.encounterShell .flex-row-opposite {
    width: 45%
}

.playerShell {
    display: flex;
    flex-direction: column;
    width: 100%
}

.playerShell .flex-row-opposite {
    width: 100%
}

.spinner>div {
    background-color: #607d8b;
}

.deleteButton {
    margin-top: 150px
}

ul {
    list-style-type: disc;
    display: flex;
    flex-wrap: wrap;
    max-width: 75%;
}

li {
    font-size: 14px;
    padding: 3px 0;
    margin-left: 30px;
}

a {
    font-size: 16px
}

.regenerateButtonShell {
    width: 100%;
    position: relative;
    height: 40px;
}

.regenerateButtonShell button {
    position: absolute;
    right: 0;
    margin: 0
}

.complicationsShell {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.complicationCard {
    width: 49%;
    background: rgba(211, 211, 211, 0.5);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: right;
    height: 100%;
}

.complicationCard div {
    display: flex;
    justify-content: space-between;
}

.preview {
    border-radius: 5px;
    height: 90px;
    width: 100px;
    margin: 15px auto 0;
    object-fit: cover;
    object-position: top;
    border: 1px solid grey;
}

.locationVitality div:first-child .flex-row-opposite {
    border-top: 1px solid white;
    margin-top: 10px;
}

.locationVitality div:last-child .checkboxShell {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.locationVitality h3 {
    color: #607d8b;
    font-size: 17px;
    padding-top: 10px;
}

.lairLoot {
    flex-wrap: wrap;
    flex-direction: unset;
    max-width: 100%;
    justify-content: space-between;
}

.lairLoot li {
    width: 30%;
    padding: 5px 0px;
}

.lair-loot-shell {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.role-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.role-select h2 {
    margin: 0
}

.extra-padding {
    padding: 15px;
}

.mutation-shell {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.mutation-shell table {
    margin-bottom: 15px;
}

table {
    text-align: left;
    font-size: 13px;
}

table tbody tr td:first-child {
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: lightgrey;
}

th, td {
    padding: 4px 7px;
}

th {
    background: #607d8b;
    color: white;
    position: sticky;
    font-family: "ancient";
    letter-spacing: 2px;
}

.first-left tr td:first-child, .first-left tr th:first-child {
    text-align: left;
}

.fourth-left tr td:nth-child(4) {
    text-align: left;
}

.add-by-id {
    margin-bottom:  100px;
}

.rolled-stats-shell {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: -15px 0px;
}

.conflict-inner-shell h2 {
    margin: 0;
}

h3 mat-form-field {
    width: 100%;
}

mat-form-field {
    margin-right: 15px;
}

.edit-combat-squares-shell-right {
    margin-left: 15px;
}

#green {
    background: lightgreen
}

#red {
    background: rgb(248, 134, 134)
}

@media (max-width: 1295px) {
    .lairLoot li {
        width: 45%;
    }
}

@media (max-width: 963px) {
    .combat-shell {
        justify-content: start;
        margin-right: 10px;
        margin-bottom: 25px;
    }

    .lairLoot li {
        width: 100%;
    }

    .reagents-shell .mat-expansion-panel {
        min-width: 100%;
    }
}

@media (max-width: 699px) {
    .right, .left {
        width: 100%;
        padding: 0;
    }

    .content-shell {
        flex-direction: column;
    }

    .introduction {
        display: inherit;
    }

    .beastImg {
        margin-top: 15px;
    }

    .encounterShell {
        flex-direction: column;
    }

    .encounterShell .flex-row-opposite {
        width: 100%
    }

    ul {
        justify-content: space-around;
        flex-direction: column;
    }

    .lairLoot li {
        width: 45%;
    }
}

@media (max-width: 699px) {
    .lairLoot li {
        width: 100%;
    }
}