.main-app-shell {
    margin: 0 15px 15px;
}

.title {
    font-family: 'know';
    font-weight: 500;
    font-size: 35px;
    cursor: pointer;
}

.new-button {
    position: absolute;
    right: 25px;
}