i {
    font-size: unset;
}

.list-row-button {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.list-row-button:hover {
    background-color: lightgray;
    cursor: pointer !important;
}

.spinner>div {
    background-color: #607d8b;
}