<mat-card>
  <mat-toolbar color="accent">
    <h1>
      <i *ngIf="beast.patreon >= 20" matTooltip="Early Access" class="fas fa-dice-d20 icon-white"></i>
      <i *ngIf="beast.patreon >= 2 && beast.patreon < 20" matTooltip="Deluxe" class="fas fa-plus icon-white"></i>
      {{beast.name}}
    </h1>
  </mat-toolbar>

  <div class="content-shell">
    <img class="player-image" *ngIf="beast.id" [src]="imageBase + beast.id" [alt]="beast.name">
    <app-player-notes class="player-notes-shell" [notes]="beast.notes" [id]="beast.id"></app-player-notes>
  </div>
</mat-card>