mat-card {
    margin-bottom: 15px;
    display: flex;
    cursor: pointer;
}

.results-card {
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyURLButton {
    margin-left: 15px;
}

.results-card h3 {
    color: whitesmoke;
}

img {
    width: 150px;
    margin-right: 10px;
    border-radius: 5px;
}

.info-shell {
    width: 100%;
}

.extra-info {
    min-width: 200px;
    margin-left: 15px;
    padding: 10px 5px;
}

.extra-info div {
    display: flex;
    justify-content: space-between;
}

.extra-info-shell {
    display: flex;
    justify-content: space-between;
}

.header-shell {
    display: flex;
    justify-content: space-between;
}

.header-info {
    display: flex;
}

.header-info .fas, .header-info .fa {
    margin-right: 10px;
}

.divider {
    width: 100%;
    height: 1px;
    background: lightgray;
    margin-top: 10px
}

.spinner > div {
  background-color: whitesmoke;
}

@media (max-width: 699px) {
    mat-card {
        flex-direction: column;
        align-items: center;
    }

    .img-shell {
        max-height: 250px;
        width: 250px;
        overflow: hidden;
        border-radius: 5px;
    }

    img {
        width: 100%;
        max-height: 250px;
        margin: 0;
        object-fit: cover;
        object-position: top;
    }

    .info-shell {
        margin-top: 15px;
    }

    .extra-info-shell {
        flex-direction: column;
        align-items: center;
    }

    .extra-info {
        min-width: 100%;
        margin-left: 0;
    }

    .header-shell {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    h3 {
        font-size: 25px;
    }
 }