h3 {
    color: #795548;
    font-size: 30px;
    font-family: 'umbria';
    background: rgba(255, 255, 255, 0.35);
    z-index: 1;
}

img {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    z-index: 0;
}

.loginShell {
    width: 50%;
    max-width: 450px;
    margin: 0 auto;
    padding: 25px 0;
}

mat-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
}

.divider {
    width: 75%;
    background: lightgrey;
    height: 3px;
}

.subtitle {
    text-align: center;
}

a {
    color: #607d8b;
    text-decoration: none;
}

p {
    font-family: 'know';
    font-size: 17px;
}

button:hover {
   background: #607d8b
}

@media (max-width: 699px) {
    .loginShell {
        width: 100%;
    }

    h3{
        text-align: center;
    }
}