<div class="loginShell">
    <mat-card>
        <img src="../../assets/TGRealFire.png" alt="Bonfire RPG Logo">
        <h3>The Bonfire Bestiary</h3>
        <div class="divider"></div>
        <div class="subtitle">
            <p>For the </p>
            <a href="https://bonfire.dragon-slayer.net/">Bonfire Roleplaying System</a>
        </div>
        <div class="divider"></div>
        <a href={{loginEndpoint}}>
            <button mat-raised-button color="primary">Log In</button>
        </a>
    </mat-card>
</div>
