<div *ngIf="!edit" class="quill-shell">
  <quill-view-html *ngIf="notes.notes" [content]="notes.notes"></quill-view-html>
  <h2 class="player-no-notes-heading" *ngIf="!notes.notes">You currently have no notes</h2>
  <button mat-raised-button (click)="toggleEdit()" color="warn">Edit</button>
</div>
<div *ngIf="edit" class="quill-shell">
  <quill-editor [(ngModel)]="notes.notes" (onContentChanged)="captureHTML($event)"></quill-editor>
  <button mat-raised-button (click)="saveNotes()" color="primary">Save</button>
</div>