.player-no-notes-heading {
    margin-top: 15px;
    text-indent: 25px;
}

.quill-shell {
    height: 100%;
}

button {
    margin-top: 15px;
    float: right
}

.noteOuterShell {
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
}