<div *ngIf="!challenge.name">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>

<div *ngIf="challenge.name" class="pop-up">
  <div *ngIf="!beastEntry" class="header-shell" color="accent">
    <i class="fas fa-project-diagram icon"></i>
    <h1>{{challenge.name}}</h1>
  </div>

  <div *ngIf="challenge.notes">
    <quill-view-html [content]="challenge.notes"></quill-view-html>
    <div class="divider"></div>
  </div>

  <div class="mermaid-shell">
    <p>Click on any node to get the assocated Obstacle</p>
    <div class="mermaid-inner-shell">
      <div #mermaid></div>
      <div *ngIf="viewObstacleId > 0" class="view-obstacles">
        <app-obstacle-innards [id]="viewObstacleId" [goToEdit]="goToEditBinded"></app-obstacle-innards>
      </div>
    </div>
  </div>

  <button class="new-button right-most-buttom" *ngIf="loggedIn === 'owner'" mat-raised-button color="warn"
    (click)="goToEditChallenge()">Edit</button>
</div>