<div  class="pop-up">
  <div class="header-shell" color="accent">
    <h1>{{loot.name}}</h1>
  </div>
  
  <div class="misc-info">
    <p><strong>Size</strong> {{loot.size}}</p>
    <p><strong>Status</strong> Minor</p>
  </div>
  <div class="divider"></div>

  <h2>Description</h2>
  <quill-view-html [content]="loot.description"></quill-view-html>
  
  <h2>Price</h2>
  <quill-view-html [content]="loot.price"></quill-view-html>
  
  <h2>Power</h2>
  <quill-view-html [content]="loot.power"></quill-view-html>

  <h2 *ngIf="loot.history">History</h2>
  <quill-view-html *ngIf="loot.history" [content]="loot.history"></quill-view-html>

</div>