<mat-card>
  <h2>Favorites</h2>
  <mat-divider></mat-divider>
  <div *ngIf="favorites.length === 0" class="beastDiv">
    <h1>{{message}}</h1>
  </div>

  <div class="context-menu" *ngIf="isDisplayContextMenu" [ngStyle]="getRightClickMenuStyle()">
    <p (click)="openNewTab()"><i class="fa-solid fa-arrow-up-right-from-square"></i> Open in New Tab</p>

    <p *ngIf="targetHasToken" (click)="forceDownload()"><i class="fa-solid fa-download"></i> Download Token</p>
    <p *ngIf="!targetHasToken" (click)="stopProp($event)" class="gray"><i class="fa-solid fa-download"></i> Download Token</p>

    <p *ngIf="targetRoles.length === 0" (click)="addBeastToQuickView()"><span class="add-to-quick-view"
        matTooltip="Click to Add to Quick View"><i class="fa-solid fa-square-plus"></i><i
          class="fa-solid fa-rectangle-list"></i></span> <strong
        [innerHTML]="displayName(null, targetRole, targetSecondaryRole, targetSocialRole, targetSkillRole, targetSocialSecondary, targetSkillSecondary)"></strong>
    </p>
    <p *ngIf="targetRoles.length > 0" (click)="addBeastToQuickView()"><span class="add-to-quick-view"
        matTooltip="Click to Add to Quick View"><i class="fa-solid fa-square-plus"></i><i
          class="fa-solid fa-rectangle-list"></i></span> <strong
        [innerHTML]="displayName(null, targetRole, targetSecondaryRole, targetSocialRole, targetSkillRole, targetSocialSecondary, targetSkillSecondary)"></strong>
    </p>
    <div *ngIf="targetRoles.length > 0">
      <div *ngFor="let role of targetRoles; let i = index" class="drop-down-list">
        <p class="roleIndent" (click)="addRoleToQuickView(i)"><span class="L-line"><span></span></span><strong
            [innerHTML]="displayName(role.name, role.role, role.secondaryrole, role.socialrole, role.skillrole, role.socialsecondary, role.skillsecondary)"></strong>
        </p>
      </div>
      <p matTooltip="Click to Add to a Random Role to Quick View" class="roleIndent"
        (click)="addRandomRoleToQuickView()"><span class="L-line"><span></span></span><i class="fa-solid fa-dice"></i>
      </p>
    </div>

    <p *ngIf="targetName.substring(0, 8) !== 'Template' && beastService.loggedIn" (click)="openRandomListsPopUp()"><i class="fa-solid fa-plus"></i> <i class="fa-solid fa-table"></i><i class="fa-solid fa-shuffle"></i> Add Entry to Random Encounter List</p>
  </div>

  <div *ngIf="favorites.length > 0" class="beastDiv">
    <div *ngFor="let beast of favorites">
      <div *ngIf="!(loggedIn.id === 1 || loggedIn.id === 21 || loggedIn.patreon > 19) && beast.patreon < 4">
        <button *ngIf="beast.patreon < 20" [routerLink]="['/beast', beast.id, 'player']" class="beastButton" mat-button
          (contextmenu)="displayContextMenu($event, beast.id, beast.name, beast.hash, beast.roles, beast.role, beast.secondaryrole, beast.socialrole, beast.skillrole, beast.socialsecondary, beast.skillsecondary, beast.defaultrole, beast.rarity); false">
          <div class="img-shell">
            <img [ngStyle]="{'object-position': beast.thumbnail ? beast.thumbnail : 'top'}" *ngIf="beast.id"
              [src]="imageBase + beast.id  " [alt]="beast.name" onerror="this.onerror=null;this.src='/assets/404.png';">
          </div>
          <div class="beast-name-shell">
            <i *ngIf="beast.patreon >= 2 && beast.patreon < 20" matTooltip="Deluxe" class="fas fa-plus icon-blue"></i>
            <i *ngIf="beast.canplayerview" matTooltip="Anyone Can View" class="fa fa-eye icon-blue"></i>
            <p class="beast-name">{{beast.name.includes('Template, ') ? beast.name.substring(10) : beast.name}}</p>
          </div>
        </button>
      </div>
      <div *ngIf="beastService.loggedIn > 3 && beastService.loggedIn < 20 || !(beastService.loggedIn && beastService.loggedIn.id === 1 || beastService.loggedIn && beastService.loggedIn.id === 21)">
        <button *ngIf="beast.patreon < 19 || (beastService.loggedIn && beastService.loggedIn.id === 1 || beastService.loggedIn && beastService.loggedIn.id === 21)"
          [routerLink]="['/beast', beast.id, 'gm']" class="beastButton" mat-button
          (contextmenu)="displayContextMenu($event, beast.id, beast.name, beast.hash, beast.roles, beast.role, beast.secondaryrole, beast.socialrole, beast.skillrole, beast.socialsecondary, beast.skillsecondary, beast.defaultrole, beast.rarity); false">
          <div class="img-shell">
            <img [ngStyle]="{'object-position': beast.thumbnail ? beast.thumbnail : 'top'}" *ngIf="beast.id"
              [src]="imageBase + beast.id  " [alt]="beast.name" onerror="this.onerror=null;this.src='/assets/404.png';">
          </div>
          <div class="beast-name-shell">
            <i *ngIf="beast.patreon >= 20" matTooltip="Early Access" class="fas fa-dice-d20 icon-blue"></i>
            <i *ngIf="beast.patreon >= 2 && beast.patreon < 20" matTooltip="Deluxe" class="fas fa-plus icon-blue"></i>
            <i *ngIf="beast.canplayerview" matTooltip="Anyone Can View" class="fa fa-eye icon-blue"></i>
            <p class="beast-name">{{beast.name.includes('Template, ') ? beast.name.substring(10) : beast.name}}</p>
          </div>
        </button>
        <button *ngIf="!(beastService.loggedIn && beastService.loggedIn.id === 1 || beastService.loggedIn && beastService.loggedIn.id === 21) && beast.patreon > 19" disabled class="beastButton" mat-button
          (contextmenu)="displayContextMenu($event, beast.id, beast.name, beast.hash, beast.roles, beast.role, beast.secondaryrole, beast.socialrole, beast.skillrole, beast.socialsecondary, beast.skillsecondary, beast.defaultrole, beast.rarity); false">
          <div class="img-shell">
            <img [ngStyle]="{'object-position': beast.thumbnail ? beast.thumbnail : 'top'}" *ngIf="beast.id"
              [src]="imageBase + beast.id  " [alt]="beast.name" onerror="this.onerror=null;this.src='/assets/404.png';">
          </div>
          <div class="beast-name-shell">
            <i *ngIf="beast.patreon >= 20" matTooltip="Early Access" class="fas fa-dice-d20 icon-blue"></i>
            <i *ngIf="beast.patreon >= 2 && beast.patreon < 20" matTooltip="Deluxe" class="fas fa-plus icon-blue"></i>
            <i *ngIf="beast.canplayerview" matTooltip="Anyone Can View" class="fa fa-eye icon-blue"></i>
            <p class="beast-name">{{beast.name.includes('Template, ') ? beast.name.substring(10) : beast.name}}</p>
          </div>
        </button>
      </div>
    </div>
  </div>

  <div *ngFor="let category of beasts; let titleIndex = index" [ngClass]="{'noDisplay': loggedIn && titleIndex === 0}">
    <h2>{{titleIndex === 1 ? 'Templates' : titleIndex === 0 ? 'Free Entries' : category[0].name.substring(0,1)}} <i *ngIf="titleIndex === 1" class="fas fa-info-circle icon-small blue large" matTooltip="A template is the purist expression of a monster - a platonic version, if you will. It is, in fact, so pure that they do not exist in the game world. Templates monsters are baselines that you can use to improve monsters that are not in the Bestiary on the fly." matTooltipClass="my-tooltip"></i></h2>
    <mat-divider></mat-divider>
    <div class="beastDiv">
      <div *ngFor="let beast of category">
        <div *ngIf="!(beastService.loggedIn && beastService.loggedIn.id === 1 || beastService.loggedIn && beastService.loggedIn.id === 21) && beast.patreon < 4" class="beast-outer-shell">
          <button *ngIf="beast.patreon < 20" [routerLink]="['/beast', beast.id, 'player']" class="beastButton"
            mat-button
            (contextmenu)="displayContextMenu($event, beast.id, beast.name, beast.hash, beast.roles, beast.role, beast.secondaryrole, beast.socialrole, beast.skillrole, beast.socialsecondary, beast.skillsecondary, beast.defaultrole, beast.rarity); false">
            <div class="img-shell">
              <img [ngStyle]="{'object-position': beast.thumbnail ? beast.thumbnail : 'top'}" *ngIf="beast.id"
                [src]="imageBase + beast.id  " [alt]="beast.name"
                onerror="this.onerror=null;this.src='/assets/404.png';">
            </div>
            <div class="beast-name-shell">
              <i *ngIf="beast.patreon >= 2 && beast.patreon < 20" matTooltip="Deluxe" class="fas fa-plus icon-blue"></i>
              <i *ngIf="beast.canplayerview" matTooltip="Anyone Can View" class="fa fa-eye icon-blue"></i>
              <p class="beast-name">{{beast.name.includes('Template, ') ? beast.name.substring(10) : beast.name}}</p>
            </div>
          </button>
        </div>

        <div *ngIf="beastService.loggedIn > 3 && beastService.loggedIn < 20 || (beastService.loggedIn && beastService.loggedIn.id === 1 || beastService.loggedIn && beastService.loggedIn.id === 21)"
          class="beast-outer-shell">
          <button *ngIf="beast.patreon < 19 || (beastService.loggedIn && beastService.loggedIn.id === 1 || beastService.loggedIn && beastService.loggedIn.id === 21)"
            [routerLink]="['/beast', beast.id, 'gm']" class="beastButton" mat-button
            (contextmenu)="displayContextMenu($event, beast.id, beast.name, beast.hash, beast.roles, beast.role, beast.secondaryrole, beast.socialrole, beast.skillrole, beast.socialsecondary, beast.skillsecondary, beast.defaultrole, beast.rarity); false">
            <div class="img-shell">
              <img [ngStyle]="beast.thumbnail ? {'object-position': beast.thumbnail} : {}" *ngIf="beast.id"
                [src]="imageBase + beast.id  " [alt]="beast.name"
                onerror="this.onerror=null;this.src='/assets/404.png';">
            </div>
            <div class="beast-name-shell">
              <i *ngIf="beast.patreon >= 20" matTooltip="Early Access" class="fas fa-dice-d20 icon-blue"></i>
              <i *ngIf="beast.patreon >= 2 && beast.patreon < 20" matTooltip="Deluxe" class="fas fa-plus icon-blue"></i>
              <i *ngIf="beast.canplayerview" matTooltip="Anyone Can View" class="fa fa-eye icon-blue"></i>
              <p class="beast-name">{{beast.name.includes('Template, ') ? beast.name.substring(10) : beast.name}}</p>
            </div>
          </button>
          <button *ngIf="!(beastService.loggedIn && beastService.loggedIn.id === 1 || beastService.loggedIn && beastService.loggedIn.id === 21) && beast.patreon > 19" disabled class="beastButton"
            mat-button
            (contextmenu)="displayContextMenu($event, beast.id, beast.name, beast.hash, beast.roles, beast.role, beast.secondaryrole, beast.socialrole, beast.skillrole, beast.socialsecondary, beast.skillsecondary, beast.defaultrole, beast.rarity); false">
            <div class="img-shell">
              <img [ngStyle]="{'object-position': beast.thumbnail ? beast.thumbnail :  'top'}" *ngIf="beast.id"
                [src]="imageBase + beast.id  " [alt]="beast.name"
                onerror="this.onerror=null;this.src='/assets/404.png';">
            </div>
            <div class="beast-name-shell">
              <i *ngIf="beast.patreon >= 20" matTooltip="Early Access" class="fas fa-dice-d20 icon-blue"></i>
              <i *ngIf="beast.patreon >= 2 && beast.patreon < 20" matTooltip="Deluxe" class="fas fa-plus icon-blue"></i>
              <i *ngIf="beast.canplayerview" matTooltip="Anyone Can View" class="fa fa-eye icon-blue"></i>
              <p class="beast-name">{{beast.name.includes('Template, ') ? beast.name.substring(10) : beast.name}}</p>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-card>