<div class="combat-table-info-shell">
  <div class='combat-table-shell'>
    <div class='combat-table-column'>
      <div>
        <p>Attacks</p>
      </div>
      <div>
        <p class='first-cell'>{{isMelee ? 'Meas' : 'R.I.'}}</p>
        <p>{{isMelee ? combatSquare.measure : combatSquare.range}}</p>
      </div>
      <div>
        <p class='first-cell'>Atk</p>
        <p>{{combatSquare.attack}}</p>
      </div>
      <div class='column'>
        <p class='first-cell'>Damage</p>
        <p class='double'>{{combatSquare.isspecial === 'yes' ? 'See Attack Info' : combatSquare.damage }}</p>
      </div>
      <div>
        <p class='first-cell'>Type</p>
        <p>{{combatSquare.damageType}}</p>
      </div>
      <!-- <div *ngIf="increaseInitiative" class="rec-shell" (click)="increaseInitiative(combatSquare.recovery)" matTooltip="Increase their current Count by {{combatSquare.recovery}} seconds">
        <p class='first-cell'>Rec</p>
        <p>{{combatSquare.recovery}} <i class="fa-solid fa-forward-step"></i></p>
      </div>
      <div *ngIf="!increaseInitiative">
        <p class='first-cell'>Rec</p>
        <p>{{combatSquare.recovery}}</p>
      </div> -->
      <div>
        <p class='first-cell'>Rec</p>
        <p>{{combatSquare.recovery}}</p>
      </div>
      <div>
        <p class='first-cell'>Init</p>
        <p>{{combatSquare.initiative}}</p>
      </div>
    </div>
    <div class='combat-table-column'>
      <div>
        <p>Defenses</p>
      </div>
      <div>
        <p class='first-cell'>Def</p>
        <p>{{combatSquare.defense}}</p>
      </div>
      <div>
        <p class='first-cell'>Flanks</p>
        <p>{{combatSquare.flanks}}</p>
      </div>
      <div>
        <p class='first-cell'>Parry</p>
        <p [matTooltipDisabled]="!combatSquare.eua" matTooltip="Parries all attacks except Unarmed ones.">{{combatSquare.eua ? 'EUA' : combatSquare.parry}}</p>
      </div>
      <div class='column'>
        <p class='first-cell'>Cover</p>
        <p>{{combatSquare.cover}}</p>
      </div>
      <div class='column'>
        <p class='first-cell'>Parry DR</p>
        <p>{{combatSquare.shieldDr}}</p>
      </div>
      <div class='column'>
        <p class='first-cell'>DR</p>
        <span>
          <p>{{combatSquare.dr}} </p>
          <img *ngIf="combatSquare.tdr" matTooltip="Damage above DR is reduced to 1. Doubling the damage needed, increases it to 2 and so on. So, for 5 TDR, dealing 9 damage only deals 1; dealing 23 damage deals 3." src="./assets/tdr.svg" alt="threshold DR" width="20" height="20" >
        </span>
      </div>
    </div>
  </div>
  <div *ngIf="!editing" class="combat-table-column combat-info">
    <quill-view-html *ngIf="combatSquare.info" [content]="combatSquare.info"></quill-view-html>
    <quill-view-html *ngIf="combatSquare.equipmentBonuses.weaponInfo || combatSquare.equipmentBonuses.armorInfo || combatSquare.equipmentBonuses.shieldInfo" [content]="formatEquipmentBonuses()"></quill-view-html>
  </div> 
</div>