<div class="input-shell">
  <mat-form-field>
    <input matInput [value]="challenge.name" (change)="captureInput($event, 'name')" placeholder="Name">
  </mat-form-field>
  
  <h2>Skill Flow</h2>
  <textarea [value]="challenge.flowchart" (blur)="captureChange($event)"></textarea>
  
  <div class="mermaid-shell">
    <p>Click on any node to get the assocated Obstacle</p>
    <div #mermaid></div>
  </div>

  <div class="obstacle-list">
    <h2>Obstacle List</h2>
    <ul>
      <li *ngFor="let obstacle of challenge.obstacleList">{{obstacle.name}}</li>
    </ul>
  </div>

  <!-- Additional Obstacles/Assets
    Notes -->

</div>