<mat-card>
    <div class="search-shell">
        <i class="fas fa-search"></i>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Search by Name" (change)="enterSearchName($event)">
        </mat-form-field>
    </div>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Advanced Seach
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="searchBody">
            <mat-form-field class="example-half-width">
                <input matInput placeholder="Search by Body" (change)="enterSearchBody($event)">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Size</mat-label>
                <mat-select (selectionChange)="enterSearchSize($event)">
                    <mat-option value="Fine">
                        Fine
                    </mat-option>
                    <mat-option value="Diminutive">
                        Diminutive
                    </mat-option>
                    <mat-option value="Tiny">
                        Tiny
                    </mat-option>
                    <mat-option value="Small">
                        Small
                    </mat-option>
                    <mat-option value="Medium">
                        Medium
                    </mat-option>
                    <mat-option value="Large">
                        Large
                    </mat-option>
                    <mat-option value="Huge">
                        Huge
                    </mat-option>
                    <mat-option value="Giant">
                        Giant
                    </mat-option>
                    <mat-option value="Enormous">
                        Enormous
                    </mat-option>
                    <mat-option value="Colossal">
                        Colossal
                    </mat-option>
                    <mat-option>
                        I Don't Care
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Patreon Level</mat-label>
                <mat-select (selectionChange)="enterSearchAccess($event)">
                    <mat-option value="0">
                        Basic
                    </mat-option>
                    <mat-option value="3">
                        Deluxe
                    </mat-option>
                    <mat-option value="20">
                        Early Access
                    </mat-option>
                    <mat-option>
                        I Don't Care
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="searchCheckboxes">
                <mat-checkbox color='primary' (change)="searchByAnyAccess($event)">Anyone Can View?</mat-checkbox>
            </div>

            <div class="searchCheckboxes">
                <mat-checkbox color='primary' (change)="enterSearchPersonalNotes($event)">Personal Notes</mat-checkbox>
            </div>
        </div>

        <mat-expansion-panel class="environPanel">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Roles
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="search-role-shell">
                <div class="role-inner-shell">
                    <h4>Confrontation Roles</h4>
                    <div class="role-checkbox-shell">
                        <mat-checkbox color='primary' (change)="enterSearchRoles(1, $event)">Striker</mat-checkbox>
                        <mat-checkbox color='primary' (change)="enterSearchRoles(2, $event)">Defender</mat-checkbox>
                        <mat-checkbox color='primary' (change)="enterSearchRoles(3, $event)">Fast-Talker</mat-checkbox>
                        <mat-checkbox color='primary' (change)="enterSearchRoles(4, $event)">Feinter</mat-checkbox>
                        <mat-checkbox color='primary' (change)="enterSearchRoles(5, $event)">Fodder</mat-checkbox>
                        <mat-checkbox color='primary' (change)="enterSearchRoles(6, $event)">Sandbagger</mat-checkbox>
                        <mat-checkbox color='primary' (change)="enterSearchRoles(7, $event)">Corruptor</mat-checkbox>
                        <mat-checkbox color='primary' (change)="enterSearchRoles(8, $event)">Gaslighter</mat-checkbox>
                        <mat-checkbox color='primary' (change)="enterSearchRoles(9, $event)">Enabler</mat-checkbox>
                        <mat-checkbox color='primary' (change)="enterSearchRoles(10, $event)">Opportunist</mat-checkbox>
                    </div>
                </div>
                <div class="role-inner-shell">
                    <h4>Combat Roles</h4>
                    <div class="role-checkbox-shell">
                        <mat-checkbox color='primary' (change)="enterSearchRoles(11, $event)">Artillery</mat-checkbox>
                        <mat-checkbox color='primary' (change)="enterSearchRoles(12, $event)">Brute</mat-checkbox>
                        <mat-checkbox color='primary' (change)="enterSearchRoles(13, $event)">Captain</mat-checkbox>
                        <mat-checkbox color='primary' (change)="enterSearchRoles(14, $event)">Controller</mat-checkbox>
                        <mat-checkbox color='primary' (change)="enterSearchRoles(15, $event)">Defender</mat-checkbox>
                        <mat-checkbox color='primary' (change)="enterSearchRoles(16, $event)">Duelist</mat-checkbox>
                        <mat-checkbox color='primary' (change)="enterSearchRoles(17, $event)">Flanker</mat-checkbox>
                        <mat-checkbox color='primary' (change)="enterSearchRoles(18, $event)">Fodder</mat-checkbox>
                        <mat-checkbox color='primary' (change)="enterSearchRoles(19, $event)">Shock</mat-checkbox>
                        <mat-checkbox color='primary' (change)="enterSearchRoles(20, $event)">Skirmisher</mat-checkbox>
                        <mat-checkbox color='primary' (change)="enterSearchRoles(21, $event)">Solo</mat-checkbox>
                    </div>
                </div>
                <div class="role-inner-shell">
                    <h4>Challenge Roles</h4>
                    <div class="role-checkbox-shell">
                        <mat-checkbox color='primary' (change)="enterSearchRoles(22, $event)">Hunter</mat-checkbox>
                        <mat-checkbox color='primary' (change)="enterSearchRoles(23, $event)">Prey</mat-checkbox>
                        <mat-checkbox color='primary' (change)="enterSearchRoles(24, $event)">Controller</mat-checkbox>
                        <mat-checkbox color='primary' (change)="enterSearchRoles(25, $event)">Lock</mat-checkbox>
                        <mat-checkbox color='primary' (change)="enterSearchRoles(26, $event)">Conditional</mat-checkbox>
                        <mat-checkbox color='primary' (change)="enterSearchRoles(27, $event)">Antagonist</mat-checkbox>
                        <mat-checkbox color='primary' (change)="enterSearchRoles(28, $event)">Trap</mat-checkbox>
                        <mat-checkbox color='primary' (change)="enterSearchRoles(29, $event)">Hazard</mat-checkbox>
                        <mat-checkbox color='primary' (change)="enterSearchRoles(30, $event)">Fodder</mat-checkbox>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="environPanel">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Types
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="searchCheckboxes environShell">
                <mat-checkbox color='primary' (change)="enterSearchTypes(12, $event)">Aos Sidhe</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchTypes(1, $event)">Demon</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchTypes(14, $event)">Eldritch</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchTypes(4, $event)">Elemental</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchTypes(11, $event)">Flora</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchTypes(9, $event)">Goblinoid</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchTypes(7, $event)">Humanoid</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchTypes(8, $event)">Intelligent Evil</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchTypes(5, $event)">Natural Creature</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchTypes(13, $event)">Spirit</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchTypes(10, $event)">Swarm</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchTypes(2, $event)">Undead, Corporeal</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchTypes(3, $event)">Undead, Incorporeal</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchTypes(6, $event)">Weird Creature</mat-checkbox>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="environPanel">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Environments
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="searchCheckboxes environShell">
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(12, $event)">Aquatic</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(4, $event)">Castle</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(5, $event)">Cave/Underground</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(11, $event)">Coastal</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(14, $event)">Desert</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(1, $event)">Dungeon/Ruins</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(3, $event)">Forest</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(18, $event)">House</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(15, $event)">Island</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(16, $event)">Jungle</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(6, $event)">Mountain</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(13, $event)">Other</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(7, $event)">Plains</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(17, $event)">Sewer</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(10, $event)">Ship</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(8, $event)">Swamp</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(9, $event)">Urban</mat-checkbox>
                <mat-checkbox color='primary' (change)="enterSearchEnvirons(2, $event)">Wilderness</mat-checkbox>
            </div>
        </mat-expansion-panel>

        <button color="primary" mat-raised-button (click)="getRandom()" color="warn">I'm Feeling Really Lucky</button>
    </mat-expansion-panel>
</mat-card>