mat-card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 15px;
}

button {
  margin-top: 15px;
}

.search-shell {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search-role-shell {
  display: flex;
  justify-content: space-between;
}

.role-inner-shell {
  width: 31%;
  padding: 0 5px;
  margin-top: 5px;
  border-left: 1px solid grey;
}

.role-checkbox-shell {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 144px;
}
  
  .example-full-width {
      width: 96.5%;
      margin-left: 15px;
  }
  
  .mat-expansion-panel {
      box-shadow: none;
      background: rgba(211, 211, 211, 0.5);
  }
  
  .climatePanel {
    margin-top: 15px;
  }
  
  .searchBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .example-half-width {
    width: 47%;
  }
  
  .example-quarter-width {
    width: 25%;
  }
  
  .searchBody div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 47%;
  }
  
  .searchCheckboxes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 100px;
    margin-left: 8px;
    max-width: 96.5% !important;
    width: 96.5% !important;
  }
  
  .climateShell {
    margin-top: 15px
  }

  .extratall {
    max-height: 350px
  }

  ::ng-deep .mat-tooltip {
    white-space: pre-line !important;
}
  
  .searchBody div p:first-child {
    margin-right: 15px;
  }
  
  .searchBody div p:nth-child(3) {
    margin: 0 15px;
  }

.searchBody .ratingsSearch {
  max-width: 100%;
}

.searchBody .ratingsSearch p:first-child {
  margin-right: 0
}

.searchBody .ratingsSearch .searchCheckboxes {
  margin: 0
}

@media (max-width: 699px) {
  .example-half-width {
    width: 100%;
  }
  
  .searchBody div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
  }

  .searchCheckboxes {
    max-height: none;
  }
}