<h3>Hewy Rating</h3>
<div class="hewy-shell">
  <img src="../../../assets/hewy.jpg" alt="our man, hewy">
  <p>
    This is Hewy. Hewy is your average 1st level soldier/knight. And by average, I mean, really average: Hewy has all
    10s for his stats. Hewy is so average, in fact, that he always rolls average on everything and everyone fighting him
    does the same. Hewy’s masteries in weaponry apply to all weapons, so he can wield a mace, an arming sword, or a
    ranseur equal well, or, in this case, equally average.
  </p>
  <p>
    Poor Hewy is cursed by the Divines to be their personal plaything for war crimes he committed during his life. He
    tests how deadly the monsters of the Middle Realm are and gives them their Hewy Rating, which is, starting 50 ft
    apart and both acting on second 1, how many seconds after they disembowel Hewy for him to have returned the favor.
    Example, if a demon kills Hewy on second 75, but he would have dealt a killing blow to the monster 15 seconds later,
    that monsters HR is 15.
  </p>
  <p>
    This means that the closer to 0, the more evenly matched the creature is against a level 1 fighter character. If
    Hewy kills the monster, it’s reversed with the HR being negative. So, if Hewy kills a goblin that would have taken
    38 additional seconds to kill him, its HR is -38.
  </p>
  <br>
  <button (click)="onNoClick()" [routerLink]="['/main/beast', 205, 'gm']" mat-button>View His Entry</button>
</div>