.bounce1, .bounce2, .bounce3 {
    background: #607d8b
}

.header-shell {
    margin: -24px -24px 0 !important;
    width: unset;
    display: flex;
    justify-content: center;
    position: relative;
    background: #607d8b;
    color: white;
    min-height: 61px;
    align-items: center;
}

h1 {
    font-family: 'Hamletornot';
    letter-spacing: 2px;
    text-align: center;
    max-width: 315px;
}

p {
    white-space: pre-wrap;
    line-height: 1.4;
}

.fa-dice-d20 {
    font-size: 15px;
}

.fa-dice-d20:hover {
    color: #ff5722
}

.right-most-buttom {
    float: right
}

.icon {
    position: absolute;
    left: -8px;
    font-size: 64px;
    top: 7px;
}

.pair-shell {
    padding: 5px 3px;
    display: flex;
    align-items: center;
}

.notes-strong {
    padding: 5px 3px;
}

.pop-up .striped-background:nth-child(2) {
    margin-top: 15px;
}

.pop-up .striped-background:nth-child(odd) {
    background: lightgray
}

strong {
    font-family: 'know';
    font-weight: bold;
    min-width: 125px;
}

table {
    width: 95%;
    margin: 3px auto;
    font-size: 13px;
}

table tr:nth-child(odd) {
    background: lightgray;
}

th {
    background: #795548;
    color: white;
    padding: 3px;
}

tr td:first-child {
    text-align: center;
    padding: 3px;
}

tr td:nth-child(2), tr th:nth-child(2) {
    text-align: left;
    padding: 3px;
}

.mermaid-shell {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.mermaid-inner-shell {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px 0;
}

.beast-entry {
    flex-wrap: nowrap;
}

.view-obstacles {
    max-width: 400px;
    padding: 24px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid lightgray;
    height: 100%;
}

.divider {
    width: 100%;
    height: 1px;
    background: lightgray;
    margin-top: 15px
}

.beast-header {
    margin-top: 15px;
}

.chip-shell {
    margin: 15px;
}

.subtitle {
    margin-top: 15px;
    font-style: italic;
}