<div class="conflict-shell edit-shell-box">
  <img *ngIf="combatSkills.includes(skillInfo.skill)" class="combat-corner-icon" src="./assets/combatskillicon.svg" alt="combat role type" width="17" height="17" matTooltip="This is a combat skill so it also adds to the monster's Combat Rating.">
  <h3>
    <mat-form-field>
      <input placeholder="Skill Name" matInput [value]="skillInfo.skill"
        (change)="captureInput($event, 'skills', i, 'skill')" [matAutocomplete]="autoGroup"
        [formControl]="allSkillControl">

      <mat-autocomplete #autoGroup="matAutocomplete" (optionSelected)="captureSelected($event)">
        <mat-optgroup *ngFor="let group of skillGroupOptions | async" [label]="group.label">
          <mat-option *ngFor="let skill of group.skillList" [value]="skill">
            {{skill}}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>
  </h3>
  <section *ngIf="selectedSkillRole && selectedSkillRole.skillList">
    <mat-checkbox [checked]="showAllSkills" (change)="checkShowAll($event.checked)">Show Me All My Skill Choices</mat-checkbox>
    <br>
  </section>
  <mat-form-field>
    <input placeholder="Skill Rank" matInput [value]="skillInfo.rank"
      (change)="captureInput($event, 'skills', i, 'rank')">
  </mat-form-field>
  <section>
    <mat-checkbox [checked]="skillInfo.allroles" (change)="checkAllRoles('skills', i, $event.checked)">Add to all Roles</mat-checkbox>
  </section>
  <button mat-raised-button (click)="removeNewSecondaryItem('skills', i)" color="warn"><i class="fa-solid fa-minus"></i></button>
</div>