<table *ngIf="table.rows.length <= 12">
  <thead>
    <tr>
      <th colspan="2">{{table.label}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>d{{table.diceSize}}</th>
      <th> </th>
    </tr>
    <tr *ngFor="let row of table.rows">
      <td>{{row.weight > 1 ? (row.currentTotal + 1) + ' - ' + (row.currentTotal + row.weight) :
        row.currentTotal + 1}}</td>
      <td>{{row.value}}</td>
    </tr>
  </tbody>
</table>

  <mat-expansion-panel  *ngIf="table.rows.length > 12">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>{{table.label}} Table</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <table>
      <tbody>
        <tr>
          <th>d{{table.diceSize}}</th>
          <th> </th>
        </tr>
        <tr *ngFor="let row of table.rows">
          <td>{{row.weight > 1 ? (row.currentTotal + 1) + ' - ' + (row.currentTotal + row.weight) :
            row.currentTotal + 1}}</td>
          <td>{{row.value}}</td>
        </tr>
      </tbody>
    </table>
  </mat-expansion-panel>