.disabled, .disabled:hover {
    color: transparent !important
}

table {
    text-align: left;
    font-size: 13px;
    margin-bottom: 5px;
    margin-right: 5px;
}

mat-expansion-panel {
    margin-bottom: 5px;
    margin-right: 5px;
    background-color: rgb(233 233 233);
}

mat-expansion-panel table {
    margin: 0 auto 5px;
}

::ng-deep .mat-expansion-panel-body {
 padding: 0;
}

table thead input {
    color: whitesmoke !important;
    font-size: 14px;
    width: 90%;
}

table thead input::placeholder {
    color: rgba(245, 245, 245, 0.838) !important;
}

table tbody tr td:first-child, table tbody tr th:first-child, .small-width {
    text-align: right;
    min-width: 50px;
}

tbody tr:nth-child(odd) {
    background-color: lightgrey;
}

th, td {
    padding: 4px 7px;   
}

td:nth-child(2) {
    min-width: 136px;
}

table tr th {
    background: #4b4b4b;
    color: white;
    font-size: 12px;
}

thead th {
    background: #607d8b !important;
    color: white;
    position: sticky;
    font-family: "ancient";
    letter-spacing: 2px;
    font-size: 14px !important;
}

.table-input, .table-input-clearable {
    border: none;
    border-bottom: transparent;
    transition: .6s;
    width: 100%;
    background-color: transparent;
    color: black;
}

.table-input:hover, .table-input-clearable:hover {
    border-bottom: 1px solid black;
}

.fa-trash {
    transition: .6s;
}

.fa-trash:hover {
    color: #ab6f00
}

.fa-square-plus:hover {
    color: #00a100;
}