<div class="navigation-shell">
  <div [routerLink]="['/']" class="custom-catalog-shell" matTooltip="Go to the main Catalog">
    <div class="custom-catalog-icons">
      <i class="fa-solid fa-arrow-left"></i>
      <i class="fa-solid fa-list"></i>
    </div>
  </div>

  <div></div>
</div>
<mat-card>
  <div *ngIf="lists.length === 0">
    <h1>You have no random encounter lists!</h1>
    <p>Click on the "<i class="fa-solid fa-plus"></i> List" button below to get started!</p>
  </div>
  <div *ngIf="lists.length > 0">
    <div *ngFor="let list of lists">
      <input [value]="list.name" (blur)="updateName(list.id, $event)">
    </div>
  </div>
  <div class="add-button-shell">
    <button mat-raised-button (click)="addNewTest('habitat')" color="accent"><i class="fa-solid fa-plus"></i>
      List</button>
  </div>
</mat-card>