h1 {
  color: #607d8b
}

.noDisplay {
  display: none;
}

.large {
  font-size: 12px;
  color: #607d8b
}

.img-shell {
  height: 90px;
  width: 100px;
  overflow: hidden;
  margin: 15px auto 0;
  border-radius: 5px;
}

.roleIndent {
  text-indent: 5px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.beastDiv {
    display: flex;
    overflow-y: auto;    
    align-content: flex-start;
    margin-top: 1px;
}

.mat-button {
  vertical-align: bottom;
}

.beast-name {
  font-family: 'know';
  font-size: 16px;    
  padding: 5px 0 0 5px
}

.beast-name-shell {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* width */
::-webkit-scrollbar {
    width: 1px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: grey; 
    border-radius: 4px;
  }

  .beast-outer-shell {
    position: relative;
  }

  .add-to-quick-view-shell {
    position: absolute;
    padding: 5px;
    z-index: 1;
    right: 0;
    border-radius: 25px;
    transition: .6s;
  }

  .add-to-quick-view-shell i {
    font-size: 14px;
    color: lightgray;
  }

  .add-to-quick-view-shell:hover i {
    color: black;
    border-radius: 25px;
  }

  .add-to-quick-view-shell:hover{
    background: lightgray;
  }

  .add-to-quick-view {
    position: relative;
    padding-left: 9px;
}

.add-to-quick-view .fa-square-plus {
    position: absolute;
    left: 0
}

  .context-menu {
    padding: 5px 0px;
    background: white;
    border: 2px lightgrey solid;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    display: none;
  }

  .context-menu p {
    width: 100%;
    padding: 5px 25px;
  }
  .context-menu p:hover {
    background-color: lightgray
  }

  .fa-dice {
    margin-left: -4px;
  }

  .L-line {
    position: relative;
    margin-right: 7px;
  }

  .L-line span {
    position: absolute;
    border-left: 1px solid;
    border-bottom: 1px solid;
    width: 5px;
    height: 23px;
    top: -15px;
  }

  .drop-down-list:first-child .L-line span {
    height: 19px;
    top: -11px;
  }

  @media (max-width: 699px) { 
    .img-shell {
      height: 200px;
      width: 200px;
    }
    
    img {
      width: 200px;
    }

    h2 {
      font-size: 35px;
    }
    .beast-name {
      font-size: 25px;
    }
  }