<mat-card>
  <h2>Favorites</h2>
  <mat-divider></mat-divider>
  <div *ngIf="favorites.length === 0" class="beastDiv">
    <h1>{{message}}</h1>
  </div>

  <div *ngIf="favorites.length > 0" class="beastDiv">
    <div *ngFor="let beast of favorites">
      <div *ngIf="beastService.loggedIn !== 'owner' && beast.patreon < 4">
        <button *ngIf="beast.patreon < 20" [routerLink]="['/beast', beast.id, 'player']" class="beastButton" mat-button
          (contextmenu)="displayContextMenu($event, beast.id, beast.hash, beast.roles, beast.role, beast.secondaryrole, beast.socialrole, beast.skillrole); false">
          <div class="img-shell">
            <img [ngStyle]="{'object-position': beast.thumbnail ? beast.thumbnail : 'top'}" *ngIf="beast.id"
              [src]="imageBase + beast.id + '.png'" [alt]="beast.name" onerror="this.onerror=null;this.src='/assets/404.png';">
          </div>
          <div class="beast-name-shell">
            <i *ngIf="beast.patreon >= 2 && beast.patreon < 20" matTooltip="Deluxe" class="fas fa-plus icon-blue"></i>
            <i *ngIf="beast.canplayerview" matTooltip="Anyone Can View" class="fa fa-eye icon-blue"></i>
            <p class="beast-name">{{beast.name}}</p>
          </div>
        </button>
      </div>
      <div *ngIf="beastService.loggedIn > 3 && beastService.loggedIn < 20 || beastService.loggedIn === 'owner'">
        <button *ngIf="beast.patreon < 19 || beastService.loggedIn === 'owner'"
          [routerLink]="['/beast', beast.id, 'gm']" class="beastButton" mat-button
          (contextmenu)="displayContextMenu($event, beast.id, beast.hash, beast.roles, beast.role, beast.secondaryrole, beast.socialrole, beast.skillrole); false">
          <div class="img-shell">
            <img [ngStyle]="{'object-position': beast.thumbnail ? beast.thumbnail : 'top'}" *ngIf="beast.id"
              [src]="imageBase + beast.id + '.png'" [alt]="beast.name" onerror="this.onerror=null;this.src='/assets/404.png';">
          </div>
          <div class="beast-name-shell">
            <i *ngIf="beast.patreon >= 20" matTooltip="Early Access" class="fas fa-dice-d20 icon-blue"></i>
            <i *ngIf="beast.patreon >= 2 && beast.patreon < 20" matTooltip="Deluxe" class="fas fa-plus icon-blue"></i>
            <i *ngIf="beast.canplayerview" matTooltip="Anyone Can View" class="fa fa-eye icon-blue"></i>
            <p class="beast-name">{{beast.name}}</p>
          </div>
        </button>
        <button *ngIf="beastService.loggedIn !== 'owner' && beast.patreon > 19" disabled class="beastButton" mat-button
          (contextmenu)="displayContextMenu($event, beast.id, beast.hash, beast.roles, beast.role, beast.secondaryrole, beast.socialrole, beast.skillrole); false">
          <div class="img-shell">
            <img [ngStyle]="{'object-position': beast.thumbnail ? beast.thumbnail : 'top'}" *ngIf="beast.id"
              [src]="imageBase + beast.id + '.png'" [alt]="beast.name" onerror="this.onerror=null;this.src='/assets/404.png';">
          </div>
          <div class="beast-name-shell">
            <i *ngIf="beast.patreon >= 20" matTooltip="Early Access" class="fas fa-dice-d20 icon-blue"></i>
            <i *ngIf="beast.patreon >= 2 && beast.patreon < 20" matTooltip="Deluxe" class="fas fa-plus icon-blue"></i>
            <i *ngIf="beast.canplayerview" matTooltip="Anyone Can View" class="fa fa-eye icon-blue"></i>
            <p class="beast-name">{{beast.name}}</p>
          </div>
        </button>
        <div class="context-menu" *ngIf="isDisplayContextMenu"
          [ngStyle]="getRightClickMenuStyle()">
          <p (click)="openNewTab()">Open in New Tab</p>
          <p (click)="addBeastToQuickView()">Add to Quick View <strong [innerHTML]="displayName(role.name, role.role, role.secondaryrole, role.socialrole, role.skillrole)"></strong></p>
        </div>
      </div>
    </div>
  </div>

  <div *ngFor="let category of beasts">
    <h2>{{category[0].name.substring(0,1)}}</h2>
    <mat-divider></mat-divider>
    <div class="beastDiv">
      <div *ngFor="let beast of category">
        <div class="context-menu" *ngIf="isDisplayContextMenu"
          [ngStyle]="getRightClickMenuStyle()">
          <p (click)="openNewTab()">Open in New Tab</p>
          <p *ngIf="targetRoles.length === 0" (click)="addBeastToQuickView()">Add <strong [innerHTML]="displayName(null, targetRole, targetSecondaryRole, targetSocialRole, targetSkillRole)"></strong> to Quick View</p>
          <p *ngIf="targetRoles.length > 0" (click)="addBeastToQuickView()">Add Generic <strong [innerHTML]="displayName(null, targetRole, targetSecondaryRole, targetSocialRole, targetSkillRole)"></strong> to Quick View</p>
          <div *ngIf="targetRoles.length > 0">
            <div *ngFor="let role of targetRoles; let i = index">
                <p class="roleIndent" (click)="addRoleToQuickView(i)"> - <strong [innerHTML]="displayName(role.name, role.role, role.secondaryrole, role.socialrole, role.skillrole)"></strong> to Quick View</p>
            </div>
            <p class="roleIndent" (click)="addRandomRoleToQuickView()"><i class="fa-solid fa-dice"></i> Add Random Role to Quick View</p>
          </div>
        </div>

        <div *ngIf="beastService.loggedIn !== 'owner' && beast.patreon < 4" class="beast-outer-shell">
          <button *ngIf="beast.patreon < 20" [routerLink]="['/beast', beast.id, 'player']" class="beastButton"
            mat-button (contextmenu)="displayContextMenu($event, beast.id, beast.hash, beast.roles, beast.role, beast.secondaryrole, beast.socialrole, beast.skillrole); false">
            <div class="img-shell">
              <img [ngStyle]="{'object-position': beast.thumbnail ? beast.thumbnail : 'top'}" *ngIf="beast.id"
                [src]="imageBase + beast.id + '.png'" [alt]="beast.name" onerror="this.onerror=null;this.src='/assets/404.png';">
            </div>
            <div class="beast-name-shell">
              <i *ngIf="beast.patreon >= 2 && beast.patreon < 20" matTooltip="Deluxe" class="fas fa-plus icon-blue"></i>
              <i *ngIf="beast.canplayerview" matTooltip="Anyone Can View" class="fa fa-eye icon-blue"></i>
              <p class="beast-name">{{beast.name}}</p>
            </div>
          </button>
        </div>

        <div *ngIf="beastService.loggedIn > 3 && beastService.loggedIn < 20 || beastService.loggedIn === 'owner'"
          class="beast-outer-shell">
          <button *ngIf="beast.patreon < 19 || beastService.loggedIn === 'owner'"
            [routerLink]="['/beast', beast.id, 'gm']" class="beastButton" mat-button
            (contextmenu)="displayContextMenu($event, beast.id, beast.hash, beast.roles, beast.role, beast.secondaryrole, beast.socialrole, beast.skillrole); false">
            <div class="img-shell">
              <img [ngStyle]="beast.thumbnail ? {'object-position': beast.thumbnail} : {}" *ngIf="beast.id"
                [src]="imageBase + beast.id + '.png'" [alt]="beast.name" onerror="this.onerror=null;this.src='/assets/404.png';">
            </div>
            <div class="beast-name-shell">
              <i *ngIf="beast.patreon >= 20" matTooltip="Early Access" class="fas fa-dice-d20 icon-blue"></i>
              <i *ngIf="beast.patreon >= 2 && beast.patreon < 20" matTooltip="Deluxe" class="fas fa-plus icon-blue"></i>
              <i *ngIf="beast.canplayerview" matTooltip="Anyone Can View" class="fa fa-eye icon-blue"></i>
              <p class="beast-name">{{beast.name}}</p>
            </div>
          </button>
          <button *ngIf="beastService.loggedIn !== 'owner' && beast.patreon > 19" disabled class="beastButton"
            mat-button (contextmenu)="displayContextMenu($event, beast.id, beast.hash, beast.roles, beast.role, beast.secondaryrole, beast.socialrole, beast.skillrole); false">
            <div class="img-shell">
              <img [ngStyle]="{'object-position': beast.thumbnail ? beast.thumbnail :  'top'}" *ngIf="beast.id"
                [src]="imageBase + beast.id + '.png'" [alt]="beast.name" onerror="this.onerror=null;this.src='/assets/404.png';">
            </div>
            <div class="beast-name-shell">
              <i *ngIf="beast.patreon >= 20" matTooltip="Early Access" class="fas fa-dice-d20 icon-blue"></i>
              <i *ngIf="beast.patreon >= 2 && beast.patreon < 20" matTooltip="Deluxe" class="fas fa-plus icon-blue"></i>
              <i *ngIf="beast.canplayerview" matTooltip="Anyone Can View" class="fa fa-eye icon-blue"></i>
              <p class="beast-name">{{beast.name}}</p>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-card>