.img-shell {
  height: 100px;
  width: 100px;
  overflow: hidden;
  margin: 0 auto;
}

img {
  width: 100px;
  margin-top: 15px;
}

.beastDiv {
    display: flex;
    overflow-y: auto;    
    align-content: flex-start;
    margin-top: 1px;
}

.mat-button {
  vertical-align: bottom;
}

.beast-name {
  font-family: 'know';
  font-size: 16px;    
  padding: 5px 0 0 5px
}

.beast-name-shell {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: grey; 
  }

  @media (max-width: 699px) { 
    .img-shell {
      height: 200px;
      width: 200px;
    }
    
    img {
      width: 200px;
    }

    h2 {
      font-size: 35px;
    }
    .beast-name {
      font-size: 25px;
    }
  }