mat-card {
    margin-top: 15px;
    position: relative;
}

.dice-matrix {
    position: absolute;
    height: 50px;
    width: 50px;
    right: 0;
    top: 0;
    background: #607d8b;
    padding: 8px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 15px;
    transition: .6s;
    color: white
}

.dice-matrix i {
    font-size: 35px;
}

.dice-matrix:hover {
    background: lightgray;
    color: #607d8b
}

h1 {
    color: #607d8b
}

p {
    margin-top: 15px;
}

.mat-button {
    vertical-align: bottom;
}

.obstacle-shells {
    display: flex;
    flex-wrap: wrap;
}

.obstacle-button {
    margin-top: 10px;
    margin-right: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: grey;
    border-radius: 4px;
}