<mat-card>
  <div (click)="openMatrix()" class="dice-matrix">
    <i class="fas fa-dice-d20"></i>
  </div>
  <div *ngFor="let category of obstacles">
    <div *ngIf="category[0].name">
      <h2>{{category[0].name.substring(0,1) | uppercase}}</h2>
      <mat-divider></mat-divider>
      <div class="obstacle-shells">
        <div *ngFor="let obstacle of category">
          <button class="obstacle-button" mat-raised-button color="accent" (click)="openObstacle(obstacle.id, obstacle.type)">
            <i *ngIf="obstacle.type === 'obstacle'" class="fas fa-exclamation-triangle"></i> 
            <i *ngIf="obstacle.type === 'challenge'" class="fas fa-project-diagram"></i>
            {{obstacle.name}}
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="!category[0].name">
      <h2>{{category | uppercase}}</h2>
      <mat-divider></mat-divider>
      <p>There are currently no Obstacles that start with the letter {{category | uppercase}}</p>
    </div>
  </div>
</mat-card>