<mat-card>
  <mat-toolbar color="accent">
    <h1>{{beast.name}}</h1>
    <div>
      <h1>HR: {{beast.hr}}</h1>
    </div>
  </mat-toolbar>

  <div class="content-shell">

    <div class="left">
      <div>
        <img [src]="beast.image" alt="">
      </div>

      <div class="combat-social-shell">
        <div *ngFor="let square of beast.combat">
          <h3>{{square.weapon}}</h3>
          <div class="square-shell">
            <img class="combat-image" src="../../../../assets/square.png" alt="combat square">
            <p class="spd">{{square.spd}}</p>
            <p class="atk">{{square.atk}}</p>
            <p class="init">{{square.init}}</p>
            <p class="def">{{square.def}}</p>
            <p class="encumb">{{square.encumb}}</p>
            <p class="dr">{{square.dr}}</p>
            <p class="measure">{{square.measure}}</p>
            <p class="damage">{{square.damage}}</p>
            <p class="parry">{{square.parry}}</p>
          </div>
        </div>
      </div>

      <div class="vitals-shell">
        <div class="flex-row-opposite">
          <h3>Vitality</h3>
          <p>{{beast.vitality}}</p>
        </div>
        <div class="flex-row-opposite">
          <h3>Panic</h3>
          <p>{{beast.panic}}</p>
        </div>
        <div class="flex-row-opposite">
          <h3>Broken</h3>
          <p>{{beast.broken}}</p>
        </div>
        <!-- Custom pipes for the above should work -->
        <div class="flex-row-opposite">
          <h3>Size</h3>
          <p>{{beast.size}}</p>
        </div>
      </div>

      <h2>Special Attacks</h2>
      <div class="divider"></div>
      <div>
        <quill-view-html [content]="beast.sp_atk"></quill-view-html>
      </div>

      <h2>Special Defenses</h2>
      <div class="divider"></div>
      <div>
        <quill-view-html [content]="beast.sp_def"></quill-view-html>
      </div>

      <h2>Tactics</h2>
      <div class="divider"></div>
      <div>
        <quill-view-html [content]="beast.tactics"></quill-view-html>
      </div>
    </div>

    <div class="right">
      <div>
        <quill-view-html [content]="beast.intro"></quill-view-html>
      </div>

      <h2>Habitat/Society</h2>
      <div class="divider"></div>
      <div>
        <quill-view-html [content]="beast.habitat"></quill-view-html>
      </div>

      <h2>Ecology</h2>
      <div class="divider"></div>
      <div>
        <quill-view-html [content]="beast.ecology"></quill-view-html>
      </div>

      <h2>Type</h2>
      <div class="divider"></div>
      <div class="chip-shell box-padding">
        <mat-chip-list>
          <mat-chip *ngFor="let type of beast.types" color="accent" selected>{{type}}</mat-chip>
        </mat-chip-list>
      </div>
      <!-- list of types that link to search with that type as a parameter -->

      <h2>Misc Information</h2>
      <div class="divider"></div>
      <div class="box-padding">
        <h3>Environment</h3>
        <div class="chip-shell">
          <mat-chip-list>
              <mat-chip *ngFor="let environ of beast.environ" color="accent" selected>{{environ}}</mat-chip>
          </mat-chip-list>
        </div>
        <div class="flex-row-opposite">
          <h3>Number Appearing</h3>
          <p>{{beast.number_min}} - {{beast.number_max}}</p>
        </div>
        <div class="flex-row-opposite">
          <h3>Senses</h3>
          <p>{{beast.sense}}</p>
        </div>
        <div class="flex-row-opposite">
          <h3>Diet</h3>
          <p>{{beast.diet}}</p>
        </div>
        <div class="flex-row-opposite">
          <h3>Subsystem</h3>
          <p>{{beast.subsystem}}</p>
        </div>
      </div>

      <!-- <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  <h2>Variants (0)</h2>
              </mat-panel-title>
          </mat-expansion-panel-header>
      </mat-expansion-panel> -->

      <!-- <h2>Special Harvest</h2> -->

      <h2>Meta Notes</h2>
      <div class="divider"></div>
      <div>
        <quill-view-html [content]="beast.meta"></quill-view-html>
      </div>

      <!-- <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  <h2>Personal Notes</h2>
              </mat-panel-title>
          </mat-expansion-panel-header>
      </mat-expansion-panel> -->
    </div>
  </div>

  <button *ngIf="loggedIn === 'owner'" mat-raised-button color="warn"
    [routerLink]="['/main/beast', beast.id, 'edit']">Edit</button>
</mat-card>