<div (click)="toggleQuickViewList()" class="open-quick-view-button">
  <i *ngIf="!quickViewListIsOpen" class="fa-solid fa-rectangle-list"></i>
  <i *ngIf="quickViewListIsOpen" class="fas fa-times-circle"></i>
</div>

<div (click)="toggleQuickViewList()" [ngClass]="quickViewListIsOpen ? 'overlay' : 'overlay-closed overlay'"></div>

<div [ngClass]="quickViewListIsOpen ? 'quick-view-drawer' : 'drawer-closed quick-view-drawer'">
  <h1 class="quick-view-title">Quick View</h1>
  <div class="divider white"></div>

  <div *ngIf="quickViewService.quickViewArray.length === 0" class="quick-view-no-monsters-shell">
    <p>You current have no monsters in your quick view.</p>
    <p>Right click on a monster's icon in the catelog and select "add to quick view"</p>
    <p>or hit the <span class="add-to-quick-view"><i class="fa-solid fa-square-plus"></i><i
          class="fa-solid fa-rectangle-list"></i></span> at the top of a monster's entry</p>
    <p>to add them.</p>
  </div>

  <div *ngIf="quickViewService.quickViewArray.length > 0" class="quick-view-with-monsters-shell">
    <div class="accordian-shell">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let beast of beasts; let beastIndex = index">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2>{{beast.name}}</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="tracked-in-combat-shell">
            <h3>Tracked in Combat Counter? </h3>

            <mat-checkbox (change)="trackedInCombatCounter($event)">
            </mat-checkbox>
          </div>

          <div *ngIf="!isTrackedInCombatCounter">
            <div class="vitals-shell" *ngFor="let vitalities of beast.vitalityArray; let mainIndex = index">
              <div class="flex-row-opposite label-shell">
                <mat-form-field floatLabel=never>
                  <h2>
                    <input placeholder="Creature Label" matInput [value]="vitalities.label">
                  </h2>
                </mat-form-field>

                <div class="remove-button-shell" (click)="removeVitality(beastIndex, mainIndex)"><i
                    class="fa-solid fa-trash"></i></div>
              </div>

              <div class="flex-row-opposite">
                <h3>Caution Threshold</h3>
                <p>{{quickViewService.quickViewArray[beastIndex].phyiscalAndStress.mental.caution}} <i
                    class="fas fa-info-circle icon-small blue"
                    matTooltip="If the monster's combine damage and Stress is over this number, they go on the defensive: slowly retreating if they can get away, falling back to a more defensive position if they can't, or simply switching to defensive strategies if unable.">
                    </i></p>
              </div>

              <div class="flex-row-opposite">
                <h3>Vitality</h3>
                <div class="input-shell">
                  <mat-form-field>
                    <input matInput>
                  </mat-form-field>
                  <p> / ({{quickViewService.quickViewArray[beastIndex].phyiscalAndStress.physical.fatigue}}) /
                    {{vitalities.vitality}}</p>
                </div>
              </div>

              <div class="locationVitality">
                <div *ngFor="let location of beast.locationalvitality; let i = index">
                  <div class="flex-row-opposite">
                    <strong>{{location.location}}</strong>
                    <div class="input-shell">
                      <mat-form-field>
                        <input matInput>
                      </mat-form-field>
                      <p>/ {{vitalities.locationCheckboxes[location.location].rolled}}</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="flex-row-opposite">
                <strong>Trauma Threshold</strong>
                <p>{{vitalities.trauma}}</p>
              </div>

              <div *ngIf="quickViewService.quickViewArray[beastIndex].phyiscalAndStress.mental.stress">
                <div class="flex-row-opposite">
                  <h3>Stress Threshold</h3>
                  <div class="input-shell">
                    <mat-form-field>
                      <input matInput>
                    </mat-form-field>
                    <p>/ ({{quickViewService.quickViewArray[beastIndex].phyiscalAndStress.mental.panic}}) / {{quickViewService.quickViewArray[beastIndex].phyiscalAndStress.mental.stress}}</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="add-button-shell">
              <div (click)="addAnotherVitality(beastIndex)"><i class="fas fa-plus"></i></div>
            </div>
          </div>

          <div *ngIf="!isTrackedInCombatCounter" class="combat-shell">
            <div *ngFor="let combatSquare of beast.combatStatArray">
              <app-combat-square [baseCombatSquare]="combatSquare.combatSquare"
                [combatStats]="combatSquare.combatStats"
                [primaryRole]="selectedRoleId ? beast.roleInfo[selectedRoleId].role : beast.role"
                [secondaryRole]="selectedRoleId ? beast.roleInfo[selectedRoleId].secondaryrole : beast.secondaryrole"
                [size]="selectedRoleId && beast.roleInfo[selectedRoleId].size ? beast.roleInfo[selectedRoleId].size : beast.size ? beast.size : 'Medium'"
                [points]="selectedRoleId ? beast.roleInfo[selectedRoleId].combatpoints : beast.combatpoints"></app-combat-square>
            </div>
          </div>

          <div
            *ngIf="(beast.sp_atk && !beast.sp_atk.includes('None')) || beast.roleattack || beast.specialAbilities.length > 0">
            <h2>Add. Attack Info</h2>
            <div class="divider"></div>
            <div *ngIf="!beast.sp_atk.includes('None')">
              <quill-view-html [content]="beast.sp_atk"></quill-view-html>
            </div>
            <div *ngIf="beast.roleattack">
              <quill-view-html [content]="beast.roleattack"></quill-view-html>
            </div>
            <div *ngFor="let ability of beast.specialAbilities">
              <quill-view-html [content]="ability"></quill-view-html>
            </div>
          </div>

          <div *ngIf="beast.sp_def && !beast.sp_def.includes('None') || beast.roledefense">
            <h2>Add. Defense Info</h2>
            <div class="divider"></div>
            <div *ngIf="!beast.sp_def.includes('None')">
              <quill-view-html [content]="beast.sp_def"></quill-view-html>
            </div>
            <div *ngIf="beast.roledefense">
              <quill-view-html [content]="beast.roledefense"></quill-view-html>
            </div>
          </div>

          <div class="vitals-shell">
            <h3 class="blue movement-margin">Movement</h3>
            <div *ngIf="beast.movement.length == 0">
              <div class="divider white"></div>
              <h3>This Monster Can't Move</h3>
            </div>
            <div *ngFor="let movementType of beast.movement">
              <div *ngIf="selectedRoleId === movementType.roleid || movementType.allroles">
                <div class="divider white"></div>
                <h4>{{movementType.type ? movementType.type : 'Land' | titlecase}}</h4>
                <div class="divider white"></div>
                <div class="flex-row-opposite">
                  <h5
                    [ngClass]="{'strike-through': movementType.strollspeed === 0 || !movementType.strollspeed }">
                    Crawl</h5>
                  <p>{{movementType.strollspeed + ' ft / sec'}}</p>
                </div>
                <div class="flex-row-opposite">
                  <h5
                    [ngClass]="{'strike-through': movementType.walkspeed === 0 || !movementType.walkspeed }">
                    Walk</h5>
                  <p>{{movementType.walkspeed === 0 || !movementType.walkspeed ? '' :
                    movementType.walkspeed + ' ft / sec'}}</p>
                </div>
                <div class="flex-row-opposite">
                  <h5
                    [ngClass]="{'strike-through': movementType.jogspeed === 0 || !movementType.jogspeed }">
                    Jog
                  </h5>
                  <p>{{movementType.jogspeed === 0 ||
                    !movementType.jogspeed ? '' :
                    movementType.jogspeed + ' ft / sec'}}</p>
                </div>
                <div class="flex-row-opposite">
                  <h5
                    [ngClass]="{'strike-through': movementType.runspeed === 0 || !movementType.runspeed }">
                    Run
                  </h5>
                  <p>{{movementType.runspeed === 0 ||
                    !movementType.runspeed ? '' :
                    movementType.runspeed + ' ft / sec'}}</p>
                </div>
                <div class="flex-row-opposite">
                  <h5
                    [ngClass]="{'strike-through': movementType.sprintspeed === 0 || !movementType.sprintspeed  }">
                    Sprint</h5>
                  <p>{{movementType.sprintspeed === 0 || !movementType.sprintspeed
                    ? '' :
                    movementType.sprintspeed + ' ft / sec'}}</p>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="!isTrackedInCombatCounter" class="flex-row-opposite ">
            <h3>Combat Hash</h3>

            <p>{{beast.hash}}</p>
          </div>

          <div class="flex-row-opposite ">
            <button mat-raised-button color="warn" (click)="quickViewService.removeFromQuickView(beastIndex)"><i
                class="fa-solid fa-trash"></i></button>

            <button mat-raised-button color="accent" (click)="goToEntry(beast.id)">Go to Entry</button>
          </div>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

</div>