<div (click)="toggleQuickViewList()" class="open-quick-view-button">
  <i *ngIf="!quickViewListIsOpen" class="fas fa-address-card"></i>
  <i *ngIf="quickViewListIsOpen" class="fas fa-times-circle"></i>
</div>

<div (click)="toggleQuickViewList()" [ngClass]="quickViewListIsOpen ? 'overlay' : 'overlay-closed overlay'"></div>

<div [ngClass]="quickViewListIsOpen ? 'quick-view-drawer' : 'drawer-closed quick-view-drawer'">
  <h1 class="quick-view-title">Quick View</h1>
  <div class="divider white"></div>

  <div *ngIf="quickViewService.quickViewArray.length === 0" class="quick-view-no-monsters-shell">
    <p>You current have no monsters in your quick view.</p>
    <p>Right click on a monster's icon in the catelog and select "add to quick view"</p>
    <p>or hit the <i class="fas fa-plus"></i><i class="fas fa-address-card"></i> at the top of a monster's entry</p>
    <p>to add them.</p>
  </div>

  <div *ngIf="quickViewService.quickViewArray.length > 0" class="quick-view-with-monsters-shell">
    <div class="accordian-shell">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let beast of quickViewService.quickViewArray; let beastIndex = index">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2>{{beast.name}}</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="tracked-in-combat-shell">
            <h3>Tracked in Combat Counter? </h3>

            <mat-checkbox (change)="trackedInCombatCounter($event)">
            </mat-checkbox>
          </div>

          <div *ngIf="!isTrackedInCombatCounter">
            <div class="vitals-shell" *ngFor="let vitalities of beast.vitalityArray; let mainIndex = index">
              <div class="flex-row-opposite label-shell">
                <mat-form-field floatLabel=never>
                  <h2>
                    <input placeholder="Creature Label" matInput [value]="vitalities.label">
                  </h2>
                </mat-form-field>

                <div class="remove-button-shell" (click)="removeVitality(beastIndex, mainIndex)"><i
                    class="fas fa-minus"></i></div>
              </div>

              <div *ngIf="beast.caution !== 0" class="flex-row-opposite">
                <h3>Caution Threshold</h3>
                <p>{{beast.caution < 0 ? 'A' : beast.caution}} <i class="fas fa-info-circle icon-small blue"
                    matTooltip="If the monster's combine damage and Stress is over this number, they go on the defensive: slowly retreating if they can get away, falling back to a more defensive position if they can't, or simply switching to defensive strategies if unable.">
                    </i></p>
              </div>

              <div class="flex-row-opposite">
                <h3>Vitality</h3>
                <div class="input-shell">
                  <mat-form-field>
                    <input matInput>
                  </mat-form-field>
                  <p>/ {{vitalities.locationCheckboxes.mainVitality.rolled}}</p>
                </div>
              </div>

              <div class="locationVitality">
                <div *ngFor="let location of beast.locationalvitality; let i = index">
                  <div class="flex-row-opposite">
                    <strong>{{location.location}}</strong>
                    <div class="input-shell">
                      <mat-form-field>
                        <input matInput>
                      </mat-form-field>
                      <p>/ {{vitalities.locationCheckboxes[location.location].rolled}}</p>
                    </div>
                  </div>
                  <!-- <div class="flex-row-opposite">
                    <h3>{{location.location}}</h3>
                  </div>
                  <div class="checkboxShell">
                    <div
                      *ngFor="let checkbox of vitalities.locationCheckboxes[location.location].checkboxes; let i = index">
                      <mat-checkbox matTooltip="{{i+1}}" *ngIf="!checkbox.value"
                        (change)="checkCheckbox($event, i, location.location, beastIndex, mainIndex)"
                        [(ngModel)]="checkbox.checked">
                      </mat-checkbox>
                      <p *ngIf="checkbox.value"> {{checkbox.value}} </p>
                    </div>
                  </div> -->
                </div>
              </div>

              <div *ngIf="isNumber(beast.trauma)" class="flex-row-opposite">
                <strong>Trauma Threshold</strong>
                <p *ngIf="isNumber(beast.trauma)">{{beast.trauma}}</p>
                <p *ngIf="!isNumber(beast.trauma)">n/a</p>
              </div>

              <div *ngIf="beast.stress > 0">
                <div class="flex-row-opposite">
                  <h3>Stress Threshold</h3>
                  <div class="input-shell">
                    <mat-form-field>
                      <input matInput>
                    </mat-form-field>
                    <p>/ ( {{convertPanic(beast.stress, beast.panic)}} ) / {{beast.stress}}</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="flex-row-opposite">
              <h3>Stress Threshold</h3>
              <p *ngIf="beast.stress !== 0">{{beast.stress}}</p>
              <p *ngIf="beast.stress === 0">n/a</p>
            </div> -->
            <div *ngIf="beast.panic === 1" class="flex-row-opposite">
              <h3>Panic</h3>
              <p>{{beast.panic | moraleConverter}}</p>
            </div>

            <div class="add-button-shell">
              <div (click)="addAnotherVitality(beastIndex)"><i class="fas fa-plus"></i></div>
            </div>
          </div>

          <div *ngIf="!isTrackedInCombatCounter" class="combat-shell">
            <div class="combat-square" *ngFor="let square of beast.combat">
              <h3 class="weaponName">{{square.weapon === '' ? displayName(square) : square.weapon | titlecase}}</h3>

              <div *ngIf="!beast.roleinfo" class="square-shell">
                <img class="combat-image" src="../../../../assets/square.png" alt="combat square">
                <p class="spd">{{square.spd}}</p>
                <p class="atk">{{square.atk}}</p>
                <p class="init">{{square.init}}</p>
                <p class="def">{{square.def}}</p>
                <p class="fatigue">{{ convertFatigue(beast.vitalityArray[0].locationCheckboxes.mainVitality.average,
                  square.fatigue) }}</p>
                <div class="dr">
                  <p>{{square.dr}}</p>
                  <p class="shield_dr" *ngIf='square.shield_dr && square.shield_dr !== " "'>{{square.shield_dr}}</p>
                </div>
                <div class="measure">
                  <p *ngIf="square.weapontype !== 'r'">{{square.measure}}</p>
                  <p *ngIf="square.weapontype === 'r'">{{square.ranges.increment}}ri <i
                      class="fas fa-info-circle icon-small blue" matTooltip="Stands for Range Increment. 
                      Between 5 ft and {{square.ranges.increment}} ft, -0 atk penalty. 
                      Between {{square.ranges.increment + 1}} ft and {{square.ranges.increment * 2}} ft, -2 atk penalty.
                      Between {{(square.ranges.increment * 2) + 1}} ft and {{square.ranges.increment * 3}} ft, -4 atk penalty.
                      and so on." matTooltipClass="my-tooltip"></i></p>
                </div>
                <p class="damage">{{square.damage}}</p>
                <p class="parry">{{square.parry}}</p>
              </div>

              <div *ngIf="beast.roleinfo" class="square-shell">
                <img class="combat-image" src="../../../../assets/square.png" alt="combat square">
                  <p class="spd">{{(square.selectedweapon ? square.weaponInfo.rec : beast.roleinfo.spd) +
                    (square.selectedarmor ? square.armorInfo.rec : 0) + square.spd}}</p>
                  <p class="atk">{{(square.weapontype === 'm' ? beast.roleinfo.atk : beast.roleinfo.rangedAtk) + square.atk}}</p>
                  <p class="init">{{(square.selectedarmor ? square.armorInfo.init : beast.roleinfo.init) + square.init}}
                  </p>
                  <p class="def">{{evaluateDefense(square, beast.roleinfo)}}</p>
                  <p class="fatigue">{{ convertFatigue(beast.vitalityArray[0].locationCheckboxes.mainVitality.average, square.fatigue) }}</p>
                  <div class="dr">
                    <p>{{displayDR(square.newDR, 'armor', square, beast.roleinfo)}}</p>
                    <p class="shield_dr" *ngIf='square.shield_dr && square.shield_dr !== " " || square.selectedshield'>
                      {{displayDR(square.newShieldDr, 'shield', square, beast.roleinfo)}}</p>
                  </div>
                  <div class="measure">
                    <p *ngIf="square.weapontype !== 'r'">{{(square.selectedweapon ? square.weaponInfo.measure :
                      beast.roleinfo.measure) + square.measure}}</p>
                    <p *ngIf="square.weapontype === 'r'">{{(square.selectedweapon ? square.weaponInfo.range :
                      beast.roleinfo.ranges.increment) + square.ranges.increment}}ri <i
                        class="fas fa-info-circle icon-small blue" matTooltip="Stands for Range Increment. 
                        Between 5 ft and {{(square.selectedweapon ? square.weaponInfo.range : beast.roleinfo.ranges.increment) + square.ranges.increment}} ft, -0 atk penalty. 
                        Between {{(square.selectedweapon ? square.weaponInfo.range : beast.roleinfo.ranges.increment) + square.ranges.increment + 1}} ft and {{((square.selectedweapon ? square.weaponInfo.range : beast.roleinfo.ranges.increment) + square.ranges.increment) * 2}} ft, -2 atk penalty.
                        Between {{(((square.selectedweapon ? square.weaponInfo.range : beast.roleinfo.ranges.increment) + square.ranges.increment) * 2) + 1}} ft and {{((square.selectedweapon ? square.weaponInfo.range : beast.roleinfo.ranges.increment) + square.ranges.increment) * 3}} ft, -4 atk penalty.
                        and so on." matTooltipClass="my-tooltip"></i></p>
                  </div>
                  <p *ngIf="!square.newDamage.isSpecial" class="damage">{{displayDamage(square, beast.roleinfo)}}</p>
                  <p *ngIf="square.newDamage.isSpecial" class="damage specialDamage">*See Attack Info Below</p>
                  <p class="parry">{{(square.selectedshield ? square.shieldInfo.parry : square.selectedweapon ?
                    square.weaponInfo.parry : beast.roleinfo.parry) + square.parry}}</p>
              </div>
            </div>
          </div>

          <div *ngIf="!beast.sp_atk.includes('None') || beast.roleattack">
            <h2>Add. Attack Info</h2>
            <div class="divider"></div>
            <div *ngIf="!beast.sp_atk.includes('None')">
              <quill-view-html [content]="beast.sp_atk"></quill-view-html>
            </div>
            <div *ngIf="beast.roleattack">
              <quill-view-html [content]="beast.roleattack"></quill-view-html>
            </div>
          </div>

          <div *ngIf="!beast.sp_def.includes('None') || beast.roledefense">
            <h2>Add. Defense Info</h2>
            <div class="divider"></div>
            <div *ngIf="!beast.sp_def.includes('None')">
              <quill-view-html [content]="beast.sp_def"></quill-view-html>
            </div>
            <div *ngIf="beast.roledefense">
              <quill-view-html [content]="beast.roledefense"></quill-view-html>
            </div>
          </div>

          <div class="vitals-shell">
            <h3 class="blue movement-margin">Movement</h3>
            <div *ngIf="beast.movement.length == 0">
              <div class="divider white"></div>
              <h3>This Monster Can't Move</h3>
            </div>
            <div *ngFor="let movementType of beast.movement">
              <div class="divider white"></div>
              <h3>{{movementType.type | titlecase}}</h3>
              <div class="divider white"></div>
              <div class="flex-row-opposite">
                <h3>Stroll/Crawl</h3>
                <p>{{movementType.stroll}}</p>
              </div>
              <div class="flex-row-opposite">
                <h3>Walk</h3>
                <p>{{movementType.walk}}</p>
              </div>
              <div class="flex-row-opposite">
                <h3>Jog</h3>
                <p>{{movementType.jog}}</p>
              </div>
              <div class="flex-row-opposite">
                <h3>Run</h3>
                <p>{{movementType.run}}</p>
              </div>
              <div class="flex-row-opposite">
                <h3>Sprint</h3>
                <p>{{movementType.sprint}}</p>
              </div>
            </div>
          </div>

          <div *ngIf="!isTrackedInCombatCounter" class="flex-row-opposite ">
            <h3>Combat Hash</h3>

            <p>{{beast.hash}}</p>
          </div>

          <div class="flex-row-opposite ">
            <div></div>

            <button mat-raised-button color="accent" (click)="goToEntry(beast.id)">Go to Entry</button>
          </div>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

</div>