h3 {
    color: #222
}

.divider {
    width: 100%;
    height: 1px;
    background: lightgray;
    margin-top: 15px
}

.box-padding {
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
}

.checkbox-shell {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.spell-shell {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.spell-card {
    width: 350px;
    margin-top: 15px;
}

mat-card {
    background: rgba(211, 211, 211, 0.5);
}

.add-spell-shell {
    display: flex;
    justify-content: space-evenly;
}

.fa-minus-circle {
    margin-top: 15px;
}

.fa-plus-circle {
    font-size: 50px;
}

.fa-plus-circle:hover {
    color: #607d8b;
}

.fa-minus-circle:hover {
    color: #ab6f00
}

.noDisplay {
    display: none;
}

.white {
    background: white;
    margin: 7px 0;
}

.flex-row-opposite {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

.full-width {
    width: 100%;
}

.margin-top {
    margin-top: 5px;
}

.dropdown-shell {
    width: 30%;
}

.how-to-explaination h3 {
    margin-top: 10px;
}

.how-to-explaination p, .casting-type-explaination p {
    text-indent: 40px;
    padding: 3px
}

.casting-type-explaination p:first-child {
    margin-top: 10px;
}

.casting-type-explaination strong {
    font-weight: bold;
}

.single-type-heading {
    font-size: 20px;
}

.fa-info-circle {
    margin-left: 5px
}

.blue {
    color: #607d8b !important;
}

mat-form-field {
    width: 90%;
}

@media (max-width: 1200px) {
    .spell-card {
        width: 30%;
        min-width: 250px;
    }
}

@media (max-width: 560px) {
    .spell-card {
        width: 100%;
    }
}
