<mat-card>
  <mat-toolbar color="warn">
    <h1>Add Obstacle</h1>
  </mat-toolbar>

  <div class="input-shell">
    <mat-form-field>
      <input matInput [value]="obstacle.name" (change)="captureInput($event, 'name')" placeholder="Name">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput [value]="obstacle.difficulty" (change)="captureInput($event, 'difficulty')"
        placeholder="Difficulty"></textarea>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput [value]="obstacle.threshold" (change)="captureInput($event, 'threshold')" placeholder="Threshold"></textarea>
    </mat-form-field>

    <mat-form-field>
      <input matInput [value]="obstacle.time" (change)="captureInput($event, 'time')" placeholder="Time">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput [value]="obstacle.complicationsingle" (change)="captureInput($event, 'complicationsingle')"
        placeholder="Single Complication"></textarea>
    </mat-form-field>

    <!-- Complication Tables
            Possibly linked to Skills -->

    <mat-form-field>
      <textarea matInput [value]="obstacle.failure" (change)="captureInput($event, 'failure')" placeholder="On Failure"></textarea>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput [value]="obstacle.success" (change)="captureInput($event, 'success')" placeholder="On Success"></textarea>
    </mat-form-field>
  </div>

  <div>
    <h2>Additional Pairs 1</h2>
    <p>(Each Boon, Per 2 Boons, 1st/1 Boon, 2nd/2 Boons, 4 Boons)</p>
    <div *ngFor="let pair of obstacle.pairone" class="pair-list">
      <strong>{{pair.name}}</strong>
      <p>{{pair.body}}</p>
    </div>
    <div class="pair-list">
      <mat-form-field class="margin-right">
        <input matInput (change)="capturePair($event, 'pairone', 'name')" placeholder="Name">
      </mat-form-field>
      <mat-form-field class="margin-right">
        <textarea matInput (change)="capturePair($event, 'pairone', 'body')" placeholder="Body"></textarea>
      </mat-form-field>
      <i (click)="savePair('pairone')" class="fas fa-plus-circle"></i>
    </div>
  </div>

  <div>
    <h2>Information Bullet Points</h2>
    <quill-editor [(ngModel)]="obstacle.information" (onContentChanged)="captureHTML($event, 'information')"></quill-editor>
  </div>

  <div>
    <h2>Additional Pairs 2</h2>
    <p>(At 24 hours, At 12 Hours, At 6 Hours)</p>
    <div *ngFor="let pair of obstacle.pairtwo" class="pair-list">
      <strong>{{pair.name}}</strong>
      <p>{{pair.body}}</p>
    </div>
    <div class="pair-list">
      <mat-form-field class="margin-right">
        <input matInput (change)="capturePair($event, 'pairtwo', 'name')" placeholder="Name">
      </mat-form-field>
      <mat-form-field class="margin-right">
        <textarea matInput (change)="capturePair($event, 'pairtwo', 'body')" placeholder="Body"></textarea>
      </mat-form-field>
      <i (click)="savePair('pairtwo')" class="fas fa-plus-circle"></i>
    </div>
  </div>

  <div>
    <h2>Notes</h2>
    <quill-editor [(ngModel)]="obstacle.notes" (onContentChanged)="captureHTML($event, 'notes')"></quill-editor>
  </div>

  <!-- 2nd Support tables -->

  <!-- Preview? -->

  <div class="save-and-delete-shell">
    <button (click)="saveChanges()" mat-raised-button color="primary">Save</button>
    <button (click)="deleteThis()" mat-raised-button color="warn" class="deleteButton">Delete</button>
  </div>
</mat-card>