mat-card {
    margin-top: 15px;
}

mat-toolbar {
    display: flex;
    justify-content: space-between;
    margin: -16px -16px 0 !important;
    width: unset;
}

.input-shell {
    display: flex;
    flex-direction: column;
}

.deleteButton {
    margin-top: 150px
}

.save-and-delete-shell {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.pair-list {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.margin-right {
    margin-right: 15px;
}

strong {
    font-weight: bold;
    min-width: 150px;
}

.fa-minus-circle:hover, .fa-plus-circle:hover{
    color: goldenrod;
}