.bounce1, .bounce2, .bounce3 {
    background: #607d8b
}

.header-shell {
    margin: -24px -24px 0 !important;
    width: unset;
    display: flex;
    justify-content: center;
    position: relative;
    background: #607d8b;
    color: white;
    min-height: 61px;
    align-items: center;
    overflow: hidden;
}

h1 {
    font-family: 'Hamletornot';
    letter-spacing: 2px;
    text-align: center;
    max-width: 315px;
}

p {
    white-space: pre-wrap;
    line-height: 1.4;
}

.fa-dice-d20 {
    font-size: 15px;
}

.fa-dice-d20:hover {
    color: #ff5722
}

.icon {
    position: absolute;
    left: -36px;
    font-size: 82px;
}

.pair-shell {
    padding: 5px 3px;
    display: flex;
    align-items: center;
}

.notes-strong {
    padding: 5px 3px;
}

.pop-up .striped-background:nth-child(2) {
    margin-top: 15px;
}

.pop-up .striped-background:nth-child(odd) {
    background: lightgray
}

strong {
    font-family: 'know'; letter-spacing: 1px;
    font-weight: bold;
    min-width: 125px;
}

table {
    width: 95%;
    margin: 3px auto;
    font-size: 13px;
}

table tr:nth-child(odd) {
    background: lightgray;
}

th {
    background: #795548;
    color: white;
    padding: 3px;
}

tr td:first-child {
    text-align: center;
    padding: 3px;
}

tr td:nth-child(2), tr th:nth-child(2) {
    text-align: left;
    padding: 3px;
}

.copy-link-shell {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}