<div *ngIf="!obstacle.name">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>

<div *ngIf="obstacle.name" class="pop-up">
  <div class="header-shell" color="accent">
    <i class="fas fa-exclamation-triangle icon"></i>
    <h1>{{obstacle.name}}</h1>
  </div>

  <div *ngIf="obstacle.difficulty" class="striped-background pair-shell">
    <strong>Difficulty</strong>
    <span class="difficulty-span">
      <p>{{obstacle.difficulty}} <i (click)="openMatrix()"
          *ngIf="obstacle.difficulty.toUpperCase().includes('by'.toUpperCase())" class="fas fa-dice-d20"></i></p>
      <select (change)="captureDifficulty($event)" [value]="difficulty">
        <option value="">Change Difficulty</option>
        <optgroup label="Novice">
          <option *ngFor="let difficulty of noviceDifficulties; let i = index" [value]="difficulty">{{difficulty}} {{getDifficultyDescriptor(i)}} for a Novice</option>
        </optgroup>
        <optgroup label="Journeyman">
          <option *ngFor="let difficulty of journeymanDifficulties; let i = index" [value]="difficulty">{{difficulty}} {{getDifficultyDescriptor(i)}} for a Journey</option>
        </optgroup>
        <optgroup label="Expert">
          <option *ngFor="let difficulty of expertDifficulties; let i = index" [value]="difficulty">{{difficulty}} {{getDifficultyDescriptor(i)}} for a Expert</option>
        </optgroup>
        <optgroup label="Master">
          <option *ngFor="let difficulty of masterDifficulties; let i = index" [value]="difficulty">{{difficulty}} {{getDifficultyDescriptor(i)}} for a Master</option>
        </optgroup>
        <optgroup label="Grandmaster">
          <option *ngFor="let difficulty of grandmasterDifficulties; let i = index" [value]="difficulty">{{difficulty}} {{getDifficultyDescriptor(i)}} for a GM</option>
        </optgroup>
        <optgroup label="Legendary">
          <option *ngFor="let difficulty of legendDifficulties; let i = index" [value]="difficulty">{{difficulty}} {{getDifficultyDescriptor(i)}} for a Legend</option>
        </optgroup>
        <optgroup label="Mythical">
          <option *ngFor="let difficulty of mythDifficulties; let i = index" [value]="difficulty">{{difficulty}} {{getDifficultyDescriptor(i)}} for a Myth</option>
        </optgroup>
      </select>
    </span>
  </div>

  <div *ngIf="obstacle.time" class="striped-background pair-shell">
    <strong>Time</strong>
    <p>{{obstacle.time}}</p>
  </div>

  <div *ngFor="let pair of obstacle.pairtwo" class="striped-background pair-shell">
    <strong>{{pair.name}}</strong>
    <p>{{pair.body}}</p>
  </div>

  <div *ngIf="obstacle.threshold" class="striped-background pair-shell">
    <strong>Failure Threshold</strong>
    <p>{{obstacle.threshold}}</p>
  </div>
  <div *ngIf="obstacle.complicationsingle" class="striped-background pair-shell">
    <strong>Complication</strong>
    <p>{{obstacle.complicationsingle}}</p>
  </div>

  <table *ngIf="obstacle.complicationtable.length > 0">
    <tr>
      <th>Roll</th>
      <th>Complication</th>
    </tr>
    <tr *ngFor="let row of obstacle.complicationtable">
      <td>{{row.name}}</td>
      <td>{{row.body}}</td>
    </tr>
  </table>

  <div *ngIf="obstacle.failure" class="pair-shell striped-background">
    <strong>On Failure</strong>
    <p>{{obstacle.failure}}</p>
  </div>
  <div *ngIf="obstacle.success" class="striped-background pair-shell">
    <strong>On Success</strong>
    <p>{{obstacle.success}}</p>
  </div>

  <span *ngFor="let pair of obstacle.pairone" class="striped-background pair-shell">
    <strong>{{pair.name}}</strong>
    <p>{{pair.body}}</p>
  </span>

  <div *ngIf="obstacle.information" class="striped-background quill-obstacle-view">
    <quill-view-html *ngIf="obstacle.information" [content]="obstacle.information"></quill-view-html>
  </div>

  <div *ngIf="obstacle.notes" class="striped-background quill-obstacle-view">
    <strong class="notes-strong">Note(s)</strong>
    <quill-view-html [content]="obstacle.notes"></quill-view-html>
  </div>

  <div class="copy-link-shell">
    <button class="new-button" *ngIf="loggedIn && (loggedIn.id === 1 || loggedIn.id === 21)" mat-raised-button color="warn"
      (click)="goToEdit()"><i class="fa-solid fa-pen-to-square"></i></button>
    <div *ngIf="!(loggedIn && (loggedIn.id === 1 || loggedIn.id === 21))"></div>

    <button class="new-button" mat-raised-button color="accent"
      matTooltip="Get Quick Link for Obstacle (id: {{obstacle.id}})" (click)="copyLink(obstacle.id)"><i
        class="fa-solid fa-link"></i></button>
  </div>
</div>