<div class="header-shell" color="accent">
  <i class="fas fa-dice-d20 icon"></i>
  <h1>Risk Matrix</h1>
</div>

<table>
  <tr>
    <th class="rank-header"></th>
    <th class="rank-header"></th>
    <th colspan="5" class="rank-header">Risk Modifier</th>
  </tr>
  <tr>
    <th class="rank-header">Description</th>
    <th class="rank-header">Rank</th>
    <th class="rank-header">Very Low</th>
    <th class="rank-header">Low</th>
    <th class="rank-header">Medium</th>
    <th class="rank-header">High</th>
    <th class="rank-header">Very High</th>
  </tr>
  <tr>
    <td>Novice</td>
    <td>0 - 4</td>
    <td class="diff-mod-border">d0 (-10)</td>
    <td>d10! (-5)</td>
    <td>+0</td>
    <td>+d10! (+5)</td>
    <td>+d20! (+10)</td>
  </tr>
  <tr>
    <td>Journeyman</td>
    <td>5 - 9</td>
    <td class="diff-mod-border">-d10! (-5)</td>
    <td>+0</td>
    <td>+d10! (+5)</td>
    <td>+d20! (+10)</td>
    <td>+d10!+d20! (+15)</td>
  </tr>
  <tr>
    <td>Expert</td>
    <td>10 - 14</td>
    <td class="diff-mod-border">+0</td>
    <td>+d10! (+5)</td>
    <td>+d20! (+10)</td>
    <td>+d10!+d20! (+15)</td>
    <td>+d20! (+d20!)</td>
  </tr>
  <tr>
    <td>Master</td>
    <td>15 - 19</td>
    <td class="diff-mod-border">+d10! (+5)</td>
    <td>+d20! (+10)</td>
    <td>+d10!+d20! (+15)</td>
    <td>+d20! (+20)</td>
    <td>+d10!+2d20! (+25)</td>
  </tr>
  <tr>
    <td>Grandmaster</td>
    <td>20 - 25</td>
    <td class="diff-mod-border">+d20! (+5)</td>
    <td>+d10!+d20! (+15)</td>
    <td>+d20! (+20)</td>
    <td>+d10!+2d20! (+25)</td>
    <td>+3d20! (+30)</td>
  </tr>
  <tr>
    <td>Legend</td>
    <td>-</td>
    <td class="diff-mod-border">+d10!+d20! (+15)</td>
    <td>+d20! (+20)</td>
    <td>+d10!+2d20! (+25)</td>
    <td>+3d20! (+30)</td>
    <td>+d10!+3d20! (+35)</td>
  </tr>
  <tr>
    <td>Myth</td>
    <td>-</td>
    <td class="diff-mod-border">+d20! (+20)</td>
    <td>+d10!+2d20! (+25)</td>
    <td>+3d20! (+30)</td>
    <td>+d10!+3d20! (+35)</td>
    <td>+4d20! (+40)</td>
  </tr>
  <tr>
    <th colspan="2" class="formula-header">Formula</th>
    <th class="formula-header">-10 + Rank</th>
    <th class="formula-header">-5 + Rank</th>
    <th class="formula-header">+ Rank</th>
    <th class="formula-header">+5 + Rank</th>
    <th class="formula-header">+10 + Rank</th>
  </tr>
</table>