<div class="header-shell" color="accent">
  <i class="fas fa-dice-d20 icon"></i>
  <h1>Difficulty Matrix</h1>
</div>


<div class="table-shell">
  <table>
    <tr>
      <th rowspan="15" class="difficulty-header"><span>Difficulty</span></th>
      <th colspan="22" class="rank-header">Rank</th>
    </tr>
    <tr>
      <td> </td>
      <td class="odd">0</td>
      <td>1</td>
      <td class="odd">2</td>
      <td>3</td>
      <td class="odd">4</td>
      <td>5</td>
      <td class="odd">6</td>
      <td>7</td>
      <td class="odd">8</td>
      <td>9</td>
      <td class="odd">10</td>
      <td>11</td>
      <td class="odd">12</td>
      <td>13</td>
      <td class="odd">14</td>
      <td>15</td>
      <td class="odd">16</td>
      <td>17</td>
      <td class="odd">18</td>
      <td>19</td>
      <td class="odd">20</td>
    </tr>
    <tr>
      <td class="odd">0</td>
      <td class="d">Diffic</td>
      <td class="d">Diffic</td>
      <td class="a">Ave</td>
      <td class="e">Easy</td>
      <td class="e">Easy</td>
      <td class="e">Easy</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="au">Auto</td>
      <td class="au">Auto</td>
    </tr>
    <tr>
      <td>d4!</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="d">Diffic</td>
      <td class="d">Diffic</td>
      <td class="d">Diffic</td>
      <td class="a">Ave</td>
      <td class="a">Ave</td>
      <td class="e">Easy</td>
      <td class="e">Easy</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="au">Auto</td>
    </tr>
    <tr>
      <td class="odd">d6!</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="d">Diffic</td>
      <td class="d">Diffic</td>
      <td class="d">Diffic</td>
      <td class="a">Ave</td>
      <td class="a">Ave</td>
      <td class="e">Easy</td>
      <td class="e">Easy</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
    </tr>
    <tr>
      <td>d8!</td>
      <td class="c">Chall</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="d">Diffic</td>
      <td class="d">Diffic</td>
      <td class="d">Diffic</td>
      <td class="a">Ave</td>
      <td class="a">Ave</td>
      <td class="e">Easy</td>
      <td class="e">Easy</td>
      <td class="e">Easy</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
    </tr>
    <tr>
      <td class="odd">d10!</td>
      <td class="c">Chall</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="d">Diffic</td>
      <td class="d">Diffic</td>
      <td class="d">Diffic</td>
      <td class="a">Ave</td>
      <td class="a">Ave</td>
      <td class="e">Easy</td>
      <td class="e">Easy</td>
      <td class="e">Easy</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
    </tr>
    <tr>
      <td>d12!</td>
      <td class="c">Chall</td>
      <td class="c">Chall</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="d">Diffic</td>
      <td class="d">Diffic</td>
      <td class="d">Diffic</td>
      <td class="a">Ave</td>
      <td class="a">Ave</td>
      <td class="e">Easy</td>
      <td class="e">Easy</td>
      <td class="e">Easy</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
    </tr>
    <tr>
      <td class="odd">d20!</td>
      <td class="i">Impo</td>
      <td class="c">Chall</td>
      <td class="c">Chall</td>
      <td class="c">Chall</td>
      <td class="c">Chall</td>
      <td class="c">Chall</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="d">Diffic</td>
      <td class="d">Diffic</td>
      <td class="d">Diffic</td>
      <td class="a">Ave</td>
      <td class="a">Ave</td>
      <td class="a">Ave</td>
      <td class="e">Easy</td>
      <td class="e">Easy</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
      <td class="t">Trivial</td>
    </tr>
    <tr>
      <td>d20!+d4!</td>
      <td class="i">Impo</td>
      <td class="i">Impo</td>
      <td class="i">Impo</td>
      <td class="c">Chall</td>
      <td class="c">Chall</td>
      <td class="c">Chall</td>
      <td class="c">Chall</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="d">Diffic</td>
      <td class="d">Diffic</td>
      <td class="d">Diffic</td>
      <td class="d">Diffic</td>
      <td class="a">Ave</td>
      <td class="a">Ave</td>
      <td class="a">Ave</td>
      <td class="e">Easy</td>
      <td class="e">Easy</td>
    </tr>
    <tr>
      <td class="odd">d20!+d6!</td>
      <td class="i">Impo</td>
      <td class="i">Impo</td>
      <td class="i">Impo</td>
      <td class="i">Impo</td>
      <td class="c">Chall</td>
      <td class="c">Chall</td>
      <td class="c">Chall</td>
      <td class="c">Chall</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="d">Diffic</td>
      <td class="d">Diffic</td>
      <td class="d">Diffic</td>
      <td class="d">Diffic</td>
      <td class="a">Ave</td>
      <td class="a">Ave</td>
      <td class="a">Ave</td>
      <td class="e">Easy</td>
    </tr>
    <tr>
      <td>d20!+d8!</td>
      <td class="i">Impo</td>
      <td class="i">Impo</td>
      <td class="i">Impo</td>
      <td class="i">Impo</td>
      <td class="c">Chall</td>
      <td class="c">Chall</td>
      <td class="c">Chall</td>
      <td class="c">Chall</td>
      <td class="c">Chall</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="d">Diffic</td>
      <td class="d">Diffic</td>
      <td class="d">Diffic</td>
      <td class="d">Diffic</td>
      <td class="a">Ave</td>
      <td class="a">Ave</td>
      <td class="a">Ave</td>
    </tr>
    <tr>
      <td class="odd">d20!+d10!</td>
      <td class="i">Impo</td>
      <td class="i">Impo</td>
      <td class="i">Impo</td>
      <td class="i">Impo</td>
      <td class="i">Impo</td>
      <td class="c">Chall</td>
      <td class="c">Chall</td>
      <td class="c">Chall</td>
      <td class="c">Chall</td>
      <td class="c">Chall</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="d">Diffic</td>
      <td class="d">Diffic</td>
      <td class="d">Diffic</td>
      <td class="d">Diffic</td>
      <td class="a">Ave</td>
      <td class="a">Ave</td>
    </tr>
    <tr>
      <td>d20!+d12!</td>
      <td class="i">Impo</td>
      <td class="i">Impo</td>
      <td class="i">Impo</td>
      <td class="i">Impo</td>
      <td class="i">Impo</td>
      <td class="i">Impo</td>
      <td class="c">Chall</td>
      <td class="c">Chall</td>
      <td class="c">Chall</td>
      <td class="c">Chall</td>
      <td class="c">Chall</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="d">Diffic</td>
      <td class="d">Diffic</td>
      <td class="d">Diffic</td>
      <td class="d">Diffic</td>
      <td class="a">Ave</td>
    </tr>
    <tr>
      <td class="odd">2d20!</td>
      <td class="i">Impo</td>
      <td class="i">Impo</td>
      <td class="i">Impo</td>
      <td class="i">Impo</td>
      <td class="i">Impo</td>
      <td class="i">Impo</td>
      <td class="i">Impo</td>
      <td class="i">Impo</td>
      <td class="c">Chall</td>
      <td class="c">Chall</td>
      <td class="c">Chall</td>
      <td class="c">Chall</td>
      <td class="c">Chall</td>
      <td class="c">Chall</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="h">Hard</td>
      <td class="d">Diffic</td>
    </tr>
  </table>
</div>