<div class="header-shell" color="accent">
  <i class="fas fa-dice-d20 icon"></i>
  <h1>Difficulty Matrix</h1>
</div>

<table>
  <tr>
    <th class="rank-header"></th>
    <th class="rank-header"></th>
    <th class="rank-header"></th>
    <th colspan="5" class="rank-header">Difficulty Modifier</th>
  </tr>
  <tr>
    <th class="rank-header">Description</th>
    <th class="rank-header">Rank</th>
    <th class="rank-header">Dice Equiv</th>
    <th class="rank-header">Routine</th>
    <th class="rank-header">Easy</th>
    <th class="rank-header">Ave</th>
    <th class="rank-header">Hard</th>
    <th class="rank-header">Challeng.</th>
  </tr>
  <tr>
    <td>Beginner</td>
    <td>0</td>
    <td>0</td>
    <td class="diff-mod-border">-10</td>
    <td>-5</td>
    <td>+0</td>
    <td>+5</td>
    <td>+10</td>
  </tr>
  <tr>
    <td>Novice</td>
    <td>1 - 4</td>
    <td>+d6!</td>
    <td class="diff-mod-border">-7</td>
    <td>-2</td>
    <td>+3</td>
    <td>+8</td>
    <td>+13</td>
  </tr>
  <tr>
    <td>Journeyman</td>
    <td>5 - 9</td>
    <td>+d10!</td>
    <td class="diff-mod-border">-5</td>
    <td>+0</td>
    <td>+5</td>
    <td>+10</td>
    <td>+15</td>
  </tr>
  <tr>
    <td>Expert</td>
    <td>10 - 14</td>
    <td>+d20!</td>
    <td class="diff-mod-border">+0</td>
    <td>+5</td>
    <td>+10</td>
    <td>+15</td>
    <td>+20</td>
  </tr>
  <tr>
    <td>Master</td>
    <td>15 - 19</td>
    <td>+d20!+d10!</td>
    <td class="diff-mod-border">+5</td>
    <td>+10</td>
    <td>+15</td>
    <td>+20</td>
    <td>+25</td>
  </tr>
  <tr>
    <td>Grandmaster</td>
    <td>20</td>
    <td>+2d20!</td>
    <td class="diff-mod-border">+10</td>
    <td>+15</td>
    <td>+20</td>
    <td>+25</td>
    <td>+30</td>
  </tr>
  <tr>
    <th colspan="3" class="formula-header">Formula</th>
    <th class="formula-header">-10 + Rank</th>
    <th class="formula-header">-5 + Rank</th>
    <th class="formula-header">+ Rank</th>
    <th class="formula-header">+5 + Rank</th>
    <th class="formula-header">+10 + Rank</th>
  </tr>
</table>