.mat-dialog-container {
    padding: 24px 12px !important
}

.cdk-overlay-pane {
    max-width: unset;
}

.header-shell {
    margin: -24px -24px 0 !important;
    width: unset;
    display: flex;
    justify-content: center;
    position: relative;
    background: #607d8b;
    color: white;
    min-height: 61px;
    align-items: center;
}

h1 {
    font-family: 'umbria';
    text-align: center;
    max-width: 315px;
}

.icon {
    position: absolute;
    left: -16px;
    font-size: 75px;
    top: -7px;
}

table {
    margin-top: 15px;
    font-size: 11px;
    text-align: center;
}

th, td {
    padding: 5px 10px
}

.rank-header {
    background: #795548;
    color: white;
    padding: 5px 10px
}

tr td:first-child, tr th:first-child {
    text-align: left;
}

tr:nth-child(even) {
    background: lightgray;
}

.diff-mod-border {
    border-left: 1px solid #795548;
}

.formula-header {
    background-color: rgb(72, 72, 72);
    color: whitesmoke
}

.Diffic {
    background: #e6b8af;
}

.Ave {
    background: #f9cb9c;
}

.Easy {
    background: #b6d7a8;
}

.Trivial {
    background: #93c47d;
}

.Auto {
    background: #6aa84f;
}

.Hard {
    background: #dd7e6b;
}

.Challen {
    background: #cc4125;
    color: white
}

.Impos {
    background: #a61c00;
    color: white
}