h1 {
    font-size: 25px;
    color: whitesmoke;
    margin: 10px
}

h2 {
    color: #009688;
    font-size: 20px;
    margin: 10px
}

img {
    width: 100%
}

mat-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

mat-toolbar {
    display: flex;
    justify-content: space-between;
    margin: -16px -16px 0 !important;
    width: unset;
}

.content-shell {
    display: flex;
    justify-content: space-evenly;
}

.left {
    padding: 15px;
    min-height: 500px;
    width: 40%;
}

.vitals-shell {
    background: lightgrey;
    padding: 15px;
    margin: 10px 0;
}

.right {
    padding: 15px;
    min-height: 500px;
    width: 60%;
}