<div *ngIf="combatSquare">
  <h3>
    <mat-form-field>
      <input (change)="captureInput($event, 'weaponname')"
        placeholder="Weapon Name (if blank it will appear as '{{combatSquare.defaultweaponname}}')" matInput
        [value]="combatStats.weaponname">
    </mat-form-field>
  </h3>
  <div class="combat-stat-shell">
    <div>
      <div class="square-shell">
        <img *ngIf="combatSquare.weaponType === 'm'" class="combat-image" src="../../../../assets/square.png"
          alt="combat square">
        <img *ngIf="combatSquare.weaponType === 'r'" class="combat-image" src="../../../../assets/rangedsquare.png"
          alt="combat square">
        <p class="spd">{{combatSquare.recovery}}</p>
        <p class="atk">{{combatSquare.attack}}</p>
        <p class="init">{{combatSquare.initiative}}</p>
        <div class="def">
          <p>{{combatSquare.defense}}</p>
          <p class="shield_dr">{{combatSquare.cover}}</p>
        </div>
        <p class="fatigue">{{combatSquare.damageType}}</p>
        <div class="dr">
          <p>{{combatSquare.dr}}</p>
          <p class="shield_dr"><img class="shield-dr" src="./assets/shield.svg" alt="shield dr" width="15"
              height="15">{{combatSquare.shieldDr}}</p>
        </div>
        <div class="measure">
          <p *ngIf="combatSquare.weaponType === 'm'">{{combatSquare.measure}}</p>
          <p *ngIf="combatSquare.weaponType === 'r'">{{combatSquare.range}}</p>
        </div>
        <p class="damage">{{combatStats.isspecial === 'yes' ? 'See Attack Info' : combatSquare.damage }}</p>
        <p *ngIf="combatSquare.weaponType === 'm'" class="parry">{{combatStats.eua ? 'EUA' : combatSquare.parry}}</p>
      </div>

      <br>
      <mat-form-field>
        <mat-label>Range Type</mat-label>
        <mat-select [disabled]="combatStats.weapon" [value]="combatSquare.weaponType"
          (selectionChange)="captureSelected($event, 'weapontype')">
          <mat-option value="m">
            Melee
          </mat-option>
          <mat-option value="r">
            Ranged
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-checkbox (change)="checkBasicStatOnOff('addsizemod', $event)" [checked]="combatStats.addsizemod">Add Size
        Modifier</mat-checkbox>

      <mat-checkbox (change)="checkBasicStatOnOff('showonlydefenses', $event)" [checked]="combatStats.showonlydefenses">Show Only Defenses</mat-checkbox>

      <mat-checkbox (change)="checkBasicStatOnOff('swarmbonus', $event)" [checked]="combatStats.swarmbonus">Swarm Bonus?</mat-checkbox>

      <mat-form-field>
        <input placeholder="Weapon" matInput [value]="combatStats.weapon" [matAutocomplete]="weaponGroup"
          [formControl]="weaponControl">

        <mat-autocomplete #weaponGroup="matAutocomplete" (optionSelected)="captureSelected($event, 'weapon')"
          [displayWith]="getDisplayTextWeapon">
          <mat-option>None</mat-option>
          <mat-optgroup *ngFor="let group of weaponGroupOptions | async" [label]="group.label">
            <mat-option *ngFor="let item of group.items" [value]="item">
              {{item}}
            </mat-option>
          </mat-optgroup>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <input placeholder="Armor" matInput [value]="combatStats.armor" [matAutocomplete]="armorGroup"
          [formControl]="armorControl">

        <mat-autocomplete #armorGroup="matAutocomplete" (optionSelected)="captureSelected($event, 'armor')"
          [displayWith]="getDisplayTextArmor">
          <mat-option>None</mat-option>
          <mat-optgroup *ngFor="let group of armorGroupOptions | async" [label]="group.label">
            <mat-option *ngFor="let item of group.items" [value]="item">
              {{item}}
            </mat-option>
          </mat-optgroup>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <input placeholder="Shield" matInput [value]="combatStats.shield" [matAutocomplete]="shieldGroup"
          [formControl]="shieldControl">

        <mat-autocomplete #shieldGroup="matAutocomplete" (optionSelected)="captureSelected($event, 'shield')"
          [displayWith]="getDisplayTextShield">
          <mat-option>None</mat-option>
          <mat-optgroup *ngFor="let group of shieldGroupOptions | async" [label]="group.label">
            <mat-option *ngFor="let item of group.items" [value]="item">
              {{item}}
            </mat-option>
          </mat-optgroup>
        </mat-autocomplete>
      </mat-form-field>

      <mat-checkbox (change)="checkComponentVariable('showAllEquipment', $event)" [checked]="showAllEquipment">Show Me
        All
        Equipment</mat-checkbox>
    </div>
    <div>
      <table>
        <thead>
          <tr>
            <th>

            </th>
            <th colspan="4">
              Scaling
            </th>
            <th colspan="3">
              No Scaling
            </th>
          </tr>
          <tr>
            <td> </td>
            <td>Major Strength</td>
            <td>Minor Strength</td>
            <td>Minor Weakness</td>
            <td>Major Weakness</td>
            <td class="border-left">Major Strength</td>
            <td>Baseline</td>
            <td>Major Weakness</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th></th>
            <th colspan="7">
              Damage
            </th>
          </tr>
          <tr *ngFor="let stat of attackStats"
            [ngClass]="{'noDisplay': combatStats.isspecial === 'yes' || combatStats.weapon}">
            <td>{{stat.label}} <i *ngIf="stat.tooltip" class="fas fa-info-circle icon-small blue"
                matTooltip="{{stat.tooltip}}" matTooltipClass="my-tooltip"></i>
            </td>
            <td>
              <mat-checkbox
                [ngClass]="roleInfo && roleInfo.damage === 'majSt' && roleInfo.preferreddamage === stat.stat ? 'checkmark-role-background' : ''"
                (change)="checkAttackStat(stat.stat, 'majSt', $event)"
                [checked]="!combatStats.piercingweapons && !combatStats.crushingweapons && !combatStats.slashingweapons ? roleInfo && roleInfo.damage === 'majSt' && roleInfo.preferreddamage === stat.stat : combatStats[stat.stat] === 'majSt'"
                matTooltip="This is the preferred damage and scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.damage !== 'majSt' || roleInfo && roleInfo.preferreddamage !== stat.stat ">
              </mat-checkbox>
            </td>
            <td>
              <mat-checkbox
                [ngClass]="roleInfo && roleInfo.damage === 'minSt' && roleInfo.preferreddamage === stat.stat  ? 'checkmark-role-background' : ''"
                (change)="checkAttackStat(stat.stat, 'minSt', $event)"
                [checked]="!combatStats.piercingweapons && !combatStats.crushingweapons && !combatStats.slashingweapons ? roleInfo && roleInfo.damage === 'minSt' && roleInfo.preferreddamage === stat.stat : combatStats[stat.stat] === 'minSt'"
                matTooltip="This is the preferred damage and scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.damage !== 'minSt'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox
                [ngClass]="roleInfo && roleInfo.damage === 'minWk' && roleInfo.preferreddamage === stat.stat  ? 'checkmark-role-background' : ''"
                (change)="checkAttackStat(stat.stat, 'minWk', $event)"
                [checked]="!combatStats.piercingweapons && !combatStats.crushingweapons && !combatStats.slashingweapons ? roleInfo && roleInfo.damage === 'minWk' && roleInfo.preferreddamage === stat.stat : combatStats[stat.stat] === 'minWk'"
                matTooltip="This is the preferred damage and scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.damage !== 'minWk'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox
                [ngClass]="roleInfo && roleInfo.damage === 'majWk' && roleInfo.preferreddamage === stat.stat  ? 'checkmark-role-background' : ''"
                (change)="checkAttackStat(stat.stat, 'majWk', $event)"
                [checked]="!combatStats.piercingweapons && !combatStats.crushingweapons && !combatStats.slashingweapons ? roleInfo && roleInfo.damage === 'majWk' && roleInfo.preferreddamage === stat.stat : combatStats[stat.stat] === 'majWk'"
                matTooltip="This is the preferred damage and scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.damage !== 'majWk'"></mat-checkbox>
            </td>
            <td class="border-left">
              <mat-checkbox
                [ngClass]="roleInfo && roleInfo.damage === 'noneStr' && roleInfo.preferreddamage === stat.stat ? 'checkmark-role-background' : ''"
                (change)="checkAttackStat(stat.stat, 'noneStr', $event)"
                [checked]="!combatStats.piercingweapons && !combatStats.crushingweapons && !combatStats.slashingweapons ? roleInfo && roleInfo.damage === 'noneStr' && roleInfo.preferreddamage === stat.stat : combatStats[stat.stat] === 'noneStr'"
                matTooltip="This is the preferred damage and scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.damage !== 'noneStr' || roleInfo && roleInfo.preferreddamage !== stat.stat ">
              </mat-checkbox>
            </td>
            <td>
              <mat-checkbox
                [ngClass]="roleInfo && !roleInfo.damage && roleInfo.preferreddamage === stat.stat ? 'checkmark-role-background' : ''"
                (change)="checkAttackStat(stat.stat, 'none', $event)"
                matTooltip="This is the preferred damage and scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.damage"
                [checked]="(!combatStats.piercingweapons && !combatStats.crushingweapons && !combatStats.slashingweapons && roleInfo && !roleInfo.damage) || (combatStats[stat.stat] === 'none')">
              </mat-checkbox>
            </td>
            <td>
              <mat-checkbox
                [ngClass]="roleInfo && roleInfo.damage === 'noneWk' && roleInfo.preferreddamage === stat.stat  ? 'checkmark-role-background' : ''"
                (change)="checkAttackStat(stat.stat, 'noneWk', $event)"
                [checked]="!combatStats.piercingweapons && !combatStats.crushingweapons && !combatStats.slashingweapons ? roleInfo && roleInfo.damage === 'noneWk' && roleInfo.preferreddamage === stat.stat : combatStats[stat.stat] === 'noneWk'"
                matTooltip="This is the preferred damage and scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.damage !== 'noneWk'"></mat-checkbox>
            </td>
          </tr>

          <tr [ngClass]="{'noDisplay': combatStats.isspecial === 'yes' || !combatStats.weapon}">
            <td>Weapon</td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo.damage === 'majSt' ? 'checkmark-role-background' : ''"
                (change)="checkWeaponStat('majSt', $event)"
                [checked]="!combatSquare.weaponScaling ? roleInfo && roleInfo.damage === 'majSt' : combatSquare.weaponScaling === 'majSt'"
                matTooltip="This is the preferred damage and scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.damage !== 'majSt' ">
              </mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo.damage === 'minSt'  ? 'checkmark-role-background' : ''"
                (change)="checkWeaponStat('minSt', $event)"
                [checked]="!combatSquare.weaponScaling ? roleInfo && roleInfo.damage === 'minSt' : combatSquare.weaponScaling === 'minSt'"
                matTooltip="This is the preferred damage and scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.damage !== 'minSt'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo.damage === 'minWk'  ? 'checkmark-role-background' : ''"
                (change)="checkWeaponStat('minWk', $event)"
                [checked]="!combatSquare.weaponScaling ? roleInfo && roleInfo.damage === 'minWk' : combatSquare.weaponScaling === 'minWk'"
                matTooltip="This is the preferred damage and scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.damage !== 'minWk'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo.damage === 'majWk'  ? 'checkmark-role-background' : ''"
                (change)="checkWeaponStat('majWk', $event)"
                [checked]="!combatSquare.weaponScaling ? roleInfo && roleInfo.damage === 'majWk' : combatSquare.weaponScaling === 'majWk'"
                matTooltip="This is the preferred damage and scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.damage !== 'majWk'"></mat-checkbox>
            </td>
            <td class="border-left">
              <mat-checkbox [ngClass]="roleInfo && roleInfo.damage === 'noneStr' ? 'checkmark-role-background' : ''"
                (change)="checkWeaponStat('noneStr', $event)"
                [checked]="!combatSquare.weaponScaling ? roleInfo && roleInfo.damage === 'noneStr' : combatSquare.weaponScaling === 'noneStr'"
                matTooltip="This is the preferred damage and scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.damage !== 'noneStr' ">
              </mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && !roleInfo.damage ? 'checkmark-role-background' : ''"
                (change)="checkWeaponStat('none', $event)"
                matTooltip="This is the preferred damage and scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.damage"
                [checked]="(!combatSquare.weaponScaling && roleInfo && !roleInfo.damage) || (combatSquare.weaponScaling === 'none')">
              </mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo.damage === 'noneWk'  ? 'checkmark-role-background' : ''"
                (change)="checkWeaponStat('noneWk', $event)"
                [checked]="!combatSquare.weaponScaling ? roleInfo && roleInfo.damage === 'noneWk' : combatSquare.weaponScaling === 'noneWk'"
                matTooltip="This is the preferred damage and scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.damage !== 'noneWk'"></mat-checkbox>
            </td>
          </tr>
          <tr class="top-border">
            <td>Is a Special Attack?
            </td>
            <td colspan="2">
              <mat-checkbox (change)="checkBasicStat('isspecial', null, $event)" [checked]="!combatStats.isspecial">
                No
              </mat-checkbox>
            </td>
            <td colspan="2">
              <mat-checkbox (change)="checkBasicStat('isspecial', 'kinda', $event)"
                [checked]="combatStats.isspecial === 'kinda'">
                Kinda</mat-checkbox>
            </td>
            <td colspan="2">
              <mat-checkbox (change)="checkBasicStat('isspecial', 'yes', $event)"
                [checked]="combatStats.isspecial === 'yes'">
                Yes
              </mat-checkbox>
            </td>
          </tr>

          <tr>
            <th></th>
            <th colspan="7">
              Defenses
            </th>
          </tr>
          <tr>
            <td>All <i class="fas fa-info-circle icon-small blue" matTooltip="Defense" matTooltipClass="my-tooltip"></i>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo.alldefense === 'majSt' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('alldefense', 'majSt', $event)"
                [checked]="!combatStats.alldefense ? roleInfo && roleInfo.alldefense === 'majSt' : combatStats.alldefense === 'majSt'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.alldefense !== 'majSt'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo.alldefense === 'minSt' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('alldefense', 'minSt', $event)"
                [checked]="!combatStats.alldefense ? roleInfo && roleInfo.alldefense === 'minSt' : combatStats.alldefense === 'minSt'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.alldefense !== 'minSt'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo.alldefense === 'minWk' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('alldefense', 'minWk', $event)"
                [checked]="!combatStats.alldefense ? roleInfo && roleInfo.alldefense === 'minWk' : combatStats.alldefense === 'minWk'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.alldefense !== 'minWk'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo.alldefense === 'majWk' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('alldefense', 'majWk', $event)"
                [checked]="!combatStats.alldefense ? roleInfo && roleInfo.alldefense === 'majWk' : combatStats.alldefense === 'majWk'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.alldefense !== 'majWk'"></mat-checkbox>
            </td>
            <td class="border-left">
              <mat-checkbox [ngClass]="roleInfo && roleInfo.alldefense === 'noneStr' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('alldefense', 'noneStr', $event)"
                [checked]="!combatStats.alldefense ? roleInfo && roleInfo.alldefense === 'noneStr' : combatStats.alldefense === 'noneStr'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.alldefense !== 'noneStr'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && !roleInfo.alldefense ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('alldefense', 'none', $event)"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.alldefense"
                [checked]="(!combatStats.alldefense && roleInfo && !roleInfo.alldefense) || combatStats.alldefense === 'none'">
              </mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo.alldefense === 'noneWk' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('alldefense', 'noneWk', $event)"
                [checked]="!combatStats.alldefense ? roleInfo && roleInfo.alldefense === 'noneWk' : combatStats.alldefense === 'noneWk'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.alldefense !== 'noneWk'"></mat-checkbox>
            </td>
          </tr>
          <tr>
            <td>Large Weapons <i class="fas fa-info-circle icon-small blue" matTooltip="Vitality"
                matTooltipClass="my-tooltip"></i>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo.largeweapons === 'majSt' ? 'checkmark-role-background' : ''"
                (change)="checkPhysicalStat('largeweapons', 'majSt', $event)"
                [checked]="!physical.largeweapons ? roleInfo && roleInfo.largeweapons === 'majSt' : physical.largeweapons === 'majSt'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.largeweapons !== 'majSt'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo.largeweapons === 'minSt' ? 'checkmark-role-background' : ''"
                (change)="checkPhysicalStat('largeweapons', 'minSt', $event)"
                [checked]="!physical.largeweapons ? roleInfo && roleInfo.largeweapons === 'minSt' : physical.largeweapons === 'minSt'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.largeweapons !== 'minSt'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo.largeweapons === 'minWk' ? 'checkmark-role-background' : ''"
                (change)="checkPhysicalStat('largeweapons', 'minWk', $event)"
                [checked]="!physical.largeweapons ? roleInfo && roleInfo.largeweapons === 'minWk' : physical.largeweapons === 'minWk'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.largeweapons !== 'minWk'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo.largeweapons === 'majWk' ? 'checkmark-role-background' : ''"
                (change)="checkPhysicalStat('largeweapons', 'majWk', $event)"
                [checked]="!physical.largeweapons ? roleInfo && roleInfo.largeweapons === 'majWk' : physical.largeweapons === 'majWk'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.largeweapons !== 'majWk'"></mat-checkbox>
            </td>
            <td class="border-left">
              <mat-checkbox [ngClass]="roleInfo && roleInfo.largeweapons === 'noneStr' ? 'checkmark-role-background' : ''"
                (change)="checkPhysicalStat('largeweapons', 'noneStr', $event)"
                [checked]="!physical.largeweapons ? roleInfo && roleInfo.largeweapons === 'noneStr' : physical.largeweapons === 'noneStr'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.largeweapons !== 'noneStr'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && !roleInfo.largeweapons ? 'checkmark-role-background' : ''"
                (change)="checkPhysicalStat('largeweapons', 'none', $event)"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.largeweapons"
                [checked]="(!physical.largeweapons && roleInfo && !roleInfo.largeweapons) || physical.largeweapons === 'none'">
              </mat-checkbox>
            </td>
            <td>
              <mat-checkbox
                [ngClass]="roleInfo && roleInfo.largeweapons === 'noneWk' ? 'checkmark-role-background' : ''"
                (change)="checkPhysicalStat('largeweapons', 'noneWk', $event)"
                [checked]="!physical.largeweapons ? roleInfo && roleInfo.largeweapons === 'noneWk' : physical.largeweapons === 'noneWk'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.largeweapons !== 'noneWk'"></mat-checkbox>
            </td>
          </tr>
          <tr *ngFor="let stat of defenseStats">
            <td>{{stat.label}} <i *ngIf="stat.tooltip" class="fas fa-info-circle icon-small blue"
                matTooltip="{{stat.tooltip}}" matTooltipClass="my-tooltip"></i>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo[stat.stat] === 'majSt' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat(stat.stat, 'majSt', $event)"
                [checked]="!combatStats[stat.stat] ? roleInfo && roleInfo[stat.stat] === 'majSt' : combatStats[stat.stat] === 'majSt'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo[stat.stat] !== 'majSt'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo[stat.stat] === 'minSt' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat(stat.stat, 'minSt', $event)"
                [checked]="!combatStats[stat.stat] ? roleInfo && roleInfo[stat.stat] === 'minSt' : combatStats[stat.stat] === 'minSt'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo[stat.stat] !== 'minSt'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo[stat.stat] === 'minWk' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat(stat.stat, 'minWk', $event)"
                [checked]="!combatStats[stat.stat] ? roleInfo && roleInfo[stat.stat] === 'minWk' : combatStats[stat.stat] === 'minWk'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo[stat.stat] !== 'minWk'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo[stat.stat] === 'majWk' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat(stat.stat, 'majWk', $event)"
                [checked]="!combatStats[stat.stat] ? roleInfo && roleInfo[stat.stat] === 'majWk' : combatStats[stat.stat] === 'majWk'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo[stat.stat] !== 'majWk'"></mat-checkbox>
            </td>
            <td class="border-left">
              <mat-checkbox [ngClass]="roleInfo && roleInfo[stat.stat] === 'noneStr' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat(stat.stat, 'noneStr', $event)"
                [checked]="!combatStats[stat.stat] ? roleInfo && roleInfo[stat.stat] === 'noneStr' : combatStats[stat.stat] === 'noneStr'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo[stat.stat] !== 'noneStr'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && !roleInfo[stat.stat] ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat(stat.stat, 'none', $event)"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo[stat.stat]"
                [checked]="(!combatStats[stat.stat] && roleInfo && !roleInfo[stat.stat]) || combatStats[stat.stat] === 'none'">
              </mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo[stat.stat] === 'noneWk' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat(stat.stat, 'noneWk', $event)"
                [checked]="!combatStats[stat.stat] ? roleInfo && roleInfo[stat.stat] === 'noneWk' : combatStats[stat.stat] === 'noneWk'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo[stat.stat] !== 'noneWk'"></mat-checkbox>
            </td>
          </tr>

          <tr *ngIf="!combatStats.eua">
            <td>Weapons, Small, Piercing <i class="fas fa-info-circle icon-small blue" matTooltip="Parry"
                matTooltipClass="my-tooltip"></i>
            </td>
            <td>
              <mat-checkbox
                [ngClass]="roleInfo && roleInfo.weaponsmallpiercing === 'majSt' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('weaponsmallpiercing', 'majSt', $event)"
                [checked]="!combatStats.weaponsmallpiercing ? roleInfo &&  roleInfo.weaponsmallpiercing === 'majSt' : combatStats.weaponsmallpiercing === 'majSt'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.weaponsmallpiercing !== 'majSt'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox
                [ngClass]="roleInfo && roleInfo.weaponsmallpiercing === 'minSt' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('weaponsmallpiercing', 'minSt', $event)"
                [checked]="!combatStats.weaponsmallpiercing ? roleInfo &&  roleInfo.weaponsmallpiercing === 'minSt' : combatStats.weaponsmallpiercing === 'minSt'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.weaponsmallpiercing !== 'minSt'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox
                [ngClass]="roleInfo && roleInfo.weaponsmallpiercing === 'minWk' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('weaponsmallpiercing', 'minWk', $event)"
                [checked]="!combatStats.weaponsmallpiercing ? roleInfo &&  roleInfo.weaponsmallpiercing === 'minWk' : combatStats.weaponsmallpiercing === 'minWk'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.weaponsmallpiercing !== 'minWk'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox
                [ngClass]="roleInfo && roleInfo.weaponsmallpiercing === 'majWk' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('weaponsmallpiercing', 'majWk', $event)"
                [checked]="!combatStats.weaponsmallpiercing ? roleInfo &&  roleInfo.weaponsmallpiercing === 'majWk' : combatStats.weaponsmallpiercing === 'majWk'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.weaponsmallpiercing !== 'majWk'"></mat-checkbox>
            </td>
            <td class="border-left">
              <mat-checkbox
                [ngClass]="roleInfo && roleInfo.weaponsmallpiercing === 'noneStr' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('weaponsmallpiercing', 'noneStr', $event)"
                [checked]="!combatStats.weaponsmallpiercing ? roleInfo &&  roleInfo.weaponsmallpiercing === 'noneStr' : combatStats.weaponsmallpiercing === 'noneStr'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.weaponsmallpiercing !== 'noneStr'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && !roleInfo.weaponsmallpiercing ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('weaponsmallpiercing', 'none', $event)"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.weaponsmallpiercing"
                [checked]="(!combatStats.weaponsmallpiercing && roleInfo &&  !roleInfo.weaponsmallpiercing) || combatStats.weaponsmallpiercing === 'none'">
              </mat-checkbox>
            </td>
            <td>
              <mat-checkbox
                [ngClass]="roleInfo && roleInfo.weaponsmallpiercing === 'noneWk' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('weaponsmallpiercing', 'noneWk', $event)"
                [checked]="!combatStats.weaponsmallpiercing ? roleInfo &&  roleInfo.weaponsmallpiercing === 'noneWk' : combatStats.weaponsmallpiercing === 'noneWk'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.weaponsmallpiercing !== 'noneWk'"></mat-checkbox>
            </td>
          </tr>

          <tr>
            <td colspan="2" [ngClass]="{'justify-right': !combatStats.eua}">Parry Everything Except Unarmed Attacks <i
                class="fas fa-info-circle icon-small blue" matTooltip="EUA" matTooltipClass="my-tooltip"></i></td>
            <td>
              <mat-checkbox (change)="checkBasicStatOnOff('eua', $event)" [checked]="combatStats.eua"></mat-checkbox>
            </td>
            <td colspan="5"> </td>
          </tr>

          <tr *ngFor="let stat of defenseStatsPartTwo">
            <td [ngClass]="stat.label.includes('& ') || stat.label === 'Flanks' ? 'justify-right' : ''">{{stat.label}}
              <i *ngIf="stat.tooltip" class="fas fa-info-circle icon-small blue" matTooltip="{{stat.tooltip}}"
                matTooltipClass="my-tooltip"></i>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo[stat.stat] === 'majSt' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat(stat.stat, 'majSt', $event)"
                [checked]="!combatStats[stat.stat] ? roleInfo && roleInfo[stat.stat] === 'majSt' : combatStats[stat.stat] === 'majSt'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo[stat.stat] !== 'majSt'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo[stat.stat] === 'minSt' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat(stat.stat, 'minSt', $event)"
                [checked]="!combatStats[stat.stat] ? roleInfo && roleInfo[stat.stat] === 'minSt' : combatStats[stat.stat] === 'minSt'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo[stat.stat] !== 'minSt'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo[stat.stat] === 'minWk' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat(stat.stat, 'minWk', $event)"
                [checked]="!combatStats[stat.stat] ? roleInfo && roleInfo[stat.stat] === 'minWk' : combatStats[stat.stat] === 'minWk'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo[stat.stat] !== 'minWk'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo[stat.stat] === 'majWk' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat(stat.stat, 'majWk', $event)"
                [checked]="!combatStats[stat.stat] ? roleInfo && roleInfo[stat.stat] === 'majWk' : combatStats[stat.stat] === 'majWk'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo[stat.stat] !== 'majWk'"></mat-checkbox>
            </td>
            <td class="border-left">
              <mat-checkbox [ngClass]="roleInfo && roleInfo[stat.stat] === 'noneStr' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat(stat.stat, 'noneStr', $event)"
                [checked]="!combatStats[stat.stat] ? roleInfo && roleInfo[stat.stat] === 'noneStr' : combatStats[stat.stat] === 'noneStr'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo[stat.stat] !== 'noneStr'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && !roleInfo[stat.stat] ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat(stat.stat, 'none', $event)"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo[stat.stat]"
                [checked]="(!combatStats[stat.stat] && roleInfo && !roleInfo[stat.stat]) || combatStats[stat.stat] === 'none'">
              </mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo[stat.stat] === 'noneWk' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat(stat.stat, 'noneWk', $event)"
                [checked]="!combatStats[stat.stat] ? roleInfo && roleInfo[stat.stat] === 'noneWk' : combatStats[stat.stat] === 'noneWk'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo[stat.stat] !== 'noneWk'"></mat-checkbox>
            </td>
          </tr>

          <tr>
            <th></th>
            <th colspan="7">
              Other
            </th>
          </tr>
          <tr *ngFor="let stat of otherStats">
            <td>{{stat.label}}</td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo[stat.stat] === 'majSt' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat(stat.stat, 'majSt', $event)"
                [checked]="!combatStats[stat.stat] ? roleInfo && roleInfo[stat.stat] === 'majSt' : combatStats[stat.stat] === 'majSt'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo[stat.stat] !== 'majSt'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo[stat.stat] === 'minSt' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat(stat.stat, 'minSt', $event)"
                [checked]="!combatStats[stat.stat] ? roleInfo && roleInfo[stat.stat] === 'minSt' : combatStats[stat.stat] === 'minSt'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo[stat.stat] !== 'minSt'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo[stat.stat] === 'minWk' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat(stat.stat, 'minWk', $event)"
                [checked]="!combatStats[stat.stat] ? roleInfo && roleInfo[stat.stat] === 'minWk' : combatStats[stat.stat] === 'minWk'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo[stat.stat] !== 'minWk'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo[stat.stat] === 'majWk' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat(stat.stat, 'majWk', $event)"
                [checked]="!combatStats[stat.stat] ? roleInfo && roleInfo[stat.stat] === 'majWk' : combatStats[stat.stat] === 'majWk'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo[stat.stat] !== 'majWk'"></mat-checkbox>
            </td>
            <td class="border-left">
              <mat-checkbox [ngClass]="roleInfo && roleInfo[stat.stat] === 'noneStr' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat(stat.stat, 'noneStr', $event)"
                [checked]="!combatStats[stat.stat] ? roleInfo && roleInfo[stat.stat] === 'noneStr' : combatStats[stat.stat] === 'noneStr'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo[stat.stat] !== 'noneStr'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && !roleInfo[stat.stat] ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat(stat.stat, 'none', $event)"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo[stat.stat]"
                [checked]="(!combatStats[stat.stat] && roleInfo && !roleInfo[stat.stat]) || combatStats[stat.stat] === 'none'">
              </mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo[stat.stat] === 'noneWk' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat(stat.stat, 'noneWk', $event)"
                [checked]="!combatStats[stat.stat] ? roleInfo && roleInfo[stat.stat] === 'noneWk' : combatStats[stat.stat] === 'noneWk'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo[stat.stat] !== 'noneWk'"></mat-checkbox>
            </td>
          </tr>

          <tr *ngIf="combatSquare.weaponType === 'm'">
            <td>Measure
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo.measure === 'majSt' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('measure', 'majSt', $event)"
                [checked]="!combatStats.measure ? roleInfo && roleInfo.measure === 'majSt' : combatStats.measure === 'majSt'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.measure !== 'majSt'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo.measure === 'minSt' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('measure', 'minSt', $event)"
                [checked]="!combatStats.measure ? roleInfo && roleInfo.measure === 'minSt' : combatStats.measure === 'minSt'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.measure !== 'minSt'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo.measure === 'minWk' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('measure', 'minWk', $event)"
                [checked]="!combatStats.measure ? roleInfo && roleInfo.measure === 'minWk' : combatStats.measure === 'minWk'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.measure !== 'minWk'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo.measure === 'majWk' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('measure', 'majWk', $event)"
                [checked]="!combatStats.measure ? roleInfo && roleInfo.measure === 'majWk' : combatStats.measure === 'majWk'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.measure !== 'majWk'"></mat-checkbox>
            </td>
            <td class="border-left">
              <mat-checkbox [ngClass]="roleInfo && roleInfo.measure === 'noneStr' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('measure', 'noneStr', $event)"
                [checked]="!combatStats.measure ? roleInfo && roleInfo.measure === 'noneStr' : combatStats.measure === 'noneStr'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.measure !== 'noneStr'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && !roleInfo.measure ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('measure', 'none', $event)"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.measure"
                [checked]="(!combatStats.measure && roleInfo && !roleInfo.measure) || combatStats.measure === 'none'">
              </mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo.measure === 'noneWk' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('measure', 'noneWk', $event)"
                [checked]="!combatStats.measure ? roleInfo && roleInfo.measure === 'noneWk' : combatStats.measure === 'noneWk'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.measure !== 'noneWk'"></mat-checkbox>
            </td>
          </tr>

          <tr *ngIf="combatSquare.weaponType !== 'm'">
            <td>Range, Distance
            </td>
            <td>
              <mat-checkbox
                [ngClass]="roleInfo && roleInfo.rangedistance === 'majSt' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('rangedistance', 'majSt', $event)"
                [checked]="!combatStats.rangedistance ? roleInfo && roleInfo.rangedistance === 'majSt' : combatStats.rangedistance === 'majSt'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.rangedistance !== 'majSt'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox
                [ngClass]="roleInfo && roleInfo.rangedistance === 'minSt' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('rangedistance', 'minSt', $event)"
                [checked]="!combatStats.rangedistance ? roleInfo && roleInfo.rangedistance === 'minSt' : combatStats.rangedistance === 'minSt'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.rangedistance !== 'minSt'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox
                [ngClass]="roleInfo && roleInfo.rangedistance === 'minWk' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('rangedistance', 'minWk', $event)"
                [checked]="!combatStats.rangedistance ? roleInfo && roleInfo.rangedistance === 'minWk' : combatStats.rangedistance === 'minWk'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.rangedistance !== 'minWk'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox
                [ngClass]="roleInfo && roleInfo.rangedistance === 'majWk' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('rangedistance', 'majWk', $event)"
                [checked]="!combatStats.rangedistance ? roleInfo && roleInfo.rangedistance === 'majWk' : combatStats.rangedistance === 'majWk'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.rangedistance !== 'majWk'"></mat-checkbox>
            </td>
            <td class="border-left">
              <mat-checkbox
                [ngClass]="roleInfo && roleInfo.rangedistance === 'noneStr' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('rangedistance', 'noneStr', $event)"
                [checked]="!combatStats.rangedistance ? roleInfo && roleInfo.rangedistance === 'noneStr' : combatStats.rangedistance === 'noneStr'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.rangedistance !== 'noneStr'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && !roleInfo.rangedistance ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('rangedistance', 'none', $event)"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.rangedistance"
                [checked]="(!combatStats.rangedistance && roleInfo &&  !roleInfo.rangedistance) || combatStats.rangedistance === 'none'">
              </mat-checkbox>
            </td>
            <td>
              <mat-checkbox
                [ngClass]="roleInfo && roleInfo.rangedistance === 'noneWk' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('rangedistance', 'noneWk', $event)"
                [checked]="!combatStats.rangedistance ? roleInfo && roleInfo.rangedistance === 'noneWk' : combatStats.rangedistance === 'noneWk'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.rangedistance !== 'noneWk'"></mat-checkbox>
            </td>
          </tr>

          <tr>
            <td>Recovery
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo.recovery === 'majSt' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('recovery', 'majSt', $event)"
                [checked]="!combatStats.recovery ? roleInfo && roleInfo.recovery === 'majSt' : combatStats.recovery === 'majSt'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.recovery !== 'majSt'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo.recovery === 'minSt' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('recovery', 'minSt', $event)"
                [checked]="!combatStats.recovery ? roleInfo && roleInfo.recovery === 'minSt' : combatStats.recovery === 'minSt'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.recovery !== 'minSt'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo.recovery === 'minWk' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('recovery', 'minWk', $event)"
                [checked]="!combatStats.recovery ? roleInfo && roleInfo.recovery === 'minWk' : combatStats.recovery === 'minWk'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.recovery !== 'minWk'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo.recovery === 'majWk' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('recovery', 'majWk', $event)"
                [checked]="!combatStats.recovery ? roleInfo && roleInfo.recovery === 'majWk' : combatStats.recovery === 'majWk'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.recovery !== 'majWk'"></mat-checkbox>
            </td>
            <td class="border-left">
              <mat-checkbox [ngClass]="roleInfo && roleInfo.recovery === 'noneStr' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('recovery', 'noneStr', $event)"
                [checked]="!combatStats.recovery ? roleInfo && roleInfo.recovery === 'noneStr' : combatStats.recovery === 'noneStr'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.recovery !== 'noneStr'"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && !roleInfo.recovery ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('recovery', 'none', $event)"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.recovery"
                [checked]="(!combatStats.recovery && roleInfo && !roleInfo.recovery) || combatStats.recovery === 'none'">
              </mat-checkbox>
            </td>
            <td>
              <mat-checkbox [ngClass]="roleInfo && roleInfo.recovery === 'noneWk' ? 'checkmark-role-background' : ''"
                (change)="checkOtherStat('recovery', 'noneWk', $event)"
                [checked]="!combatStats.recovery ? roleInfo && roleInfo.recovery === 'noneWk' : combatStats.recovery === 'noneWk'"
                matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
                [matTooltipDisabled]="roleInfo && roleInfo.recovery !== 'noneWk'"></mat-checkbox>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="trash-button" mat-raised-button (click)="removeCallback(index)" color="warn"><i
          class="fa-solid fa-trash"></i></button>
    </div>
  </div>
</div>