<div>
  <div>

  </div>
  <div>
    <table>
      <thead>
        <tr>
          <th>

          </th>
          <th colspan="6">
            Scaling
          </th>
        </tr>
        <tr>
          <td> </td>
          <td>None</td>
          <td>Major Strength</td>
          <td>Minor Strength</td>
          <td>Minor Weakness</td>
          <td>Major Weakness</td>
          <td>None & Weak</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th></th>
          <th colspan="6">
            Damage
          </th>
        </tr>
        <tr *ngFor="let stat of attackStats">
          <td>{{stat.label}} <i
              *ngIf="stat.tooltip" class="fas fa-info-circle icon-small blue" matTooltip="{{stat.tooltip}}"
              matTooltipClass="my-tooltip"></i>
          </td>
          <td>
            <mat-checkbox [ngClass]="!roleInfo.damage && roleInfo.preferreddamage === stat.stat ? 'checkmark-role-background' : ''"
              (change)="checkAttackStat(stat.stat, 'none', $event)"
              matTooltip="This is the preferred damage and scale for their Role" matTooltipClass="my-tooltip"
              [matTooltipDisabled]="roleInfo.damage"
              [checked]="(!combatStats.piercingweapons && !combatStats.crushingweapons && !combatStats.slashingweapons && !roleInfo.damage) || (combatStats[stat.stat] === 'none')">
            </mat-checkbox>
          </td>
          <td>
            <mat-checkbox [ngClass]="roleInfo.damage === 'majSt' && roleInfo.preferreddamage === stat.stat ? 'checkmark-role-background' : ''"
              (change)="checkAttackStat(stat.stat, 'majSt', $event)"
              [checked]="!combatStats.piercingweapons && !combatStats.crushingweapons && !combatStats.slashingweapons ? roleInfo.damage === 'majSt' && roleInfo.preferreddamage === stat.stat : combatStats[stat.stat] === 'majSt'"
              matTooltip="This is the preferred damage and scale for their Role" matTooltipClass="my-tooltip"
              [matTooltipDisabled]="roleInfo.damage !== 'majSt' || roleInfo.preferreddamage !== stat.stat "></mat-checkbox>
          </td>
          <td>
            <mat-checkbox [ngClass]="roleInfo.damage === 'minSt' && roleInfo.preferreddamage === stat.stat  ? 'checkmark-role-background' : ''"
              (change)="checkAttackStat(stat.stat, 'minSt', $event)"
              [checked]="!combatStats.piercingweapons && !combatStats.crushingweapons && !combatStats.slashingweapons ? roleInfo.damage === 'minSt' && roleInfo.preferreddamage === stat.stat : combatStats[stat.stat] === 'minSt'"
              matTooltip="This is the preferred damage and scale for their Role" matTooltipClass="my-tooltip"
              [matTooltipDisabled]="roleInfo.damage !== 'minSt'"></mat-checkbox>
          </td>
          <td>
            <mat-checkbox [ngClass]="roleInfo.damage === 'minWk' && roleInfo.preferreddamage === stat.stat  ? 'checkmark-role-background' : ''"
            (change)="checkAttackStat(stat.stat, 'minWk', $event)"
            [checked]="!combatStats.piercingweapons && !combatStats.crushingweapons && !combatStats.slashingweapons ? roleInfo.damage === 'minWk' && roleInfo.preferreddamage === stat.stat : combatStats[stat.stat] === 'minWk'"
            matTooltip="This is the preferred damage and scale for their Role" matTooltipClass="my-tooltip"
            [matTooltipDisabled]="roleInfo.damage !== 'minWk'"></mat-checkbox>
          </td>
          <td>
            <mat-checkbox [ngClass]="roleInfo.damage === 'majWk' && roleInfo.preferreddamage === stat.stat  ? 'checkmark-role-background' : ''"
            (change)="checkAttackStat(stat.stat, 'majWk', $event)"
            [checked]="!combatStats.piercingweapons && !combatStats.crushingweapons && !combatStats.slashingweapons ? roleInfo.damage === 'majWk' && roleInfo.preferreddamage === stat.stat : combatStats[stat.stat] === 'majWk'"
            matTooltip="This is the preferred damage and scale for their Role" matTooltipClass="my-tooltip"
            [matTooltipDisabled]="roleInfo.damage !== 'majWk'"></mat-checkbox>
          </td>
          <td>
            <mat-checkbox [ngClass]="roleInfo.damage === 'noneWk' && roleInfo.preferreddamage === stat.stat  ? 'checkmark-role-background' : ''"
              (change)="checkAttackStat(stat.stat, 'noneWk', $event)"
              [checked]="!combatStats.piercingweapons && !combatStats.crushingweapons && !combatStats.slashingweapons ? roleInfo.damage === 'noneWk' && roleInfo.preferreddamage === stat.stat : combatStats[stat.stat] === 'noneWk'"
              matTooltip="This is the preferred damage and scale for their Role" matTooltipClass="my-tooltip"
              [matTooltipDisabled]="roleInfo.damage !== 'noneWk'"></mat-checkbox>
          </td>
        </tr>
    
        <tr>
          <th></th>
          <th colspan="6">
            Defenses
          </th>
        </tr>
        <tr *ngFor="let stat of defenseStats">
          <td [ngClass]="stat.label.includes('& ') || stat.label === 'Flanks' ? 'justify-right' : ''">{{stat.label}} <i
            *ngIf="stat.tooltip" class="fas fa-info-circle icon-small blue" matTooltip="{{stat.tooltip}}"
            matTooltipClass="my-tooltip"></i>
          </td>
          <td>
            <mat-checkbox [ngClass]="!roleInfo[stat.stat] ? 'checkmark-role-background' : ''"
              (change)="checkOtherStat(stat.stat, 'none', $event)"
              matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
              [matTooltipDisabled]="roleInfo[stat.stat]"
              [checked]="(!combatStats[stat.stat] && !roleInfo[stat.stat]) || combatStats[stat.stat] === 'none'">
            </mat-checkbox>
          </td>
          <td>
            <mat-checkbox [ngClass]="roleInfo[stat.stat] === 'majSt' ? 'checkmark-role-background' : ''"
              (change)="checkOtherStat(stat.stat, 'majSt', $event)"
              [checked]="!combatStats[stat.stat] ? roleInfo[stat.stat] === 'majSt' : combatStats[stat.stat] === 'majSt'"
              matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
              [matTooltipDisabled]="roleInfo[stat.stat] !== 'majSt'"></mat-checkbox>
          </td>
          <td>
            <mat-checkbox [ngClass]="roleInfo[stat.stat] === 'minSt' ? 'checkmark-role-background' : ''"
              (change)="checkOtherStat(stat.stat, 'minSt', $event)"
              [checked]="!combatStats[stat.stat] ? roleInfo[stat.stat] === 'minSt' : combatStats[stat.stat] === 'minSt'"
              matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
              [matTooltipDisabled]="roleInfo[stat.stat] !== 'minSt'"></mat-checkbox>
          </td>
          <td>
            <mat-checkbox [ngClass]="roleInfo[stat.stat] === 'minWk' ? 'checkmark-role-background' : ''"
            (change)="checkOtherStat(stat.stat, 'minWk', $event)"
            [checked]="!combatStats[stat.stat] ? roleInfo[stat.stat] === 'minWk' : combatStats[stat.stat] === 'minWk'"
            matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
            [matTooltipDisabled]="roleInfo[stat.stat] !== 'minWk'"></mat-checkbox>
          </td>
          <td>
            <mat-checkbox [ngClass]="roleInfo[stat.stat] === 'majWk' ? 'checkmark-role-background' : ''"
            (change)="checkOtherStat(stat.stat, 'majWk', $event)"
            [checked]="!combatStats[stat.stat] ? roleInfo[stat.stat] === 'majWk' : combatStats[stat.stat] === 'majWk'"
            matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
            [matTooltipDisabled]="roleInfo[stat.stat] !== 'majWk'"></mat-checkbox>
          </td>
          <td>
            <mat-checkbox [ngClass]="roleInfo[stat.stat] === 'noneWk' ? 'checkmark-role-background' : ''"
              (change)="checkOtherStat(stat.stat, 'noneWk', $event)"
              [checked]="!combatStats[stat.stat] ? roleInfo[stat.stat] === 'noneWk' : combatStats[stat.stat] === 'noneWk'"
              matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
              [matTooltipDisabled]="roleInfo[stat.stat] !== 'noneWk'"></mat-checkbox>
          </td>
        </tr>

        <tr>
          <th></th>
          <th colspan="6">
            Other
          </th>
        </tr>
        <tr *ngFor="let stat of otherStats">
          <td>{{stat.label}}</td>
          <td>
            <mat-checkbox [ngClass]="!roleInfo[stat.stat] ? 'checkmark-role-background' : ''"
              (change)="checkOtherStat(stat.stat, 'none', $event)"
              matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
              [matTooltipDisabled]="roleInfo[stat.stat]"
              [checked]="(!combatStats[stat.stat] && !roleInfo[stat.stat]) || combatStats[stat.stat] === 'none'">
            </mat-checkbox>
          </td>
          <td>
            <mat-checkbox [ngClass]="roleInfo[stat.stat] === 'majSt' ? 'checkmark-role-background' : ''"
              (change)="checkOtherStat(stat.stat, 'majSt', $event)"
              [checked]="!combatStats[stat.stat] ? roleInfo[stat.stat] === 'majSt' : combatStats[stat.stat] === 'majSt'"
              matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
              [matTooltipDisabled]="roleInfo[stat.stat] !== 'majSt'"></mat-checkbox>
          </td>
          <td>
            <mat-checkbox [ngClass]="roleInfo[stat.stat] === 'minSt' ? 'checkmark-role-background' : ''"
              (change)="checkOtherStat(stat.stat, 'minSt', $event)"
              [checked]="!combatStats[stat.stat] ? roleInfo[stat.stat] === 'minSt' : combatStats[stat.stat] === 'minSt'"
              matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
              [matTooltipDisabled]="roleInfo[stat.stat] !== 'minSt'"></mat-checkbox>
          </td>
          <td>
            <mat-checkbox [ngClass]="roleInfo[stat.stat] === 'minWk' ? 'checkmark-role-background' : ''"
            (change)="checkOtherStat(stat.stat, 'minWk', $event)"
            [checked]="!combatStats[stat.stat] ? roleInfo[stat.stat] === 'minWk' : combatStats[stat.stat] === 'minWk'"
            matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
            [matTooltipDisabled]="roleInfo[stat.stat] !== 'minWk'"></mat-checkbox>
          </td>
          <td>
            <mat-checkbox [ngClass]="roleInfo[stat.stat] === 'majWk' ? 'checkmark-role-background' : ''"
            (change)="checkOtherStat(stat.stat, 'majWk', $event)"
            [checked]="!combatStats[stat.stat] ? roleInfo[stat.stat] === 'majWk' : combatStats[stat.stat] === 'majWk'"
            matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
            [matTooltipDisabled]="roleInfo[stat.stat] !== 'majWk'"></mat-checkbox>
          </td>
          <td>
            <mat-checkbox [ngClass]="roleInfo[stat.stat] === 'noneWk' ? 'checkmark-role-background' : ''"
              (change)="checkOtherStat(stat.stat, 'noneWk', $event)"
              [checked]="!combatStats[stat.stat] ? roleInfo[stat.stat] === 'noneWk' : combatStats[stat.stat] === 'noneWk'"
              matTooltip="This is the preferred scale for their Role" matTooltipClass="my-tooltip"
              [matTooltipDisabled]="roleInfo[stat.stat] !== 'noneWk'"></mat-checkbox>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>