/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@font-face {
  font-family: 'know';
  src: url('./assets/jancient.ttf') format("truetype");
}
@font-face {
  font-family: 'umbria';
  src: url('./assets/Baldur.ttf') format("truetype");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  scrollbar-color: #b45f06 transparent;
  scrollbar-width: thin;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background: grey;
  margin: 0 15px;
  font-family: 'know';
}
h1, h2, h3, h4, h5 {
  font-family: 'know';
}
h1 {
  font-size: 25px;
  color: whitesmoke;
  margin: 10px
}
h2 {
  color: #795548;
  font-size: 20px;
  margin-top: 15px;
  font-weight: 600;
  font-family: 'umbria';
}
h3 {
  font-size: 18px;
  color: #607d8b;
  font-weight: 600;
}
a {
  font-family: 'know';
  font-size: 20px;
}
.mat-button-wrapper {
  font-family: 'know';
  font-size: 17px;
}
p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


.spinner {
  margin: 15px auto;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: whitesmoke;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey; 
}

.fa-dice-d20 {
  font-size: 25px;
}

.fa-plus {
  font-size: 25px;
}

.icon-white {
  color: whitesmoke;
}

.icon-small {
  font-size: 9px;
}

.icon-blue {
  color: #607d8b;
  font-size: 15px
}

.ql-editor {
  text-indent: 25px;
  padding: 10px 5px;
}

.ql-editor strong {
  font-weight: 600;
  font-family: 'know';
  font-size: 17px;
  color: #607d8b;
}

.ql-editor ul, .ql-editor ol {
  text-indent: 0;
}

.quill-obstacle-view .ql-editor {
  padding: 5px 3px !important
}

.quill-obstacle-view .ql-editor ul {
  padding: 0 !important
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-expansion-panel-header {
  font-family: 'know' !important;
}

#temperamentPTag {
  text-align: right !important;
}