/* ::ng-deep .mat-select-value, ::ng-deep .mat-option-text { text-align: right; } */

.weaponName {
    width: 150px
}

.swap-equipment {
    font-size: 10px;
    margin-left: 5px;
    cursor: pointer
}

.swap-equipment:hover {
    transition: .6s;
    color: lightgray !important;
}

.swap-equipment-buttons {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.swap-equipment-buttons i {
    cursor: pointer
}

.vitality-flex {
    flex-direction: column;
    align-items: flex-end;
}

.vitality-flex-subtitle {
    color: grey;
    font-size: 10px;
    margin-top: 3px;
}

.equipment-choices {
    display: flex;
    flex-wrap: wrap;
}

.flex-shell-with-table {
    width: 49%;
}

.flex-shell-with-table .flex-row-opposite {
    width: 100%;
}

.flex-shell-with-table table {
    margin: 15px 0;
}

.upside-down {
    transform: rotate(180deg);
}

.locationVitality .vitality-flex {
    margin-top: 15px;
}

.multi-loot {
    display: flex;
    align-items: center;
}

.multi-loot input {
    margin: 0 5px;
    border: none;
    border-bottom: 1px solid;
    width: 50px;
    text-align: center;
    font-size: 12px;
}

.black {
    color: black
}