<mat-card>
  <mat-toolbar color="accent">
    <h1>
      <i *ngIf="!beast.favorite" (click)="addFavorite(beast.id)" matTooltip="Click to Favorite this Monster"
        class="far fa-star"></i>
      <i *ngIf="beast.favorite" (click)="deleteFavorite(beast.id)" matTooltip="Click to Unfavorite this Monster"
        class="fas fa-star"></i>
      {{beast.name}}
    </h1>
    <div class="add-to-quick-view" matTooltip="Click to Add to Quick View" (click)="quickViewService.addToQuickViewArray(beast.id)"><i class="fas fa-plus"></i><i class="fas fa-address-card"></i></div>
  </mat-toolbar>

  <div class="content-shell">

    <div class="left">
      <div>
        <img *ngIf="beast.id" [src]="imageBase + beast.id" [alt]="beast.name"
          onerror="this.onerror=null;this.src='/assets/404.png';">
      </div>

      <div class="conflict-shell"
        *ngIf="beast.conflict.traits.length > 0 || beast.conflict.devotions.length > 0 || beast.conflict.flaws.length > 0 || beast.conflict.passions.length > 0">

        <div class="conflict-inner-shell" *ngIf="beast.conflict.traits.length > 0">
          <h2>Traits</h2>
          <div class="divider white"></div>
          <div *ngFor="let trait of beast.conflict.traits; let i = index">
            <div class="flex-row-opposite">
              <h3>{{trait.trait | titlecase}}</h3>
              <h3>{{trait.value}}</h3>
            </div>
          </div>
        </div>

        <div class="conflict-inner-shell" *ngIf="beast.conflict.devotions.length > 0">
          <h2>Devotions</h2>
          <div class="divider white"></div>
          <div *ngFor="let trait of beast.conflict.devotions; let i = index">
            <div *ngIf="!beast.devotionlimit || i < beast.devotionlimit" class="flex-row-opposite">
              <h3>{{trait.trait | titlecase}}</h3>
              <h3>{{trait.value}}</h3>
            </div>
          </div>
        </div>

        <div class="conflict-inner-shell" *ngIf="beast.conflict.flaws.length > 0">
          <h2>Flaws</h2>
          <div class="divider white"></div>
          <div *ngFor="let trait of beast.conflict.flaws; let i = index">
            <div *ngIf="!beast.flawlimit || i < beast.flawlimit" class="flex-row-opposite">
              <h3>{{trait.trait | titlecase}}</h3>
              <h3>d4!+Stress</h3>
            </div>
          </div>
        </div>

        <div class="conflict-inner-shell" *ngIf="beast.conflict.passions.length > 0">
          <h2>Passions</h2>
          <div class="divider white"></div>
          <div *ngFor="let trait of beast.conflict.passions; let i = index">
            <div *ngIf="!beast.passionlimit || i < beast.passionlimit" class="flex-row-opposite">
              <h3>{{trait.trait | titlecase}}</h3>
              <h3>{{trait.value}}</h3>
            </div>
          </div>
        </div>

      </div>

      <div class="conflict-inner-shell" *ngIf="beast.skills.length > 0">
        <h2>Special Skills</h2>
        <div class="divider"></div>
        <div *ngFor="let skill of beast.skills; let i = index">
          <div class="flex-row-opposite">
            <h3>{{skill.skill}}</h3>
            <h3>{{skill.rank}}</h3>
          </div>
        </div>
      </div>

      <div class="combat-shell" *ngIf="beast.combat.length > 0">
        <h2>Weapons</h2>
        <div class="divider"></div>
        <div class="combat-square" *ngFor="let square of beast.combat">
          <h3 class="weaponName">{{square.weapon | titlecase}}</h3>

          <div class="square-range-shell">
            <div class="square-shell">
              <img class="combat-image" src="../../../../assets/square.png" alt="combat square">
              <p class="spd">{{square.spd}}</p>
              <p class="atk">{{square.atk}}</p>
              <p class="init">{{square.init}}</p>
              <p class="def">{{square.def}}</p>
              <p class="fatigue">{{square.fatigue}}</p>
              <div class="dr">
                <p>{{square.dr}}</p>
                <p class="shield_dr" *ngIf='square.shield_dr && square.shield_dr !== " "'>{{square.shield_dr}}</p>
              </div>
              <p class="measure">{{square.measure}}</p>
              <p class="damage">{{square.damage}}</p>
              <p class="parry">{{square.parry}}</p>
            </div>

            <div *ngIf="square.weapontype === 'r'" class="ranged-shell">
              <div class="ranged-title">
                <h4>Penalty</h4>
                <h4>Range (ft)</h4>
              </div>
              <div>
                <h4>0</h4>
                <h4>5 - {{square.ranges.zero}}</h4>
              </div>
              <div class="ranged-odd">
                <h4>-2</h4>
                <h4>{{square.ranges.zero + 1}} - {{square.ranges.two}}</h4>
              </div>
              <div>
                <h4>-4</h4>
                <h4>{{square.ranges.two + 1}} - {{square.ranges.four}}</h4>
              </div>
              <div class="ranged-odd">
                <h4>-8</h4>
                <h4>{{square.ranges.four + 1}} - {{square.ranges.eight}}</h4>
              </div>
              <div>
                <h4>-16</h4>
                <h4>{{square.ranges.eight + 1}} - {{square.ranges.sixteen}}</h4>
              </div>
              <div class="ranged-odd">
                <h4>-32</h4>
                <h4>{{square.ranges.sixteen + 1}} - {{square.ranges.thirtytwo}}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="vitals-shell">
        <div class="flex-row-opposite">
          <h3>Vitality</h3>
          <span>
            <p>{{beast.vitality}} </p>
            <p *ngIf="isNumber(locationCheckboxes.mainVitality.average)">(Ave:
              {{locationCheckboxes.mainVitality.average}})</p>
          </span>
        </div>
        <div class="checkboxShell">
          <div *ngFor="let checkbox of locationCheckboxes.mainVitality.checkboxes; let i = index">
            <mat-checkbox matTooltip="{{i+1}}" *ngIf="!checkbox.value"
              (change)="checkCheckbox($event, i, 'mainVitality')" [(ngModel)]="checkbox.checked"></mat-checkbox>
            <p *ngIf="checkbox.value"> {{checkbox.value}} </p>
          </div>
        </div>
        <div class="locationVitality">
          <div *ngFor="let location of beast.locationalvitality; let i = index">
            <div class="flex-row-opposite">
              <h3>{{location.location}}</h3>
              <span>
                <p>{{location.vitality}} </p>
                <p *ngIf="isNumber(locationCheckboxes[location.location].average)">(Ave:
                  {{locationCheckboxes[location.location].average}})</p>
              </span>
            </div>
            <div class="checkboxShell">
              <div *ngFor="let checkbox of locationCheckboxes[location.location].checkboxes; let i = index">
                <mat-checkbox matTooltip="{{i+1}}" *ngIf="!checkbox.value"
                  (change)="checkCheckbox($event, i, location.location)" [(ngModel)]="checkbox.checked"></mat-checkbox>
                <p *ngIf="checkbox.value"> {{checkbox.value}} </p>
              </div>
            </div>
          </div>
        </div>

        <div class="flex-row-opposite">
          <h3>Trauma Threshold</h3>
          <p *ngIf="isNumber(trauma)">{{trauma}}</p>
          <p *ngIf="!isNumber(trauma)">n/a</p>
        </div>
        <div class="flex-row-opposite">
          <h3>Stress Threshold</h3>
          <p *ngIf="beast.stress !== 0">{{beast.stress}}</p>
          <p *ngIf="beast.stress === 0">n/a</p>
        </div>
        <div class="flex-row-opposite">
          <h3>Panic</h3>
          <p>{{beast.panic | moraleConverter}}</p>
        </div>
      </div>

      <div class="vitals-shell">
        <h3 class="blue">Movement</h3>
        <div *ngIf="beast.movement.length == 0">
          <div class="divider white"></div>
          <h3>This Monster Can't Move</h3>
        </div>
        <div *ngFor="let movementType of beast.movement">
          <div class="divider white"></div>
          <h3>{{movementType.type | titlecase}}</h3>
          <div class="divider white"></div>
          <div class="flex-row-opposite">
            <h3>Stroll/Crawl</h3>
            <p>{{movementType.stroll}}</p>
          </div>
          <div class="flex-row-opposite">
            <h3>Walk</h3>
            <p>{{movementType.walk}}</p>
          </div>
          <div class="flex-row-opposite">
            <h3>Jog</h3>
            <p>{{movementType.jog}}</p>
          </div>
          <div class="flex-row-opposite">
            <h3>Run</h3>
            <p>{{movementType.run}}</p>
          </div>
          <div class="flex-row-opposite">
            <h3>Sprint</h3>
            <p>{{movementType.sprint}}</p>
          </div>
        </div>
      </div>

      <h2>Add. Attack Info</h2>
      <div class="divider"></div>
      <div>
        <quill-view-html [content]="beast.sp_atk"></quill-view-html>
      </div>

      <h2>Add. Defense Info</h2>
      <div class="divider"></div>
      <div>
        <quill-view-html [content]="beast.sp_def"></quill-view-html>
      </div>

      <h2>Tactics</h2>
      <div class="divider"></div>
      <div>
        <quill-view-html [content]="beast.tactics"></quill-view-html>
      </div>
    </div>

    <div class="right">
      <h2 class="introduction">Introduction</h2>
      <div class="divider introduction"></div>
      <div>
        <quill-view-html [content]="beast.intro"></quill-view-html>
      </div>

      <h2>Appearance</h2>
      <div class="divider"></div>
      <div>
        <quill-view-html [content]="beast.ecology"></quill-view-html>
      </div>

      <h2>Habitat/Society</h2>
      <div class="divider"></div>
      <div>
        <quill-view-html [content]="beast.habitat"></quill-view-html>
      </div>

      <h2>Random Encounter <i class="fas fa-info-circle icon-small blue"
          matTooltip="This gives you guidelines on generating a random encounter using this monster. The results are tailored to the monster and so will generally be indicative of its behavior."></i>
      </h2>
      <div class="divider"></div>
      <div class="box-padding encounterShell" *ngIf="encounter !== 'loading' && encounter.temperament">
        <div class="playerShell">
          <div class="flex-row-opposite">
            <h3>Main Players</h3>
            <ul>
              <li *ngFor="let player of encounter.rank.mainPlayers">{{player.number}} {{player.rank !== 'None' ?
                player.rank : player.number === 1 ? beast.name : beast.plural ? beast.plural : beast.name + "s"}}</li>
            </ul>
          </div>
          <div *ngIf="encounter.rank.otherPlayers.length > 0" class="flex-row-opposite">
            <h3>Additional Player(s)</h3>
            <ul>
              <li *ngFor="let player of encounter.rank.otherPlayers">
                <a target="_blank" href="{{getUrl(player.id)}}">{{player.name}} {{player.rank}}</a>
              </li>
            </ul>
          </div>
        </div>
        <div *ngIf="encounter.verb" class="flex-row-opposite">
          <h3>Verb</h3>
          <p>{{encounter.verb}}</p>
        </div>
        <div *ngIf="encounter.noun" class="flex-row-opposite">
          <h3>Noun</h3>
          <p>{{encounter.noun}}</p>
        </div>
        <div class="flex-row-opposite">
          <h3>Temperament</h3>
          <p id="temperamentPTag">{{encounter.temperament.temperament}} <i class="fas fa-info-circle icon-small blue"
              matTooltip="{{encounter.temperament.tooltip}}"></i></p>
        </div>
        <div *ngIf="encounter.battlefield" class="flex-row-opposite">
          <h3>Battlefield</h3>
          <p id="temperamentPTag">{{encounter.battlefield}}</p>
        </div>
        <div class="flex-row-opposite">
          <h3>Time of Day</h3>
          <p>{{encounter.timeOfDay}}</p>
        </div>
        <div class="flex-row-opposite">
          <h3>Home Base</h3>
          <p>{{encounter.rank.lair}} Miles Away</p>
        </div>
      </div>

      <div class="box-padding" *ngIf="encounter.complication && encounter.temperament">
        <h3>Complication{{encounter.complication.length > 1 ? 's' : ''}}</h3>
        <div class="complicationsShell">
          <div class="complicationCard" *ngFor="let complication of encounter.complication">
            <div>
              <h5>Type: </h5>
              <p>{{complication.type}}</p>
            </div>
            <div *ngIf="complication.backup">
              <h5>Back Up: </h5>
              <p>{{complication.backup.number}} {{complication.backup.rank}}{{complication.backup.number > 1 ? 's' :
                ''}}</p>
            </div>
            <div *ngIf="complication.time">
              <h5>Arrival Time: </h5>
              <p>{{complication.time}}</p>
            </div>
            <div *ngIf="complication.rival">
              <h5>Enemies: </h5><a target="_blank"
                href="{{getUrl(complication.rival.id)}}">{{complication.rival.number}}
                {{complication.rival.name}}{{complication.rival.number > 1 ? 's' : ''}}</a>
            </div>
            <div *ngIf="complication.amount">
              <h5>Damage Taken: </h5>
              <p>{{complication.amount}}</p>
            </div>
            <div *ngIf="complication.byWhom">
              <h5>By: </h5><a target="_blank" href="{{getUrl(complication.byWhom.id)}}">{{complication.byWhom.name}}</a>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="encounter !== 'loading' && encounter.temperament" class="regenerateButtonShell">
        <button color="primary" mat-raised-button (click)="getRandomEncounter()" color="warn"><i
            class="fas fa-redo"></i></button>
      </div>

      <div class="box-padding encounterShell" *ngIf="encounter === 'loading'">
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>

      <div class="box-padding encounterShell" *ngIf="encounter !== 'loading' && !encounter.temperament">
        <h3>This Monster Currently Has No Random Encounter Information.</h3>
      </div>

      <div class="divider"></div>
      <div class="flex-row-opposite">
        <h3>Combat Hash</h3>
        <p>{{beast.hash}}</p>
      </div>

      <h2>Types</h2>
      <div class="divider"></div>
      <div class="box-padding">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let type of beast.types">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>{{type.typeid | typeConverter}}</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <quill-view-html [content]="type.description"></quill-view-html>
            <button color="primary" mat-raised-button (click)="navigateToSearch('types', type.typeid)">See More
              {{type.typeid | typeConverter}}s</button>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <h2>Misc Information</h2>
      <div class="divider"></div>
      <div class="box-padding">
        <div class="flex-row-opposite" *ngIf="beast.patreon >= 20">
          <h3>Access</h3>
          <p>Early <i class="fas fa-dice-d20 icon-blue"></i></p>
        </div>
        <div class="flex-row-opposite" *ngIf="beast.patreon >= 2 && beast.patreon < 20">
          <h3>Access</h3>
          <p>Deluxe <i class="fas fa-plus icon-blue"></i></p>
        </div>
        <div class="flex-row-opposite">
          <h3>HR <i class="fas fa-info-circle icon-small blue" (click)="openExplaination()"
              matTooltip="Hewy Rating. Click to Learn More."></i></h3>
          <p>{{beast.hr}}</p>
        </div>
        <div class="flex-row-opposite">
          <h3>
            Size <i class="fas fa-info-circle icon-small blue"
              matTooltip="A creature receives +3 to melee & ranged attacks for each size over Medium or -3 for each size under. This is factored into their Defense already."></i>
          </h3>
          <p>{{beast.size}}</p>
        </div>
        <div class="flex-row-opposite">
          <h3>Int</h3>
          <p>{{beast.int}}</p>
        </div>
        <h3>Environment</h3>
        <div class="chip-shell">
          <mat-chip-list>
            <mat-chip (click)="navigateToSearch('environ', environ.environid)" *ngFor="let environ of beast.environ"
              color="primary" selected>
              {{environ.environid | environConverter}}</mat-chip>
          </mat-chip-list>
        </div>
        <div class="flex-row-opposite">
          <h3>Rarity</h3>
          <p>{{beast.rarity | rarityConverter}} <i class="fas fa-info-circle icon-small blue"
            matTooltip="+{{getRarityModifier(beast.rarity)}} to Monster Craft Checks"></i></p>
        </div>
        <div class="flex-row-opposite">
          <h3>Senses</h3>
          <p>{{beast.senses}}</p>
        </div>
        <div class="flex-row-opposite">
          <h3>Diet</h3>
          <p>{{beast.diet}}</p>
        </div>
        <div class="flex-row-opposite">
          <h3>Subsystem Focus</h3>
          <p>{{beast.subsystem | subsystemConverter}}</p>
        </div>
      </div>

      <h2>Loot <i class="fas fa-info-circle icon-small blue"
          matTooltip="This doesn't include weapons and armor unless they're notable."></i></h2>
      <div class="divider"></div>
      <ul *ngIf="beast.loot.length > 0" class="box-padding lairLoot">
        <li *ngFor="let lootitem of beast.loot; let i = index">
          {{lootitem.loot}} ({{lootitem.price}})
        </li>
      </ul>

      <div *ngIf="beast.lootnotes">
        <div *ngIf="beast.lootnotes.length > 0">
          <h3 *ngIf="beast.loot.length > 0" class="loot-notes-subtitle">Additional Notes</h3>
          <div>
            <quill-view-html [content]="beast.lootnotes"></quill-view-html>
          </div>
        </div>
      </div>

      <div *ngIf="beast.loot.length == 0 && (!beast.lootnotes || beast.lootnotes.length == 0)" class="box-padding">
        <h3>This creature carries nothing else of value.</h3>
      </div>

      <h3>Lair Loot <i class="fas fa-info-circle icon-small blue"
          matTooltip="Loot that can only be found at the beast's lair and that they don't carry on them."></i></h3>
      <ul *ngIf="lairLoot.length > 0" class="box-padding lairLoot">
        <li *ngFor="let loot of lairLoot">{{loot}}
          <i *ngIf="loot.includes('alm script')" class="fas fa-info-circle icon-small blue"
            matTooltip="Destroying this script awards the noted Favor that must immediately be spent. It can take you above your Max Favor."></i>
          <i *ngIf="loot.includes('scroll')" class="fas fa-info-circle icon-small blue" matTooltip="Contains a spell with random Rudiments with Drain value about equal to SP noted. Cast as Runegalder although it requires a Weirdcarft Skill Check vs d20! to successfully cast.
                        Scroll is destroyed on casting."></i>
          <i *ngIf="loot.includes('Trait')" class="fas fa-info-circle icon-small blue" matTooltip="Use the sc price as the base price and then add the Trait on top."></i>
        </li>
      </ul>
      <div *ngIf="lairLoot.length == 0" class="box-padding">
        <h3>This creature has no loot at their lair.</h3>
      </div>

      <div *ngIf="lairlootpresent" class="regenerateButtonShell">
        <button color="primary" mat-raised-button (click)="getLairLoot()" color="warn"><i
            class="fas fa-redo"></i></button>
      </div>

      <h2>
        Weird Reagents <i class="fas fa-info-circle icon-small blue"
          matTooltip="This represents body parts that can be harvested that you can then sacrifice for +3 SP to the listed spell or a +3 to the corresponding Weirdcraft Advanced Skill Check."></i>
      </h2>
      <div class="divider"></div>
      <div *ngIf="beast.reagents.length > 0" class="reagents-shell box-padding">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let reagent of beast.reagents">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>{{reagent.name}}</h3>
              </mat-panel-title>
              <mat-panel-description>
                Identification Difficulty: {{reagent.difficulty}}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="inner-reagents-shell">
              <div class="flex-row-opposite">
                <h3>Spell</h3>
                <p>{{reagent.spell}}</p>
              </div>
              <div class="flex-row-opposite">
                <h3>Harvest Diff.</h3>
                <p>{{reagent.harvest ? reagent.harvest : reagent.difficulty}} <i *ngIf="reagent.harvest === 'n/a'"
                    class="fas fa-info-circle icon-small blue" matTooltip="No Check is needed"></i></p>
              </div>
              <div class="flex-row-opposite">
                <h3>Price</h3>
                <p>{{ handleReagentPrice(reagent.harvest, reagent.difficulty) }}</p>
              </div>
            </div>
            <h3></h3>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div *ngIf="beast.reagents.length == 0" class="box-padding">
        <h3>This creature has no harvestable reagents.</h3>
      </div>

      <h2>Variants</h2>
      <div class="divider"></div>
      <div *ngIf="beast.variants.length > 0" class="chip-shell">
        <mat-chip-list>
          <mat-chip [routerLink]="['/beast', variant.variantid, 'gm']" *ngFor="let variant of beast.variants"
            color="accent" selected>
            {{variant.name}}</mat-chip>
        </mat-chip-list>
      </div>
      <div *ngIf="beast.variants.length == 0" class="box-padding">
        <h3>This creature currently has no variants</h3>
      </div>

      <!-- <h2>Special Harvest</h2> -->

      <h2>Meta Notes</h2>
      <div class="divider"></div>
      <div *ngIf="beast.meta && beast.meta.length > 0">
        <quill-view-html [content]="beast.meta"></quill-view-html>
      </div>

      <div *ngIf="!beast.meta || beast.meta.length == 0" class="box-padding">
        <h3>This creature currently has no meta notes</h3>
      </div>

      <h2>Personal Notes</h2>
      <div class="divider"></div>
      <div>
        <app-player-notes class="gm-notes-shell" [notes]="beast.notes" [id]="beast.id"></app-player-notes>
      </div>
    </div>
  </div>

  <button *ngIf="loggedIn === 'owner'" mat-raised-button color="warn"
    [routerLink]="['/beast', beast.id, 'edit']">Edit</button>
  <button *ngIf="loggedIn === 'owner'" mat-raised-button color="accent"
    [routerLink]="['/beast', 0, 'edit', {'templateId': beast.id}]">Use As Template For New</button>
</mat-card>