/* ::ng-deep .mat-select-value, ::ng-deep .mat-option-text { text-align: right; } */
h4 {
    font-weight: bold;
}

.strike-through {
    text-decoration: line-through;
}

.role-shell mat-form-field {
    width: 65%;
}

.role-shell h2 {
    margin: 0
}

.copyURLButton {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px;
    border-radius: 4px;
    transition: .6s;
}

.copyURLButton:hover {
    background: #ff5722;
    color: white
}

.largeFont {
    font-size: 17px;
}

.orphan-p-tag {
    text-indent: 25px;
    padding: 10px 5px;
    white-space: pre-wrap !important;
}

.weaponName {
    width: 150px
}

.swap-equipment {
    font-size: 10px;
    margin-left: 5px;
    cursor: pointer
}

.swap-equipment:hover {
    transition: .6s;
    color: lightgray !important;
}

.swap-equipment-buttons {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.swap-equipment-buttons i {
    cursor: pointer
}

.vitality-flex {
    flex-direction: column;
    align-items: flex-end;
}

.vitality-flex-subtitle {
    color: grey;
    font-size: 10px;
    margin-top: 3px;
}

.equipment-choices {
    display: flex;
    flex-wrap: wrap;
}

.flex-shell-with-table {
    width: 49%;
}

.flex-shell-with-table .flex-row-opposite {
    width: 100%;
}

.flex-shell-with-table table {
    margin: 15px 0;
}

.upside-down {
    transform: rotate(180deg);
}

.locationVitality .vitality-flex {
    margin-top: 15px;
}

.multi-loot {
    display: flex;
    align-items: center;
}

.multi-loot input {
    margin: 0 5px;
    border: none;
    border-bottom: 1px solid;
    width: 50px;
    text-align: center;
    font-size: 12px;
}

.black {
    color: black
}

.artist-credits {
    text-align: center;
    color: grey;
    margin-top: 5px;
}

.artist-credits p {
    font-size: 16px;
    font-family: 'know';
}

.artist-credits i {
    margin-left: 5px
}

.vitals-and-movement-shell {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.vitals-and-movement-shell .vitals-shell {
    width: 49%;
    min-width: 220px;
    height: 100%;
}

.margin-top {
    margin-top: 10px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.small-font {
    font-size: 10px;
}

.inline-loading .spinner {
    display: flex;
    width: 10%;
    margin: 5px 0;
}

.inline-loading .spinner div {
    height: 10px;
    background-color: black
}

@media (max-width: 1246px) {
    .vitals-and-movement-shell .vitals-shell {
        width: 100%;
        min-width: unset;
    }    
}