<div *ngIf="!beast.id">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>
<div *ngIf="beast.id">
  <mat-card>
    <mat-toolbar color="accent" class="top-toolbar">
      <h1>
        <i *ngIf="!beast.favorite" (click)="addFavorite(beast.id)" matTooltip="Click to Favorite this Monster"
          class="far fa-star"></i>
        <i *ngIf="beast.favorite" (click)="deleteFavorite(beast.id)" matTooltip="Click to Unfavorite this Monster"
          class="fas fa-star"></i>
        {{beast.name}}
      </h1>
    </mat-toolbar>

    <div class="content-shell">

      <div class="left">
        <div>
          <img class="beastImg" *ngIf="beast.id" [src]="imageBase + beast.id" [alt]="beast.name"
            onerror="this.onerror=null;this.src='/assets/404.png';">
          <div *ngIf="beast.artistInfo.artist" class="artist-credits">
            <p *ngIf="!beast.artistInfo.link">Artist: {{beast.artistInfo.artist}}</p>
            <a *ngIf="beast.artistInfo.link" target="_blank" href="{{beast.artistInfo.link}}">Artist:
              {{beast.artistInfo.artist}}</a>
            <i *ngIf="beast.artistInfo.tooltip" class="fas fa-info-circle icon-small blue"
              matTooltip="{{beast.artistInfo.tooltip}}" matTooltipClass="my-tooltip"></i>
          </div>
        </div>

        <div class="role-shell conflict-shell unset-width" *ngIf="beast.roles.length > 0">
          <h2>Role</h2>
          <mat-form-field>
            <mat-select (selectionChange)="setRole($event)" [(value)]="selectedRoleId">
              <mat-option
                matTooltip="{{(tooltipName(role.role, role.secondaryrole, role.socialrole, role.socialsecondary, role.skillrole))}}"
                matTooltipPosition="right" *ngFor="let role of beast.roles" [value]="role.id">
                {{role.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button (click)="getShortCutURL()" matTooltip="This creates a URL that will go directly to this Role"
            class="copyURLButton"><i class="fas fa-link"></i></button>
        </div>

        <div
          *ngIf="(beast.conflict.convictions.length > 0 || beast.conflict.descriptions.length > 0 || beast.conflict.devotions.length > 0 || beast.conflict.flaws.length > 0) || (selectedRoleId && beast.roleInfo[selectedRoleId].socialrole) || (!selectedRoleId && beast.socialrole)">
          <h2>Confrontation</h2>
          <div class="divider"></div>
        </div>
        <div class="role-select"
          *ngIf="(selectedRoleId && beast.roleInfo[selectedRoleId].socialrole) || (!selectedRoleId && beast.socialrole)">
          <h3>Confrontation Role Type </h3>
          <p>
            {{selectedRoleId ? beast.roleInfo[selectedRoleId].socialrole +
            (beast.roleInfo[selectedRoleId].socialsecondary
            ? ' [' + beast.roleInfo[selectedRoleId].socialsecondary + ']' : '' ) : beast.socialrole +
            (beast.socialsecondary ? ' [' + beast.socialsecondary + ']' : '' )}} <i
              class="fas fa-info-circle icon-small blue"
              matTooltip="{{socialRolesInfo[selectedRoleId ? beast.roleInfo[selectedRoleId].socialrole : beast.socialrole].description 
                + (selectedRoleId && beast.roleInfo[selectedRoleId].socialsecondary ? '\n' + socialSecondaryInfo[beast.roleInfo[selectedRoleId].socialsecondary].description : beast.socialsecondary ? '\n' + socialSecondaryInfo[beast.socialsecondary].description : '')}}"
              matTooltipClass="my-tooltip"></i></p>
        </div>

        <div class="conflict-shell unset-width" *ngIf="showCharacteristicsSection">
          <div class="conflict-inner-shell box-padding" *ngIf="showDescriptions">
            <h3>Description</h3>
            <div class="divider white"></div>
            <div *ngFor="let trait of beast.conflict.descriptions; let i = index">
              <div class="flex-row-opposite" *ngIf="selectedRoleId === trait.socialroleid || trait.allroles">
                <h5>{{trait.trait | titlecase}}</h5>
                <h5>{{trait.value}}</h5>
              </div>
            </div>
          </div>

          <div class="conflict-inner-shell box-padding" *ngIf="showConvictions">
            <h3>Convictions</h3>
            <div class="divider white"></div>
            <div *ngFor="let trait of beast.conflict.convictions; let i = index">
              <div class="flex-row-opposite" *ngIf="selectedRoleId === trait.socialroleid || trait.allroles">
                <h5>{{trait.trait | titlecase}}</h5>
                <h5>{{trait.value}}</h5>
              </div>
            </div>
          </div>

          <div class="conflict-inner-shell box-padding" *ngIf="showDevotions">
            <h3>Devotions</h3>
            <div class="divider white"></div>
            <div *ngFor="let trait of beast.conflict.devotions; let i = index">
              <div *ngIf="selectedRoleId === trait.socialroleid || trait.allroles" class="flex-row-opposite">
                <h5>{{trait.trait | titlecase}}</h5>
                <h5>{{trait.value}}</h5>
              </div>
            </div>
          </div>

          <div class="conflict-inner-shell box-padding" *ngIf="showFlaws">
            <h3>Flaws</h3>
            <div class="divider white"></div>
            <div *ngFor="let trait of beast.conflict.flaws; let i = index">
              <div *ngIf="(selectedRoleId === trait.socialroleid || trait.allroles) && trait.trait !== 'Any'"
                class="flex-row-opposite">
                <h5>{{trait.trait | titlecase}} {{trait.severity ? '(' + trait.severity + ')' : ''}}</h5>
                <h5>{{trait.value ? trait.value : '1'}}</h5>
              </div>
              <div class="inline-loading"
                *ngIf="(selectedRoleId === trait.socialroleid || trait.allroles) && trait.trait === 'Any'">
                <div class="spinner">
                  <div class="bounce1"></div>
                  <div class="bounce2"></div>
                  <div class="bounce3"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          *ngIf="beast.skills.length > 0 || (selectedRoleId && beast.roleInfo[selectedRoleId].skillrole) || (!selectedRoleId && beast.skillrole)">
          <h2>Skills</h2>
          <div class="divider"></div>
        </div>
        <div class="role-select"
          *ngIf="(selectedRoleId && beast.roleInfo[selectedRoleId].skillrole) || (!selectedRoleId && beast.skillrole)">
          <h3>Skill Role Type </h3>
          <p> {{selectedRoleId ? beast.roleInfo[selectedRoleId].skillrole : beast.skillrole}} <i
              class="fas fa-info-circle icon-small blue"
              matTooltip="{{skillRolesInfo[selectedRoleId ? beast.roleInfo[selectedRoleId].skillrole : beast.skillrole].description}}"
              matTooltipClass="my-tooltip"></i></p>
        </div>
        <div class="conflict-shell unset-width" *ngIf="showSkillSection">
          <div *ngFor="let skill of beast.skills; let i = index">
            <div class="flex-row-opposite {{skill.skill.includes('Skill Suite') ? 'skill-suite' : '' }}"
              *ngIf="selectedRoleId === skill.skillroleid || skill.allroles">
              <h5>{{skill.skill}}</h5>
              <h5>{{skill.rank}}</h5>
            </div>
          </div>
        </div>

        <div class="box-padding" *ngIf="beast.challenges.length > 0 || beast.obstacles.length > 0">
          <h3 *ngIf="beast.obstacles.length > 0">Related Obstacles</h3>
          <mat-chip-list *ngIf="beast.obstacles.length > 0">
            <div *ngFor="let obstacle of beast.obstacles; let i = index">
              <mat-chip (click)="selectObstacle(obstacle.obstacleid)" color="primary" selected>
                {{obstacle.name}} <i
                  class="fa-solid {{obstacle.obstacleid === selectedObstacleId ? 'fa-chevron-down' : 'fa-chevron-up'}}"></i>
              </mat-chip>
            </div>
          </mat-chip-list>

          <div *ngIf="selectedObstacleId" class="view-obstacles">
            <app-obstacle-innards [id]="selectedObstacleId" [goToEdit]="goToEditBinded"></app-obstacle-innards>
          </div>

          <br *ngIf="beast.challenges.length > 0 && beast.obstacles.length > 0">
          <h3 *ngIf="beast.challenges.length > 0">Related Skill Challenges</h3>
          <mat-chip-list *ngIf="beast.challenges.length > 0">
            <div *ngFor="let challenge of beast.challenges; let i = index">
              <mat-chip (click)="openChallenge(challenge.challengeid)" color="primary" selected>
                {{challenge.name}} <i class="fa-solid fa-expand"></i></mat-chip>
            </div>
          </mat-chip-list>
        </div>

        <h2>Combat</h2>
        <div class="divider"></div>
        <div class="role-select"
          *ngIf="(selectedRoleId && beast.roleInfo[selectedRoleId].role) || (!selectedRoleId && beast.role)">
          <h3>Combat Role Type </h3>
          <p>
            {{selectedRoleId ? beast.roleInfo[selectedRoleId].role : beast.role}}
            {{selectedRoleId && beast.roleInfo[selectedRoleId] && beast.roleInfo[selectedRoleId].secondaryrole ? '[' +
            beast.roleInfo[selectedRoleId].secondaryrole + ']' :
            selectedRoleId ? '' : beast.secondaryrole ? '[' + beast.secondaryrole + ']' : ''}} <i
              class="fas fa-info-circle icon-small blue"
              matTooltip="{{combatRolesInfo[selectedRoleId ? beast.roleInfo[selectedRoleId].role : beast.role].description
                + (selectedRoleId && beast.roleInfo[selectedRoleId].secondaryrole ? '\n' + combatSecondaryInfo[beast.roleInfo[selectedRoleId].secondaryrole].description : beast.secondaryrole ? '\n' + combatSecondaryInfo[beast.secondaryrole].description : '')}}"
              matTooltipClass="my-tooltip"></i></p>
          <div class="add-to-quick-view" matTooltip="Click to Add to Quick View" (click)="addToQuickView()"><i
              class="fa-solid fa-square-plus"></i><i class="fa-solid fa-rectangle-list"></i></div>
        </div>

        <div *ngIf="(!selectedRoleId && !beast.role) || (selectedRoleId && !beast.roleInfo[selectedRoleId].role)">
          <div class="role-select extra-padding">
            <h3>Add to Quick View</h3>
            <div class="add-to-quick-view" matTooltip="Click to Add to Quick View" (click)="addToQuickView()"><i
                class="fa-solid fa-square-plus"></i><i class="fa-solid fa-rectangle-list"></i></div>
          </div>
        </div>

        <div class="combat-shell" *ngIf="beast.combatStatArray.length > 0">
          <div class="divider"></div>
          <div class="combat-square-shell">
            <div *ngFor="let combatSquare of beast.combatStatArray" class="combat-square-margin"
              [ngClass]="{'noDisplay': selectedRoleId !== combatSquare.roleid}">
                <app-combat-square [baseCombatSquare]="combatSquare.combatSquare"
                [combatStats]="combatSquare.combatStats"
                [primaryRole]="selectedRoleId ? beast.roleInfo[selectedRoleId].role : beast.role"
                [secondaryRole]="selectedRoleId ? beast.roleInfo[selectedRoleId].secondaryrole : beast.secondaryrole"
                [size]="selectedRoleId && beast.roleInfo[selectedRoleId].size ? beast.roleInfo[selectedRoleId].size : beast.size ? beast.size : 'Medium'"
                [points]="selectedRoleId ? beast.roleInfo[selectedRoleId].combatpoints : beast.combatpoints"></app-combat-square>
            </div>
          </div>
        </div>

        <div class="vitals-and-movement-shell {{aLotOfMovement ? 'alot-of-movement' : ''}}">
          <div class="vitals-shell">
            <div class="flex-row-opposite">
              <h3>Vitality</h3>
              <span class="vitality-flex">
                <p>
                  {{findWhatToDisplay('physical', 'largeweapons', 'N/A')}}</p>
                <p class="vitality-flex-subtitle">{{selectedRoleId ?
                  beast.roleInfo[selectedRoleId].phyiscalAndStress.physical.diceString :
                  beast.phyiscalAndStress.physical.diceString}}</p>
              </span>
            </div>

            <div>
              <div *ngIf="displayedVitalityRoll" class="rolled-stats-shell">
                <mat-form-field>
                  <input matInput>
                </mat-form-field>
                <p> / </p>
                <p matTooltip="This is the Fatigue Threshold based on the average Vitality">
                  ({{selectedRoleId ? beast.roleInfo[selectedRoleId].phyiscalAndStress.physical.fatigue :
                  beast.phyiscalAndStress.physical.fatigue}}) </p>
                <p> / </p>
                <p> {{displayedVitalityRoll}} </p>
              </div>
            </div>

            <div class="locationVitality">
              <div *ngFor="let location of beast.locationalvitality; let i = index">
                <div
                  *ngIf="selectedRoleId && !beast.roleInfo[selectedRoleId].uniqueLocationalVitality ? null === location.roleid : selectedRoleId === location.roleid || location.allroles">
                  <div class="flex-row-opposite">
                    <h3>{{location.location}} Vitality</h3>
                    <span class="vitality-flex">
                      <p *ngIf="isNumber(location.average)">
                        {{location.average}}</p>
                      <p class="vitality-flex-subtitle">{{location.vitality}} </p>
                    </span>
                  </div>
                  <!-- <div class="checkboxShell"> -->
                  <!-- <div *ngFor="let checkbox of locationCheckboxes[location.id].checkboxes; let i = index">
                      <mat-checkbox matTooltip="{{i+1}}" *ngIf="!checkbox.value"
                        (change)="checkCheckbox($event, i, location.id)" [(ngModel)]="checkbox.checked">
                      </mat-checkbox>
                      <p *ngIf="checkbox.value"> {{checkbox.value}} </p>
                    </div> -->
                  <div class="rolled-stats-shell">
                    <mat-form-field>
                      <input matInput>
                    </mat-form-field>
                    <p> / {{location.rolled}}</p>
                  </div>
                  <!-- </div> -->
                </div>
              </div>
            </div>

            <div *ngIf="isNumber(trauma) && trauma !== 0" class="flex-row-opposite">
              <h3>Trauma Threshold</h3>
              <p>
                {{selectedRoleId && beast.roleInfo[selectedRoleId].notrauma ? 'N/A' : beast.notrauma ? 'N/A' :
                this.trauma}}</p>
            </div>

            <div class="divider white"></div>

            <div class="flex-row-opposite">
              <h3>Stress Threshold</h3>
              <p>
                {{findWhatToDisplay('mental', 'stress', 'N/A')}}</p>
            </div>
            <div *ngIf="(selectedRoleId && beast.roleInfo[selectedRoleId].phyiscalAndStress.mental.stress !== 'N') || (!selectedRoleId && beast.phyiscalAndStress.mental.stress !== 'N')" class="rolled-stats-shell">
              <mat-form-field>
                <input matInput>
              </mat-form-field>
              <p> / </p>
              <p matTooltip="This is the Panic Threshold based on the Stress Threshold.">
                ({{selectedRoleId ? beast.roleInfo[selectedRoleId].phyiscalAndStress.mental.panic :
                beast.phyiscalAndStress.mental.panic}}) </p>
              <p> / </p>
              <p> {{selectedRoleId ? beast.roleInfo[selectedRoleId].phyiscalAndStress.mental.stress :
                beast.phyiscalAndStress.mental.stress}} </p>
            </div>
            <div class="flex-row-opposite">
              <h3>Caution Threshold</h3>
              <p>{{findWhatToDisplay('mental', 'caution', 'Never')}} <i class="fas fa-info-circle icon-small blue"
                  matTooltip="If the monster's combine damage and Stress is over this number, they go on the defensive: slowly retreating if they can get away, falling back to a more defensive position if they can't, or simply switching to defensive strategies if unable.">
                </i></p>
            </div>
          </div>

          <div class="vitals-shell">
            <h3>Movement</h3>
            <div *ngIf="beast.movement.length == 0">
              <div class="divider white"></div>
              <h4>This Monster Can't Move</h4>
            </div>
            <div *ngFor="let movementType of beast.movement">
              <div *ngIf="selectedRoleId === movementType.roleid || movementType.allroles">
                <div class="divider white"></div>
                <h4>{{movementType.type ? movementType.type : 'Land' | titlecase}}</h4>
                <div class="divider white"></div>
                <div class="flex-row-opposite">
                  <h5
                    [ngClass]="{'strike-through': movementType.movementSpeeds.strollspeed === 0 || !movementType.movementSpeeds.strollspeed }">
                    Crawl</h5>
                  <p>{{movementType.movementSpeeds.strollspeed === 0 || !movementType.movementSpeeds.strollspeed ? '' :
                    movementType.movementSpeeds.strollspeed + ' ft / sec'}}</p>
                </div>
                <div class="flex-row-opposite">
                  <h5
                    [ngClass]="{'strike-through': movementType.movementSpeeds.walkspeed === 0 || !movementType.movementSpeeds.walkspeed }">
                    Walk</h5>
                  <p>{{movementType.movementSpeeds.walkspeed === 0 || !movementType.movementSpeeds.walkspeed ? '' :
                    movementType.movementSpeeds.walkspeed + ' ft / sec'}}</p>
                </div>
                <div class="flex-row-opposite">
                  <h5
                    [ngClass]="{'strike-through': movementType.movementSpeeds.jogspeed === 0 || !movementType.movementSpeeds.jogspeed }">
                    Jog
                  </h5>
                  <p>{{movementType.movementSpeeds.jogspeed === 0 ||
                    !movementType.movementSpeeds.jogspeed ? '' :
                    movementType.movementSpeeds.jogspeed + ' ft / sec'}}</p>
                </div>
                <div class="flex-row-opposite">
                  <h5
                    [ngClass]="{'strike-through': movementType.movementSpeeds.runspeed === 0 || !movementType.movementSpeeds.runspeed }">
                    Run
                  </h5>
                  <p>{{movementType.movementSpeeds.runspeed === 0 ||
                    !movementType.movementSpeeds.runspeed ? '' :
                    movementType.movementSpeeds.runspeed + ' ft / sec'}}</p>
                </div>
                <div class="flex-row-opposite">
                  <h5
                    [ngClass]="{'strike-through': movementType.movementSpeeds.sprintspeed === 0 || !movementType.movementSpeeds.sprintspeed  }">
                    Sprint</h5>
                  <p>{{movementType.movementSpeeds.sprintspeed === 0 || !movementType.movementSpeeds.sprintspeed
                    ? '' :
                    movementType.movementSpeeds.sprintspeed + ' ft / sec'}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          *ngIf="(beast.sp_atk && !beast.sp_atk.includes('None')) || (selectedRoleId && beast.roleInfo[selectedRoleId].attack) || (selectedRoleId && beast.specialAbilities[selectedRoleId] && beast.specialAbilities[selectedRoleId].length > 0) || (!selectedRoleId && beast.specialAbilities['generic'] && beast.specialAbilities['generic'].length > 0)">
          <h3 class="margin-top">Add. Attack Info</h3>
          <div
            *ngIf="!(selectedRoleId && beast.roleInfo[selectedRoleId].attack && beast.sp_atk && beast.sp_atk.includes('None') || ((selectedRoleId && beast.specialAbilities[selectedRoleId]) || (!selectedRoleId && beast.specialAbilities.generic)) && ((beast.sp_atk && beast.sp_atk.includes('None')) || !beast.sp_atk))">
            <quill-view-html [content]="beast.sp_atk"></quill-view-html>
          </div>
          <div *ngIf="selectedRoleId && beast.roleInfo[selectedRoleId].attack">
            <quill-view-html [content]="beast.roleInfo[selectedRoleId].attack"></quill-view-html>
          </div>
          <div *ngIf="selectedRoleId && beast.specialAbilities[selectedRoleId]">
            <div *ngFor="let ability of beast.specialAbilities[selectedRoleId]">
              <quill-view-html [content]="ability"></quill-view-html>
            </div>
          </div>
          <div *ngIf="!selectedRoleId && beast.specialAbilities['generic']">
            <div *ngFor="let ability of beast.specialAbilities.generic">
              <quill-view-html [content]="ability"></quill-view-html>
            </div>
          </div>
        </div>

        <div
          *ngIf="(beast.sp_def && !beast.sp_def.includes('None')) || (selectedRoleId && beast.roleInfo[selectedRoleId] && beast.roleInfo[selectedRoleId].defense)">
          <h3 class="margin-top">Add. Defense Info</h3>
          <div
            *ngIf="!(selectedRoleId && beast.roleInfo[selectedRoleId].defense && (beast.sp_def && beast.sp_def.includes('None') || !beast.sp_def))">
            <quill-view-html [content]="beast.sp_def"></quill-view-html>
          </div>
          <div *ngIf="selectedRoleId && beast.roleInfo[selectedRoleId].defense">
            <quill-view-html [content]="beast.roleInfo[selectedRoleId].defense"></quill-view-html>
          </div>
        </div>

        <h3 class="margin-top">Tactics & Strategy</h3>
        <div>
          <quill-view-html [content]="beast.tactics"></quill-view-html>
        </div>
      </div>

      <div class="right">
        <h2 class="introduction">Introduction</h2>
        <div class="divider introduction"></div>
        <div>
          <quill-view-html [content]="beast.intro"></quill-view-html>
        </div>

        <h2>Appearance</h2>
        <div class="divider"></div>
        <div>
          <quill-view-html [content]="beast.ecology"></quill-view-html>
        </div>

        <div *ngIf="beast.id === 442">
          <div class="mutation-shell">
            <table *ngFor="let table of primaryTables">
              <thead>
                <tr>
                  <th colspan="3">{{table.name}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of table.rows; let i = index">
                  <td>{{i === 0 ? 1 : (((table.max / table.rows.length) * (i)) + 1 ).toFixed(0)}} - {{((table.max /
                    table.rows.length) * (i + 1)).toFixed(0)}}</td>
                  <td colspan="2">{{row}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="mutation-shell box-padding">
            <mat-accordion>
              <mat-expansion-panel *ngFor="let table of secondaryTables">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h3>{{table.name}}</h3>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <table>
                  <tbody>
                    <tr *ngFor="let row of table.rows; let i = index">
                      <td>{{i === 0 ? 1 : (((table.max / table.rows.length) * (i)) + 1 ).toFixed(0)}} - {{((table.max /
                        table.rows.length) * (i + 1)).toFixed(0)}}</td>
                      <td colspan="2">{{row}}</td>
                    </tr>
                  </tbody>
                </table>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>

        <div *ngIf="demonIds.includes(beast.id)">
          <div class="mutation-shell box-padding">
            <mat-accordion>
              <mat-expansion-panel *ngFor="let table of demonTables">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h3>Random {{table.name}}</h3>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <table>
                  <tbody>
                    <tr *ngFor="let row of table.rows; let i = index">
                      <td>{{i === 0 ? 1 : (((table.max / table.rows.length) * (i)) + 1 ).toFixed(0)}}</td>
                      <td colspan="2">{{row}}</td>
                    </tr>
                  </tbody>
                </table>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>

        <div *ngIf="beast.folklore.length > 0">
          <h2>Common Folklore <i class="fas fa-info-circle small-font blue"
              matTooltip="Common folklore is what people believe about the monster and what players will know without making a Check. The first line is the belief while the second line is the truth. The belief is almost always wrong in some way but almost always has a bit of truth as well."></i>
          </h2>
          <div class="divider"></div>
          <div class="box-padding">
            <div *ngFor="let lore of beast.folklore" class="belief-display-view">
              <p><i class="fa-solid fa-star-of-life"></i> {{lore.belief}}</p>
              <p>{{lore.truth}}</p>
            </div>
          </div>
        </div>

        <h2 *ngIf="beast.habitat">Habitat/Society</h2>
        <div *ngIf="beast.habitat" class="divider"></div>
        <div *ngIf="beast.habitat">
          <quill-view-html [content]="beast.habitat"></quill-view-html>
        </div>

        <h2>Random Encounter <i class="fas fa-info-circle icon-small blue"
            matTooltip="This gives you guidelines on generating a random encounter using this monster. The results are tailored to the monster and so will generally be indicative of its behavior."></i>
        </h2>
        <div class="divider"></div>
        <div class="box-padding encounterShell" *ngIf="encounter !== 'loading' && encounter.main">
          <div *ngIf="encounter.sign" class="flex-shell-with-table">
            <div class="flex-row-opposite">
              <h3>Sign <i class="fas fa-info-circle small-font"
                  matTooltip="Signs are evidence of the monster's passing or evidence that the monster is near. They can be sights, sounds, leavings, victims, tracks, smells & vapors, environmental damage, and/or intentional markings."></i>
              </h3>
              <p>{{encounter.sign.sign}} <i *ngIf="encounter.allSigns" (click)="toggleAllSigns()"
                  class="fa-solid fa-chevron-down blue {{isAllSignsTableShown ? 'upside-down' : ''}}"
                  matTooltip="{{isAllSignsTableShown ? 'Hide' : 'Show'}} all signs for this entry."></i></p>
            </div>
            <table *ngIf="isAllSignsTableShown" class="first-column-left">
              <thead>
                <th colspan="3">All Signs for Entry</th>
              </thead>
              <tr>
                <th>Value</th>
                <th>Weight</th>
              </tr>
              <tr *ngFor="let sign of encounter.allSigns">
                <td>{{sign.sign}}</td>
                <td>{{sign.weight}}</td>
              </tr>
            </table>
          </div>
          <div class="playerShell">
            <div class="flex-row-together">
              <h3>Main Players</h3>
              <p>{{createEncounterLabel(encounter.main.label, encounter.main.monsterRoles)}}
                <span
                  *ngFor="let player of encounter.main.monsterRoles | keyvalue; let i = index">{{getConnector(encounter.main.monsterRoles,
                  i)}}{{player.value}} {{player.key !== 'None' ?
                  (player.value === 1 ? player.key : player.key + "s") : player.value === 1 ?
                  handleCommaInName(beast.name) :
                  beast.plural ? beast.plural : handleCommaInName(beast.name) + "s"}}</span>
              </p>
            </div>
          </div>
          <div *ngIf="encounter.verb" class="flex-row-opposite">
            <h3>Verb</h3>
            <p>{{encounter.verb}}</p>
          </div>
          <div *ngIf="encounter.noun" class="flex-row-opposite">
            <h3>Noun</h3>
            <p>{{encounter.noun}}</p>
          </div>
          <div *ngIf="encounter.temperament" class="flex-row-opposite">
            <h3>Temperament</h3>
            <p id="temperamentPTag">{{encounter.temperament.temperament}} <i class="fas fa-info-circle icon-small blue"
                matTooltip="{{encounter.temperament.tooltip}}"></i></p>
          </div>
          <div *ngIf="encounter.battlefield" class="flex-row-opposite">
            <h3>Battlefield [Pattern] <i class="fas fa-info-circle icon-small blue"
                matTooltip="Battlefield Patterns are found in the 2.2 Combat Chapter of the GameMaster's Guide."></i>
            </h3>
            <p id="temperamentPTag">{{encounter.battlefield}} [{{encounter.pattern}}]</p>
          </div>
          <div class="flex-row-opposite">
            <h3>Time of Day</h3>
            <p>{{encounter.timeOfDay}}</p>
          </div>
          <div class="flex-row-opposite">
            <h3>Lairs</h3>
            <p>{{encounter.main.milesFromLair}} Mile{{encounter.main.milesFromLair !== 1 ? 's' : ''}} Away</p>
          </div>
        </div>

        <div class="box-padding" *ngIf="encounter.complication && encounter.main">
          <h3>Complication{{encounter.complication.length > 1 ? 's' : ''}}</h3>
          <div class="complicationsShell">
            <div class="complicationCard" *ngFor="let complication of encounter.complication">
              <div>
                <h5>Type: </h5>
                <p>{{complication.type}}</p>
              </div>
              <div *ngIf="complication.backup">
                <h5>Back Up: </h5>
                <p>{{complication.backup.number}} {{complication.backup.number > 1 ? complication.backup.rankplural :
                  complication.backup.rank}}</p>
              </div>
              <div *ngIf="complication.time">
                <h5>Arrival Time: </h5>
                <p>{{complication.time}}</p>
              </div>
              <div *ngIf="complication.rival">
                <h5>Enemies: </h5><a target="_blank"
                  href="{{getUrl(complication.rival.id)}}">{{complication.rival.number}}
                  {{complication.rival.number > 1 ? complication.rival.plural : complication.rival.name}}</a>
              </div>
              <div *ngIf="complication.amount">
                <h5>Damage Taken: </h5>
                <p>{{complication.amount}}</p>
              </div>
              <div *ngIf="complication.byWhom">
                <h5>By: </h5><a target="_blank"
                  href="{{getUrl(complication.byWhom.id)}}">{{complication.byWhom.name}}</a>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="encounter !== 'loading' && encounter.main" class="regenerateButtonShell">
          <div class="group-type-shell" *ngIf="encounter.allGroups && encounter.allGroups.length > 1">
            <mat-form-field>
              <mat-label>Group Type</mat-label>
              <mat-select (selectionChange)="setGroupParam($event)" [(value)]="groupId">
                <mat-option>
                  No Preference
                </mat-option>
                <mat-option *ngFor="let group of encounter.allGroups" value="{{group.id}}">
                  {{group.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button mat-raised-button (click)="getRandomEncounter()" color="warn"><i class="fas fa-redo"></i></button>
        </div>

        <div class="box-padding encounterShell" *ngIf="encounter === 'loading'">
          <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </div>

        <div class="box-padding encounterShell" *ngIf="encounter !== 'loading' && !encounter.main">
          <p class="text-indent">This Monster Currently Has No Random Encounter Information.</p>
        </div>

        <div class="divider"></div>
        <div class="flex-row-opposite padding-without-flex">
          <h3>Combat Hash</h3>
          <p *ngIf="selectedRoleId">{{beast.roleInfo[selectedRoleId].hash}}</p>
          <p *ngIf="!selectedRoleId">{{beast.hash}}</p>
        </div>

        <h2>Types</h2>
        <div class="divider"></div>
        <div class="box-padding">
          <mat-accordion>
            <mat-expansion-panel *ngFor="let type of beast.types">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h3>{{type.typeid | typeConverter}}</h3>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <quill-view-html [content]="type.description"></quill-view-html>
              <button color="primary" class="right-most-buttom" mat-raised-button
                (click)="navigateToSearch('types', type.typeid)">See More
                {{type.typeid | typeConverter}}s</button>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <h2>Misc Information</h2>
        <div class="divider"></div>
        <div class="box-padding">
          <div class="flex-row-opposite">
            <h3
              *ngIf="selectedRoleId && beast.roleInfo[selectedRoleId].size ? beast.roleInfo[selectedRoleId].size : beast.size">
              Size <i class="fas fa-info-circle icon-small blue"
                matTooltip="A creature receives +3 to melee & ranged attacks for each size over Medium or -3 for each size under. This is factored into their Defense already."></i>
            </h3>
            <p>{{selectedRoleId && beast.roleInfo[selectedRoleId].size ? beast.roleInfo[selectedRoleId].size :
              beast.size}}</p>
          </div>
          <div class="flex-row-opposite" *ngIf="beast.senses">
            <h3>Senses</h3>
            <p>{{beast.senses}}</p>
          </div>
          <h3 *ngIf="beast.environ.length > 0">Environment</h3>
          <div *ngIf="beast.environ.length > 0" class="chip-shell">
            <mat-chip-list>
              <mat-chip (click)="navigateToSearch('environ', environ.environid)" *ngFor="let environ of beast.environ"
                color="primary" selected>
                {{environ.environid | environConverter}}</mat-chip>
            </mat-chip-list>
          </div>
          <div class="flex-row-opposite" *ngIf="beast.diet">
            <h3>Diet</h3>
            <p>{{beast.diet}}</p>
          </div>
          <div *ngIf="beast.rarity" class="flex-row-opposite">
            <h3>Rarity</h3>
            <p>{{beast.rarity | rarityConverter}} <i class="fas fa-info-circle icon-small blue"
                matTooltip="+{{getRarityModifier(beast.rarity)}} to Monster Craft Checks"></i></p>
          </div>
          <div class="flex-row-opposite">
            <h3>Combat Rating</h3>
            <p>{{selectedRoleId ? beast.roleInfo[selectedRoleId].combatpoints : beast.combatpoints}}</p>
          </div>
          <div class="flex-row-opposite">
            <h3>Confrontation Rating</h3>
            <p>{{selectedRoleId ? beast.roleInfo[selectedRoleId].socialpoints : beast.socialpoints}}</p>
          </div>
          <div class="flex-row-opposite">
            <h3>Skill Rating</h3>
            <p>{{selectedRoleId ? beast.roleInfo[selectedRoleId].skillpoints : beast.skillpoints}}</p>
          </div>
          <div class="flex-row-opposite" *ngIf="beast.patreon >= 20">
            <h3>Access</h3>
            <p>Early <i class="fas fa-dice-d20 icon-blue"></i></p>
          </div>
          <div class="flex-row-opposite" *ngIf="beast.patreon >= 2 && beast.patreon < 20">
            <h3>Access</h3>
            <p>Deluxe <i class="fas fa-plus icon-blue"></i></p>
          </div>
        </div>

        <h2>Loot <i class="fas fa-info-circle icon-small blue"
            matTooltip="This doesn't include weapons and armor unless they're notable."></i></h2>
        <div class="divider"></div>
        <ul *ngIf="beast.loot.length > 0" class="box-padding lairLoot">
          <li *ngFor="let lootitem of beast.loot; let i = index">
            {{lootitem.loot}} ({{lootitem.price}})
          </li>
        </ul>

        <ul *ngIf="carriedLoot.length > 0" class="box-padding lairLoot">
          <li *ngFor="let loot of carriedLoot">{{loot}}
            <i *ngIf="loot.includes('alm script')" class="fas fa-info-circle icon-small blue"
              matTooltip="Destroying this script awards the noted Favor that must immediately be spent. It can take you above your Max Favor."></i>
            <i *ngIf="loot.includes('scroll')" class="fas fa-info-circle icon-small blue" matTooltip="Contains a spell with random Rudiments with Drain value about equal to SP noted. Cast as Runegalder although it requires a Weirdcarft Skill Check vs d20! to successfully cast.
                          Scroll is destroyed on casting."></i>
            <i *ngIf="loot.includes('Trait')" class="fas fa-info-circle icon-small blue"
              matTooltip="Use the sc price as the base price and then add the Trait on top."></i>
          </li>
        </ul>

        <div *ngIf="beast.lootnotes">
          <div *ngIf="beast.lootnotes">
            <h3 *ngIf="beast.lootnotes" class="loot-notes-subtitle">Additional Notes</h3>
            <quill-view-html [content]="beast.lootnotes"></quill-view-html>
          </div>
        </div>

        <div
          *ngIf="beast.loot.length == 0 && (!beast.lootnotes || beast.lootnotes.length == 0) && carriedLoot.length === 0"
          class="box-padding margin-bottom">
          <p class="text-indent">This creature carries nothing else of value.</p>
        </div>

        <h3>Lair Loot <i class="fas fa-info-circle icon-small blue"
            matTooltip="Loot that can only be found at the beast's lair and that they don't carry on them."></i></h3>
        <ul *ngIf="lairLoot.length > 0" class="box-padding lairLoot">
          <li *ngFor="let loot of lairLoot">{{loot}}
            <i *ngIf="loot.includes('alm script')" class="fas fa-info-circle icon-small blue"
              matTooltip="Destroying this script awards the noted Favor that must immediately be spent. It can take you above your Max Favor."></i>
            <i *ngIf="loot.includes('scroll')" class="fas fa-info-circle icon-small blue" matTooltip="Contains a spell with random Rudiments with Drain value about equal to SP noted. Cast as Runegalder although it requires a Weirdcarft Skill Check vs d20! to successfully cast.
                          Scroll is destroyed on casting."></i>
            <i *ngIf="loot.includes('Trait')" class="fas fa-info-circle icon-small blue"
              matTooltip="Use the sc price as the base price and then add the Trait on top."></i>
          </li>
        </ul>
        <div *ngIf="lairLoot.length == 0" class="box-padding">
          <p class="text-indent">This creature has no loot at their lair.</p>
        </div>

        <div *ngIf="lairlootpresent" class="loot-regenerate-shell">
          <div class="multi-loot">
            <p>I need loot for </p>
            <input type="number" placeholder="1" (change)="setMonsterNumber($event)" (blur)="getLoot()" min="1"
              max="25" />
            <p>monsters</p>
          </div>
          <button color="primary" mat-raised-button (click)="getLoot()" color="warn"><i
              class="fas fa-redo"></i></button>
        </div>

        <h2>
          Weird Pleroma <i class="fas fa-info-circle icon-small blue" matTooltip="This represents body parts that can be harvested that you can then sacrifice for extra Spell Points for the listed spell or a bonus to the corresponding Weirdcraft Advanced Skill Check.
            The Size of pleroma is variable but, by default, is one size smaller than the monster so a Large monster will have Medium-sized pleroma.
            For every 2 Boons, the characters gain another pleroma, if applicable."></i>
        </h2>
        <div class="divider"></div>
        <div *ngIf="beast.reagents.length > 0" class="reagents-shell box-padding">
          <mat-accordion>
            <mat-expansion-panel *ngFor="let reagent of beast.reagents">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h3>{{reagent.name}}</h3>
                </mat-panel-title>
                <mat-panel-description>
                  ID Difficulty: {{reagent.difficulty}}
                </mat-panel-description>
              </mat-expansion-panel-header>

              <div class="inner-reagents-shell">
                <div class="flex-row-opposite">
                  <h3>Spell</h3>
                  <p>{{reagent.spell}}</p>
                </div>
                <div class="flex-row-opposite">
                  <h3>Harvest Diff.</h3>
                  <p>{{reagent.harvest ? reagent.harvest : reagent.difficulty}} <i *ngIf="reagent.harvest === 'n/a'"
                      class="fas fa-info-circle icon-small blue" matTooltip="No Check is needed"></i></p>
                </div>
                <div class="flex-row-opposite">
                  <h3>Price</h3>
                  <p>{{ handleReagentPrice(reagent.harvest, reagent.difficulty) }}</p>
                </div>
                <div class="flex-row-opposite">
                  <h3>Spell Point Bonus</h3>
                  <p>{{ spellPointBonus() }}</p>
                </div>
                <div class="flex-row-opposite">
                  <h3>Check Bonus</h3>
                  <p>{{ spellCheckBonus() }}</p>
                </div>
              </div>
              <h3></h3>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div *ngIf="beast.reagents.length == 0" class="box-padding">
          <p class="text-align">This creature has no harvestable pleroma.</p>
        </div>

        <h2>Variants</h2>
        <div class="divider"></div>
        <div *ngIf="beast.variants.length > 0" class="chip-shell">
          <mat-chip-list>
            <mat-chip (click)="goToVariant(variant.variantid)" *ngFor="let variant of beast.variants" color="accent"
              selected>
              {{variant.name}}</mat-chip>
          </mat-chip-list>
        </div>
        <div *ngIf="beast.variants.length == 0" class="box-padding">
          <p class="text-indent">This creature currently has no variants</p>
        </div>

        <!-- <h2>Special Harvest</h2> -->

        <h2>Meta Notes</h2>
        <div class="divider"></div>
        <div *ngIf="beast.meta && beast.meta.length > 0">
          <quill-view-html [content]="beast.meta"></quill-view-html>
        </div>

        <div *ngIf="!beast.meta || beast.meta.length == 0" class="box-padding">
          <p class="text-align">This creature currently has no meta notes</p>
        </div>

        <h2>Personal Notes</h2>
        <div class="divider"></div>
        <div>
          <app-player-notes class="gm-notes-shell" [notes]="beast.notes" [id]="beast.id"></app-player-notes>
        </div>
      </div>
    </div>

    <app-weird-shaping-display [casting]="beast.casting" [spells]="beast.spells" [selectedRoleId]="selectedRoleId">
    </app-weird-shaping-display>

    <button *ngIf="loggedIn === 'owner'" mat-raised-button color="warn"
      [routerLink]="['/beast', beast.id, 'edit']">Edit</button>
    <button *ngIf="loggedIn === 'owner'" mat-raised-button color="accent"
      [routerLink]="['/beast', 0, 'edit', {'templateId': beast.id}]">Use As Template For New</button>
  </mat-card>
</div>