h1 {
    margin: 10px 0;
}

input {
    border: unset;
    border-bottom: 1px solid;
    background: unset;
}

select {
    border: unset;
    background: unset;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    cursor: pointer;
}

strong {
    font-weight: bold;
}

i {
    font-size: unset;
}

.add-button-shell {
    display: flex;
    justify-content: end;
    margin-top: 15px;
}

.mat-expansion-panel {
    box-shadow: none;
    background: rgba(211, 211, 211, 0.5);
}

.beasts-in-list-shell {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1px 0;
}

.beasts-in-list-shell div {
    width: 33%
}

.list-header {
    margin-top: 5px;
    border-bottom: 1px solid black;
}

.list-header p {
    font-size: 12px;
}

.trash-shell-div {
    display: flex;
    justify-content: end;
}

.trash-shell-button {
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 3px;
}

.list-trash-shell-button {
    padding: 3px 10px;
    align-items: center;
}

.list-trash-shell-button i {
    margin-right: 5px;
}

.delete-buttons-shell .confirmation {
    width: 45% !important
}

.list-delete-buttons-shell {
    width: 25%;
}

.trash-shell-button:hover {
    background: lightgray
}

.delete-buttons-shell {
    display: flex;
    justify-content: space-between;
}