<mat-card>
  <div *ngIf="lists.length === 0 && beastService.loggedIn">
    <h1>You have no random encounter lists!</h1>
    <p>Click on the "<i class="fa-solid fa-plus"></i> List" button below to get started!</p>
  </div>

  <div *ngIf="lists.length === 0 && !beastService.loggedIn">
    <h1>You need to log in to view your lists</h1>
  </div>
  
  <div *ngIf="lists.length > 0">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let list of lists">
        <mat-expansion-panel-header (keydown.Space)="$event.stopImmediatePropagation();">
          <mat-panel-title>
            <input [value]="list.name" (blur)="updateName(list.id, $event)">
          </mat-panel-title>
          <mat-panel-description>
            {{list.beasts.length}} / {{beastService.loggedIn && beastService.loggedIn.patreon ? (beastService.loggedIn.patreon * 25) + 50 : 50}} Entries

            <div matTooltip="Randomly roll on this list and go to the entry" (click)="randomlyRoll($event, list.url)" class="fake-icon-button">
              <i class="fa-solid fa-dice"></i>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="button-shell">
          <div matTooltip="Copy link to random encounter list" (click)="getShortCutURL(list.url, false)" class="fake-icon-button">
            <i class="fa-solid fa-link"></i>
          </div>
          <div matTooltip="Copy link to random encounter list that randomly rolls on it and takes you to the entry" (click)="getShortCutURL(list.url, true)" class="fake-icon-button fake-icon-double-width">
            <i class="fa-solid fa-link"></i>
            <i class="fa-solid fa-dice"></i>
          </div>
        </div>

        <div class="beasts-in-list-shell list-header">
          <div>
            <p><strong>Entry</strong></p>
          </div>
          <div>
            <p><strong>Rarity</strong></p>
          </div>
          <div></div>
        </div>
        <div class="beasts-in-list-shell" *ngFor="let beast of list.beasts">
          <div matTooltip="Go to Entry" class="trash-shell-button name-button" (click)="goToEntry(beast.beastid)">
            <p>{{beast.name}} <i class="fa-solid fa-up-right-from-square"></i></p>
          </div>
          <div>
            <select name="Rarity" [value]="beast.rarity" (change)="captureRarity($event, beast.id)">
              <option value="10">Common</option>
              <option value="5">Uncommon</option>
              <option value="3">Rare</option>
              <option value="1">Legendary</option>
            </select>
          </div>
          <div class="trash-shell-div">
            <div *ngIf="checkForEntryDelete[beast.id]" class="delete-buttons-shell">
              <div class="trash-shell-button confirmation" matTooltip="Yes, Remove this Entry from the List" (click)="removeThisEntry(beast.id, list.id)">
                <i class="fa-solid fa-check"></i>
              </div>
              <div class="trash-shell-button confirmation" matTooltip="Nevermind" (click)="toggleCheckEntryDelete(beast.id)">
                <i class="fa-solid fa-x"></i>
              </div>
            </div>
            <div *ngIf="!checkForEntryDelete[beast.id]" class="trash-shell-button" (click)="toggleCheckEntryDelete(beast.id)">
              <i class="fa-solid fa-trash"></i>
            </div>
          </div>
        </div>

        <div>
          <div class="trash-shell-div list-trash-shell-div">
            <div *ngIf="checkForListDelete[list.id]" class="delete-buttons-shell list-delete-buttons-shell">
              <div class="trash-shell-button list-trash-shell-button confirmation" matTooltip="Yes, Remove this List" (click)="removeThisList(list.id)">
                <i class="fa-solid fa-check"></i>
              </div>
              <div class="trash-shell-button list-trash-shell-button confirmation" matTooltip="Nevermind" (click)="toggleCheckListDelete(list.id)">
                <i class="fa-solid fa-x"></i>
              </div>
            </div>
            <div *ngIf="!checkForListDelete[list.id]" class="trash-shell-button list-trash-shell-button" (click)="toggleCheckListDelete(list.id)">
              <i class="fa-solid fa-trash"></i> Delete This List
            </div>
          </div>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div *ngIf="(lists.length === 0 && beastService.loggedIn) || lists.length > 0" class="add-button-shell">
    <div class="list-number-shell" *ngIf="beastService.loggedIn && beastService.loggedIn.patreon">
        <p>{{lists.length}} / {{beastService.loggedIn.patreon}}</p>
    </div>
    <button mat-raised-button (click)="addNewTest('habitat')" color="accent"><i class="fa-solid fa-plus"></i>
      List</button>
  </div>
</mat-card>