.movement-shell thead {
    background: #607d8b;
    color: whitesmoke;
    text-align: center;
    font-family: 'know'; letter-spacing: 1px;
}

.movement-shell thead tr td {
    background: #4b4b4b
}

.movement-shell tbody tr th {
    background: gray;
    color: whitesmoke;
    font-family: 'know'; letter-spacing: 1px;
    text-align: center;
}

.movement-shell tbody tr:nth-child(odd) {
    background: lightgray
}

.movement-shell tbody tr td {
    text-align: center;
}

.movement-shell tbody tr td:first-child {
    text-align: left !important;
}

.movement-shell th, td {
    min-width: 25px;
    padding: 2px 5px;
}

.movement-shell .justify-right {
    padding-left: 25px;
}

.movement-shell .checkmark-role-background ::ng-deep .mat-checkbox-background {
    background-color: #a9a9a9 !important;
}

.download-token-shell {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.download-token-shell button {
    margin: 0
}

.edit-table-shell {
    padding: 10px 5px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
}

.edit-table-shell div:first-child {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.edit-table-shell button {
    height: 100%;
    margin: 0;
}

.checkbox-table thead {
    background: #607d8b;
    color: whitesmoke;
    text-align: center;
    font-family: 'know'; letter-spacing: 1px;
}

.checkbox-table thead tr td {
    background: #4b4b4b
}

.checkbox-table tbody tr th {
    background: gray;
    color: whitesmoke;
    font-family: 'know'; letter-spacing: 1px;
    text-align: center;
}

.checkbox-table tbody tr:nth-child(odd) {
    background: lightgray
}

.checkbox-table tbody tr td {
    text-align: center;
}

.checkbox-table tbody tr td:first-child {
    text-align: left !important;
}

.checkbox-table th, .checkbox-table td {
    min-width: 80px;
    padding: 2px 5px;
}

.justify-right {
    padding-left: 25px;
}

.checkmark-role-background ::ng-deep .mat-checkbox-background {
    background-color: #a9a9a9 !important;
}