<mat-card>
  <mat-toolbar color="accent">
    <h1>
      <i *ngIf="beast.patreon >= 20" matTooltip="Early Access" class="fas fa-dice-d20 icon-white"></i>
      <i *ngIf="beast.patreon >= 2 && beast.patreon < 20" matTooltip="Advanced" class="fas fa-plus icon-white"></i>
      {{beast.name | uppercase}}
    </h1>
  </mat-toolbar>

  <div class="content-shell">
    <img class="player-image" *ngIf="beast.id" [src]="imageBase + beast.id" [alt]="beast.name">
    <div *ngIf="!edit" class="quill-shell">
      <quill-view-html *ngIf="beast.notes.notes" [content]="beast.notes.notes"></quill-view-html>
      <h2 class="player-no-notes-heading" *ngIf="!beast.notes.notes">You currently have no notes</h2>
      <button mat-raised-button (click)="toggleEdit()" color="warn">Edit</button>
    </div>
    <div *ngIf="edit" class="quill-shell">
      <quill-editor [(ngModel)]="beast.notes.notes" (onContentChanged)="captureHTML($event)"></quill-editor>
      <button mat-raised-button (click)="saveNotes()" color="primary">Save</button>
    </div>
  </div>
</mat-card>